.flip							{ width: 100%;  background: #fff; height: 80px; transition: all 0.4s ease; margin: 0; display: none; position: fixed; z-index:9999; box-shadow: 0px .5px 0px #ccc; animation: fadein 2s; -moz-animation: fadein 2s;  -webkit-animation: fadein 2s; -o-animation: fadein 2s; }
.flip_logo			      			{ margin-left: -15px; }
.flip_menu						{ text-align: right; margin: 0; padding: 15px 20px }
.flip_menu  nav ul 				{ color: #fff;  z-index: 999; text-decoration: none; }
.flip_menu nav ul li				{ display: inline-block; padding: 15px 25px; cursor: pointer; }
.flip_menu nav ul li a				{ color: rgb(102,102,102) !important; text-decoration: none; -webkit-transition: all 0.5s;  -moz-transition: all 0.5s;  -o-transition: all 0.5s;  transition: all 0.5s;  }
.menu-li2 li a:after 				{ display: block; position:relative; left: 0;  bottom: -5px;  width: 0;  height: 1px;  background-color: rgb(102,102,102);  content: "";  -webkit-transition: all 0.5s;  -moz-transition: all 0.5s;  -o-transition: all 0.5s;  transition: all 0.5s; }
.menu-li2 li a:hover 				{ color: rgb(102,102,102) !important; text-decoration: none; }
.menu-li2 li a:hover:after 		{ width: 100%; }
video 							{ position: fixed; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); background-size: cover; transition: 1s opacity; -webkit-transition: 1s opacity; zoom: 1%; }
.banner_img 						{ position: fixed; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); background-size: cover; transition: 1s opacity; -webkit-transition: 1s opacity; zoom: 1%; }
.projDetailbanner_img			{ position: fixed; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); background-size: cover; transition: 1s opacity; -webkit-transition: 1s opacity; }
.logo-size						{ height: 140px;}
/* menu items starts*/
.spinner-master2 * 				{ transition:all 0.3s; -webkit-transition:all 0.3s; box-sizing:border-box; }
.spinner-master2 				{ position:fixed; margin:50px auto; height:40px; width:40px; }
.spinner-master2 input[type=checkbox] { display:none; }
.spinner-master2 label 			{ cursor:pointer; position:absolute; z-index:99; height:80%; width:80%; top:10px; left:0; }
.spinner-master2 .spinner2 		{ position:absolute; height:3px; width:80%; background-color:#fff; }
.spinner-master2 .diagonal.part-1 { position:relative; float:left; }
.spinner-master2 .horizontal 	{ position:relative; float:left; margin-top:7px; }
.spinner-master2 .diagonal.part-2 { position:relative; float:left; margin-top:6px; } 
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .horizontal { opacity: 0; } 
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-1 { transform:rotate(135deg); -webkit-transform:rotate(135deg); margin-top:10px; }
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-2 { transform:rotate(-135deg); -webkit-transform:rotate(-135deg); margin-top:-14px; }
.header_menu					{ float: right;  position: relative;  z-index: 999; cursor:pointer; margin: 0 70px;}  
.menu-li						{ top: 3em;  position: fixed;  right: 5em;  color: #fff;  z-index: 999; text-decoration: none;}
.menu-li li		 				{ position: relative;  display: inline-block; padding-bottom:5px; margin: 20px 10px;  text-align: left;  background-color: transparent; cursor: pointer;}
.menu-li li a						{ color: white; text-decoration:none;}					
.toggle-menu li a					{ color: white !important; text-shadow: none; text-decoration: none; background: rgba(0,0,0,0.7); opacity: 1;  display: inline-block; padding: 1em; border-bottom: 1px solid #999; width: 75%; }
.toggle-menu li a:hover			{ color: #aaa; background-color: #333333; }
.menu-li li:after 				{ display: block;  position: absolute;  left: 0;  bottom: -5px;  width: 0;  height: 1px;  background-color: #fff;  content: "";  -webkit-transition: all 0.5s;  -moz-transition: all 0.5s;  -o-transition: all 0.5s;  transition: all 0.5s;}
.menu-li li:hover 				{ color: #fff; text-decoration: none;}
.menu-li li:hover:after 			{ width: 100%;}
.logo_size						{ width:90px; height: 120px; position: relative; margin: 35px auto 0;}

.menu_right_space				{ right:11.5em; }

/* menu item ends */

.header_background_with_blue	{ }
.blue_trans						{ width:100%; height:100%; position:fixed; background: #0d53a9; opacity: .7; }
.header_background_with_bluetransparent{ background: -webkit-linear-gradient(#346fb1, #7293b2);  background: -o-linear-gradient(#346fb1, #7293b2); background: -moz-linear-gradient(#346fb1, #7293b2);  background: linear-gradient(#346fb1, #7293b2); opacity: .5; }
#logo							 { font-family: ProximaNova-Regular !important; font-weight:100;  color: white; margin:0 auto; font-size: 1.2rem; position: fixed; width: 100%; height: 100%; }
#logo  div						 { text-align: center; }
.index_HDRTXT					{ font-size: 50px !important;}
.header_text h1 					 { font-size: 50px; text-transform: uppercase; margin: 0; letter-spacing: .3rem; opacity:1 !important; font-weight: bold; font-family: ProximaNova-Bold; }
.header_text					 { position: absolute; top: 50%; opacity: 1 !important; width: 100%; height: 100%; }
.header_text p					 { font-size: 16px; width: 30%; position: relative; margin: 0 auto; padding: 10px 0;}
#logo a 							 { display: inline-block; color: #fff; text-decoration: none; transition: .6s background;  }
.down-arrow-circle				 { position: fixed; margin: 5% auto; border: 2px solid; width: 20px; height:35px; border-radius: 22px; display:inline-block; webkit-animation: 3s ease 0s infinite mymove2; -moz-animation: 3s ease 0s infinite mymove2; animation: 3s ease 0s infinite mymove2; top: 75%; left:50%; box-sizing: content-box; }
.header_line					 { box-sizing: border-box;  /* transform: scaleY(1.5); */ -webkit-animation: 2s ease 2s normal none infinite running scroll_animation; -animation: 2s ease 2s normal none infinite running scroll_animation; background: #fff; border-radius: 4px; height: 4px; animation: mymove 1s infinite; -webkit-animation: 3s ease 0s infinite mymove1; -moz-animation: 3s ease 0s infinite mymove1; left: 9px; position: absolute; top: 10%; width: 2px; /* z-index: 900; */ }
@-webkit-keyframes mymove 		 {
    50% 				{ top: 90%; }
	100%				{ top: 3%; }
}
@keyframes mymove1 				{
    25%                 { height:40%; }
    50%  				{ }
	75%					{ height:4px; }
	100%			       { }
}
@keyframes mymove  				{
   50% 					{ top: 90%; }
   100% 					{ top: 3%; }

}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (min-width: 500px) and (max-width: 710px){
	.down-arrow-circle			  { margin-top: 10%;	}
	.header_text h1 				  { font-size: 3em; }
	.header_menu     				  { margin:0 50px; }
	.spinner-master2			  { width: 35px; }
}
@media screen and (max-width: 499px){
	.down-arrow-circle			{ margin-top: 15%; }
	.header_text h1 				{ font-size: 2em; }
	.header_menu     				{ margin:0 30px; }
	.spinner-master2			{ width: 28px; }
	..menu-li					{ right: 3em; }
}
 