@font-face {
	font-family:Asap-Regular;
    src: url(font/asap/Asap-Regular.ttf),
    url(font/asap/Asap-Regular.woff),
    url(font/asap/Asap-Regular.eot),
    url(font/asap/Asap-Regular.otf);
}
@font-face {
	font-family:ProximaNova-Black;
    src: url(font/proxima_nova/ProximaNova-Black.ttf),
	url(font/proxima_nova/ProximaNova-Black.woff),
	url(font/proxima_nova/ProximaNova-Black.eot),
	url(font/proxima_nova/ProximaNova-Black.otf);
}
@font-face {
	font-family:ProximaNova-Bold;
    src: url(font/proxima_nova/ProximaNova-Bold.ttf),
	url(font/proxima_nova/ProximaNova-Bold.woff),
	url(font/proxima_nova/ProximaNova-Bold.eot),
	url(font/proxima_nova/ProximaNova-Bold.otf);
}
@font-face {
	font-family:ProximaNova-BoldIt;
    src: url(font/proxima_nova/ProximaNova-BoldIt.ttf),
	url(font/proxima_nova/ProximaNova-BoldIt.woff),
	url(font/proxima_nova/ProximaNova-BoldIt.eot),
	url(font/proxima_nova/ProximaNova-BoldIt.otf);
}
@font-face {
	font-family:ProximaNova-Light;
    src: url(font/proxima_nova/ProximaNova-Light.ttf),
	url(font/proxima_nova/ProximaNova-Light.woff),
	url(font/proxima_nova/ProximaNova-Light.eot),
	url(font/proxima_nova/ProximaNova-Light.otf);
}
@font-face {
	font-family:ProximaNova-LightIt;
    src: url(font/proxima_nova/ProximaNova-LightIt.ttf),
	url(font/proxima_nova/ProximaNova-LightIt.woff),
	url(font/proxima_nova/ProximaNova-LightIt.eot),
	url(font/proxima_nova/ProximaNova-LightIt.otf);
}
@font-face {
	font-family:ProximaNova-Regular;
    src: url(font/proxima_nova/ProximaNova-Regular.ttf),
	url(font/proxima_nova/ProximaNova-Regular.woff),
	url(font/proxima_nova/ProximaNova-Regular.eot),
	url(font/proxima_nova/ProximaNova-Regular.otf);
}
@font-face {
	font-family:ProximaNova-RegularIt;
    src: url(font/proxima_nova/ProximaNova-RegularIt.ttf),
	url(font/proxima_nova/ProximaNova-RegularIt.woff),
	url(font/proxima_nova/ProximaNova-RegularIt.eot),
	url(font/proxima_nova/ProximaNova-RegularIt.otf);
}
@font-face {
	font-family:ProximaNova-Semibold;
    src: url(font/proxima_nova/ProximaNova-Semibold.ttf),
	url(font/proxima_nova/ProximaNova-Semibold.woff),
	url(font/proxima_nova/ProximaNova-Semibold.eot),
	url(font/proxima_nova/ProximaNova-Semibold.otf);
}
@font-face {
	font-family:ProximaNova-SemiboldIt;
    src: url(font/proxima_nova/ProximaNova-SemiboldIt.ttf),
	url(font/proxima_nova/ProximaNova-SemiboldIt.woff),
	url(font/proxima_nova/ProximaNova-SemiboldIt.eot),
	url(font/proxima_nova/ProximaNova-SemiboldIt.otf);
}
@font-face {
	font-family:ProximaNova-Extrabold;
    src: url(font/proxima_nova/ProximaNova-Extrabold.ttf),
	url(font/proxima_nova/ProximaNova-Extrabold.woff),
	url(font/proxima_nova/ProximaNova-Extrabold.eot),
	url(font/proxima_nova/ProximaNova-Extrabold.otf);
}
@font-face {
	font-family:ProximaNova-Light;
    src: url(font/proxima_nova/ProximaNova-Light.ttf),
	url(font/proxima_nova/ProximaNova-Light.woff),
	url(font/proxima_nova/ProximaNova-Light.eot),
	url(font/proxima_nova/ProximaNova-Light.otf);
}
@font-face {
	font-family:ProximaNova-LightItalic;
    src: url(font/proxima_nova/ProximaNova-LightItalic.ttf),
	url(font/proxima_nova/ProximaNova-LightItalic.woff),
	url(font/proxima_nova/ProximaNova-LightItalic.eot),
	url(font/proxima_nova/ProximaNova-LightItalic.otf);
}
@font-face {
	font-family:ProximaNova-RegItalic;
    src: url(font/proxima_nova/ProximaNova-RegItalic.ttf),
	url(font/proxima_nova/ProximaNova-RegItalic.woff),
	url(font/proxima_nova/ProximaNova-RegItalic.eot),
	url(font/proxima_nova/ProximaNova-RegItalic.otf);
}
@font-face {
	font-family:ProximaNova-Regular;
    src: url(font/proxima_nova/ProximaNova-Regular.ttf),
	url(font/proxima_nova/ProximaNova-Regular.woff),
	url(font/proxima_nova/ProximaNova-Regular.eot),
	url(font/proxima_nova/ProximaNova-Regular.otf);
}
@font-face {
	font-family:ProximaNova-Semibold;
    src: url(font/proxima_nova/ProximaNova-Semibold.ttf),
	url(font/proxima_nova/ProximaNova-Semibold.woff),
	url(font/proxima_nova/ProximaNova-Semibold.eot),
	url(font/proxima_nova/ProximaNova-Semibold.otf);
}
@font-face {
	font-family:ProximaNova-SemiboldItalic;
    src: url(font/proxima_nova/ProximaNova-SemiboldItalic.ttf),
	url(font/proxima_nova/ProximaNova-SemiboldItalic.woff),
	url(font/proxima_nova/ProximaNova-SemiboldItalic.eot),
	url(font/proxima_nova/ProximaNova-SemiboldItalic.otf);
}


body						{ background: none repeat scroll 0 0 #f5f5f5;color: #fff;font-family: ProximaNova-Regular !important; margin: 0; padding: 0;}
.body_upperdiv				{ width:100%; height: 100%; display: flex; justify-content: center; }
.body_lowerdiv				{ width: 1300px; }
/* INDEX STARTS HERE */
 .main_container			{ top: 100%; position: absolute; background-color: #f5f5f5; width: 100%;}
 .box						{ position: relative;  background-color: #f5f5f5;  color: black;  padding-top:42px; padding-bottom:45px;}
 .box h1						{ height: auto;  text-align: center;  margin: auto;  width: 100%; font-size:26px; }
 .box p						{ margin: 30px  auto; width: 50%; text-align: center; }
 .imagetext_container		{ background-color: white; position: relative; margin: 0 !important;}
 .get-in-touch				{position: relative;  display: inline-block;  width: 100%;  height: auto;  z-index: 1;}
 .MRT30PX					{ margin-top: 30px;}
#found_p1					{ margin: 0px  auto; width: 70%; text-align: center; line-height:1.5; font-size:18px; color: #333333; }
#our_found					{ font:30px ProximaNova-Bold;   font-weight: bold; color: #333333;}
.title_hr_found				{ width:190px; margin: 23px auto; box-shadow: 1px 1px 1px 0px #888888;  border-top: 1px solid #f5f5f5;}
.title_hr_proj				{ width:175px; margin: 23px auto; box-shadow: 1px 1px 1px 0px #888888;  border-top: 1px solid #f5f5f5;}
.MRNT-15px 					{  display: inline-block;}
.box1						{ position: relative;  background-color: #f5f5f5;  color: black;  padding-top:47px; padding-bottom:21px; }
.box1 h1						{ height: auto;  text-align: center;  margin: auto;  width: 100%; font:26px ProximaNova-Bold; font-weight: bold; color: #333333;}
.white						{ font:40px ProximaNova-Bold; margin-top:80px; margin-bottom:35px; font-weight: bold; color: #333333;}
.white_text					{ font-size:18px; margin-bottom:40px; line-height:1.5;}
.index_main_txt1			{ margin-bottom:13px; color:#666666;}
.index_main_txt1  b 			{ color:#666666; font:30px ProximaNova-Bold;}
.index_main_desc			{ float:left; width:30%; display:block; font-size:18px; margin-bottom:45px; }
.index_button				{ font-size:16px; }
.title_hr_client			{ width:130px; margin: 23px auto; box-shadow: 1px 1px 1px 0px #888888;  border-top: 1px solid #f5f5f5;}
.index_clients_txt			{ font-size:18px;   padding-left: 45px; text-align: left; padding-right: 30px; line-height: 1.5; font-family: Asap-Regular;}
.index_clients_txt i 		{ color: #333333; font-size:16px;}
.MGN0PX						{margin:0px !important;}
.PDG0PX						{ padding: 0px !important;}
.img_container				{ width: 50%;  float: left; position: relative; display: inline-table; margin: 0 !important; padding:0 !important; overflow:hidden; }
.img_container img			{ width: 125%; height: 700px; position: relative; left: -50px;}
.text_container				{ width: 50%;  float: left;  position: relative; display: compact;  margin: 0 !important; padding:0 !important; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: space-around; margin: 0!important;}
.text_innerspan 				{ margin: 0 auto;  width: 80%; color: black; display: inline-block; padding-top: 100px; -webkit-margin-start: 75px;}
.text_container span ul		{ position: relative; list-style: none; }
.text_container span li		{ display: inline-block; padding: 10%;}
#slideshow-wrap 				{ background-image:url("../images/home_slide1.jpg"); display: block; background-size: cover; width: 100%; height:100%; margin: auto; }
div#slider 					{ overflow: hidden; width: 100%;  }
div#slider figure div		        { width: 25%; float: left; }
div#slider figure 			{ position: relative; width: 400%; margin: 0px;  left: 0; text-align: left; font-size: 0; animation: 20s slidy infinite; -webkit-animation: 20s slidy infinite; animation-duration: 10s; -webkit-animation-duration: 10s; overflow: hidden !important; }
.imgclass					{ position: relative; width: 100%; height: 100%; overflow: hidden !important; background-size: cover; background-attachment: scroll; text-align: center; }
.transbox					{ width: 100%; height: 100%; position: absolute; background: rgb(0,0,0); background: rgba(0,0,0,0.7);  opacity: 0.9; font-size: 25px; color: White; display: flex; display: -webkit-flex; justify-content: center; align-items: center; -webkit-justify-content: center;  -webkit-align-items: center;  display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;  -ms-justify-content: center;  -ms-align-items: center;  display: -ms-box; -ms-box-align: center; -ms-box-pack: center;  overflow: hidden !important;  }

@keyframes slidy{ 
	0%		{ left: 0%; } 
	25% 	{ left: 0%; } 
	30% 	{ left: -100%; } 
	55% 	{ left: -100%; } 
	60% 	{ left: -200%; } 
	85% 	{ left: -200%; } 
	90% 	{ left: -200%; }
	100% 	{ left: -300%; }
}
@-webkit-keyframes slidy  { 
	0%		{ left: 0%; } 
	25% 	{ left: 0%; } 
	30% 	{ left: -100%; } 
	55% 	{ left: -100%; } 
	60% 	{ left: -200%; } 
	85% 	{ left: -200%; } 
	90% 	{ left: -200%; }
	100% 	{ left: -300%; }
}
.slideshow1 									{ background-image:url("../images/home_slide1.jpg"); } 
.slideshow2 									{ background-image:url("../images/home_slide2.jpg"); } 
.slideshow3 									{ background-image:url("../images/home_slide3.jpg"); }
.slideshow4 									{ background-image:url("../images/home_slide4.jpg"); }
 .text_container span ul li:nth-child(1)		{padding-left:0px;}
 .text_container span ul li:nth-child(3)		{padding-right:0px;}
 .text_container span ul li p:nth-child(1)		{ font-size: 25px;}
 .text_container_button 						{ position : relative; display: inline-block; margin-bottom:30px;} 
 .blue_button 								{ float: left; padding: 16px 30px; -moz-padding-start: 23px; background-color: #0d4d9c; font-size: 18px; color: white !important; border:none; cursor: pointer;}
 .blue_button span							{ color: white; position: relative;}
 .blue_button_border 						{ border: 1px solid #0d4d9c; padding-right: 11.8em; -moz-padding-end: 11.4em; height: 67px; position: absolute; margin: -5px 5px !important; left: 0; -webkit-transition: all .5s ease-in-out;  -moz-transition: all .5s ease-in-out;  -ms-transition: all .5s ease-in-out;  -o-transition: all .5s ease-in-out;  transition: all .5s ease-in-out;}
 .button_arrow								{ padding-left:15px; color: white; -webkit-animation-timing-function: linear; -moz-animation-timing-function: linear; /*  transform: rotateZ(90deg);	-ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); */ }
 .h-8margintop								{ margin-top: -8px;}
 .button_arrow:after  						{ margin-left: 20px; animation-timing-function: linear; -moz-animation-timing-function: linear; -webkit-animation-timing-function: linear; -ms-animation-timing-function: linear;	-ms-animation: mybutton .15s ; -moz-animation: mybutton .15s; -ms-animation: mybutton .15s; -webkit-animation: mybutton .15s; animation: mybutton .15s;}
 .text_container_button:hover 
	 .blue_button_border						{ -webkit-opacity: 0;  -moz-opacity: 0;  opacity: 0;}
 .text_container_button:hover 
	 .button_arrow  							{ -ms-animation-timing-function: linear; -webkit-animation-timing-function: linear; -moz-animation-timing-function: linear;	animation-timing-function: linear;	-ms-animation: mybutton .15s ; -webkit-animation: mybutton .15s ; -moz-animation: mybutton .15s ;animation-duration: 20000000s; }
.title_hr									{ width: 215px;  margin: 23px auto; }
@-webkit-keyframes mybutton {
       from {left: 10px;}
}

@keyframes mybutton {
    
    from {left: 10px;}
}
 #slideshow-wrap 							{ background-image:url("../images/home_slide1.jpg"); display: block; background-size: cover; width: 100%; height:100%; margin: auto; }
.slideshow1 									{ background-image:url("../images/home_slide1.jpg"); } 
.slideshow2 									{ background-image:url("../images/home_slide2.jpg"); }
.slideshow3 									{ background-image:url("../images/home_slide3.jpg"); }
.slideshow4 									{ background-image:url("../images/home_slide4.jpg"); }
 #slideshow-inner 							{ width: 100%; height: 100%; overflow: hidden; position: relative; }
 #slideshow-inner>ul 						{ list-style: none; height: 100%; width: 500%; overflow: hidden; position: relative; left: 0px; -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1); -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1); -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1); transition: left .8s cubic-bezier(0.77, 0, 0.175, 1); margin: 0; padding: 0; }
 #slideshow-inner>ul>li 						{ width: 20%; height: 675px;  float: left; position: relative; }
 #slideshow-inner>ul>li>img					{ margin: auto; width: 100%; height: 100%; }
 #slideshow-wrap input[type=radio] 			{ position: relative; float: right; bottom: -10%; z-index: 100; display: list-item; }
#slideshow-wrap input:nth-child(1) 			{ display: list-item; transform: translateY(155px) translateX(-22px);}
#slideshow-wrap input:nth-child(3) 			{ display: list-item; transform: translateY(185px) translateX(0px);}
#slideshow-wrap input:nth-child(5) 			{ display: list-item; transform: translateY(215px) translateX(21px);}
#slideshow-wrap input:nth-child(7) 			{ display: list-item; transform: translateY(245px) translateX(42.5px); }
#slideshow-wrap input:nth-child(9) 			{ display: list-item; transform: translateY(275px) translateX(65px);}
#slideshow-wrap label:not(.arrows):not(.show-description-label) { left: 50%; bottom: -45px; z-index: 100; width: 12px; height: 12px; background-color: rgba(200,200,200,1); -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; cursor: pointer; -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8); -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8); box-shadow: 0px 0px 3px rgba(0,0,0,.8); -webkit-transition: background-color .2s; -moz-transition: background-color .2s; -o-transition: background-color .2s; transition: background-color .2s; }

/* #slideshow-wrap label:not(.arrows):active { bottom: -46px }

#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] { background-color: rgba(100,100,100,1) }

#slideshow-wrap label[for=button-1] { margin-bottom: 36px }

#slideshow-wrap label[for=button-2] { margin-bottom: 18px }

#slideshow-wrap label[for=button-4] { margin-bottom: -18px }

#slideshow-wrap label[for=button-5] { margin-bottom: -36px }

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }

#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }

#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul { left: -400% }



input[type=radio]#button-1:checked~.arrows#arrow-2, input[type=radio]#button-2:checked~.arrows#arrow-3, input[type=radio]#button-3:checked~.arrows#arrow-4, input[type=radio]#button-4:checked~.arrows#arrow-5 {
    right: -55px;
    display: block;
}

input[type=radio]#button-2:checked~.arrows#arrow-1, input[type=radio]#button-3:checked~.arrows#arrow-2, input[type=radio]#button-4:checked~.arrows#arrow-3, input[type=radio]#button-5:checked~.arrows#arrow-4 {
    left: -55px;
    display: block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type=radio]#button-2:checked~.arrows#arrow-1 { left: -19px }

input[type=radio]#button-3:checked~.arrows#arrow-2 { left: -37px }

input[type=radio]#button-5:checked~.arrows#arrow-4 { left: -73px } */

 .description 													{ position: absolute; top: 20%; left: 30%; width: 260px; z-index: 1000; transform: translateX(170%) translateY(135%); }
 .description input 												{ visibility: hidden; }
 .description label 												{ background-color: rgba(255,255,240,1); position: relative; left: -17px; top: 00px; width: 40px; height: 27px; display: inline-block; text-align: center; padding-top: 7px; border-bottom-right-radius: 15px; cursor: pointer; opacity: 0; -webkit-transition: opacity .2s; -moz-transition: opacity .2s; -o-transition: opacity .2s; transition: opacity .2s; z-index: 5; color: rgb(20,20,20); }
 #slideshow-inner>ul>li:hover .description label 					{ opacity: 1; }
 .description input[type=checkbox]:checked~label 					{ opacity: 1; }
 .description .description-text 									{ background-color: white; padding-left: 45px; padding-top: 25px; padding-right: 15px; padding-bottom: 15px; position: absolute; z-index: 4; -webkit-transition: opacity .2s; -moz-transition: opacity .2s; -o-transition: opacity .2s; transition: opacity .2s; color: rgb(20,20,20); }
 .description input[type=checkbox]:checked~.description-text 		{ opacity: 1 }
 .index header object												{ position: fixed; display: block; width: 100%; height: 100%;}
  footer 															{ background-color: #f5f5f5;  overflow: hidden;}
  footer object													{ position: static;  display: -webkit-box;  width: 100%;  overflow: hidden;  height: 115px;}
 .header_text													{ margin:auto !important; font-family: ProximaNova-Bold !important;}

@media screen and (min-width: 200px) and (max-width: 319px){ 
		 .imagetext_container			{ display: inline-block;}
		 .img_container					{ width: 100%; clear: none; }
		 .text_container				{ width: 100%; clear: none; }
		  footer object					{ position: static;  display: -webkit-box;  width: 100%;  overflow: hidden;  height: 200px;}
}
@media screen and (min-width: 320px) and (max-width: 479px){ 
		 .imagetext_container			{ display: inline-block;}
		 .img_container					{ width: 100%; clear: none; }
		 .text_container				{ width: 100%; clear: none; }
		  footer object					{ position: static;  display: -webkit-box;  width: 100%;  overflow: hidden;  height: 200px;}
} 
@media screen and (min-width: 480px) and (max-width: 767px){
	 .imagetext_container				{ display: inline-block;}
	 .img_container						{ width: 100%; clear: none; }
	 .text_container					{ width: 100%; clear: none; /* margin: 10% auto; */}
	 footer object							{ position: static;  display: -webkit-box;  width: 100%;  overflow: hidden;  height: 200px;}

}
@media screen and (min-width: 220px;) and (max-width: 520px){

}
 
 /* INDEX ENDS HERE */
 
 /* CONTACT US STARTS HERE */
 .map_container				  	{ margin: 0; padding: 0; border: 0; outline: 0;  vertical-align: baseline; height: 100%; }
.contact_us						{ background-color: white ; }
.contact_us_container			{ position: absolute; width: 100%; height: auto; top: 100%; background-color: #f5f5f5; } 
.contact_us_aside1				{ float: left; height: auto;  position: relative; padding-top: 80px; display: table; }
.contact_us_contact				{ float: left; height: auto;  position: relative; padding-top: 80px; display: table; padding-Right: 55px; padding-left: 53px; background: white; margin-top: 0px; margin-bottom: 4.7%;  height: auto; display: table-cell; overflow: visible; color: black; right:0%; position: absolute; top:0; z-index: 999;}
#googlemap						{ width: 100%; }
.map_container					{ position: relative;  display: table;  width: 100%;}
.contact_us_vedioclass                  { width: 100%; position: fixed !important ; height: 90%;   }
.contact_us_col-2				{ width: 100%; height: auto;  background: gray; }
.contact_us_col-2				{ width: 100%; height: auto;  background: gray; }
#contact_us_contact_info		{ font: 16px ProximaNova-Regular; margin-bottom: 56px; line-height: 22px; }
#contact_header					{ font-size: 20px; margin-bottom: 30px; color: #000000; }
#map_canvas1					{ margin: 0; padding: 0; height: 100%; width:100%; height:644px !important;  }
.contact_us header object			{ position: fixed; display: block; width: 100%; height: 70%; } 
.contact_us_col-2 object			{ width: 100%; height: 100%; }
#contact_us_center				{ padding:10%; }
.contact_us_header_img			{ width:100%; height:100%; position:absolute; background-image:url("../images/contact_us_headerimg.jpg") }
.contact_us_headder_section         { width: 100%; position: fixed !important ; height: 90%; }
.contact_us_container-fluid		{ padding-left:0 !important; padding-right:0 !important;  }
.contact_us_form				{ background-color: white; width: 100%; padding-bottom: 50px; padding-top: 40px;  }
#contact_us_form_header			{ font:30px ProximaNova-Bold; color: #333333; width: auto; display: table;  }
.contact_us_hr					{  width:125px; box-shadow: 1px 1px 1px 0px #888888;  border-top: 1px solid #f5f5f5;  display:-ms-inline-flexbox; }
.contact_us_form_subheader		{ color: #898989; font: 14px ProximaNova-Regular;  text-align: left !important; margin-bottom: 15px; margin-top:30px; }
.contact_us_container2			{ width: 100% !important; }
.contact_us_formdata			{ margin-bottom: 20px !important;  background-color: rgb(250,250,250) !important; }
.contact_us_formmsg				{ margin-bottom: 48px !important; background-color: #f5f5f5 !important; height: 105px !important; }
.contact_us_container_button 	{ position : relative; display: inline-block; margin-bottom:80px; } 
.contact_us_blue_button 			{margin:0 auto; float: left; padding: 16px 48px !important; -moz-padding-start: 23px; background-color: #0d4d9c; font-size: 18px; color: white !important; border:none; cursor: pointer;}
.contact_us_blue_button span		{ color: white; position: relative;}
.contact_us_blue_button_border 	{ border: 1px solid #0d4d9c; padding-right: 11.8em; -moz-padding-end: 11.4em; height: 67px; position: absolute; margin: -5px 7px !important; left: 0; -webkit-transition: all .5s ease-in-out;  -moz-transition: all .5s ease-in-out;  -ms-transition: all .5s ease-in-out;  -o-transition: all .5s ease-in-out;  transition: all .5s ease-in-out;}
.contact_us_button_arrow		{ padding-left:15px; color: white; -webkit-animation-timing-function: linear; -moz-animation-timing-function: linear; /*  transform: rotateZ(90deg);	-ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); */ }
.contact_us_h-8margintop		{ margin-top: -8px;}
.contact_us_button_arrow:after  	{ margin-left: 20px; animation-timing-function: linear; -moz-animation-timing-function: linear; -webkit-animation-timing-function: linear; -ms-animation-timing-function: linear;	-ms-animation: mybutton .15s ; -moz-animation: mybutton .15s; -ms-animation: mybutton .15s; -webkit-animation: mybutton .15s; animation: mybutton .15s;}
.contact_us_container_button:hover 
.contact_us_blue_button_border		{ -webkit-opacity: 0;  -moz-opacity: 0;  opacity: 0; }
.contact_us_container_button:hover 
.contact_us_button_arrow  			{ -ms-animation-timing-function: linear; -webkit-animation-timing-function: linear; -moz-animation-timing-function: linear;	animation-timing-function: linear;	-ms-animation: mybutton .15s ; -webkit-animation: mybutton .15s ; -moz-animation: mybutton .15s ;animation-duration: 20000000s; }
.contact_us_infoheader				{ font:24px ProximaNova-Bold; color: black; top:20px; position: absolute; }
.contact_us_index_button			{ font: 16px ProximaNova-Regular; }
.contact_us_scrollfix				{ position: fixed; z-index: 9999; top: 80px; }
.contact_us_scroll					{ position: absolute; top: 33%;  z-index: 1; }
.contact_us_formscroll				{  /* margin: 0 45% 0 5% !important; */ }
.contact_us_box						{ background-color: white!important;  padding: 2% !important; }
.contact_us_formmove				{  margin: 0 20%; }



@media screen and (min-width: 200px) and (max-width: 319px){ 
	
	#googlemap					{ width: 100%; position:relative; }
	.contact_us_aside1 			{ float: none; }
	#contact					{ background: white;  margin-top: 0px; width: 100%;  height: auto;    overflow: visible;  color: black;  left: 0;  position: relative;  }
	
}
@media screen and (min-width: 320px) and (max-width: 479px){ 

	#contact					{  background: white;  margin-top: 0px; width: 100%;  height: auto;   overflow: visible;  color: black;  left: 0;  position: relative;  }
	#googlemap					{ width: 100%; }
	.contact_us_aside1 			{ float: none; position:relative;}
	.contact_us_col-2			{ position: relative;}

} 
@media screen and (min-width: 480px) and (max-width: 767px){

	.contact_us_aside1			{ font-size: 15px; }
	.contact_us_textbox 			{ padding-left: 25px; } 
	
 }
@media (min-width: 1200px) { 
	.L2-5EM						{ left: 12.5em;}
}
@media (max-width: 1200px){ 
	.L2-5EM						{ left: 18%;}
}
/* CONTACT US ENDS HERE */

/* BLOG DETAILS STARTS HERE */
.blogdetail_body						{ margin: 0; padding: 0; border: 0; outline: 0;  vertical-align: baseline; }
.blogdetail_banimg						{ z-index:-100; position:fixed; top: -37%; }
.blogdetails_container					{ position: absolute; width: 100%; height: auto; top: 100%;  background-color: #f5f5f5;}
.blogdetails_containerfluid				{ width: 100%; height: auto;  background-color: white; padding: 0 155px 0 155px !important;  }
.blogdetails_textsection				{ padding-top: 50px; } 
.blogdetails_headertext					{ font: 14px ProximaNova-Regular; color: #adadad; margin-bottom: 45px; padding-left: 0 !important; }
.blogdetails_textsection_1				{ font: 16px ProximaNova-Regular; color: #666666; line-height: 1.5; }
#blogdetails_textsection_2				{ font: 24px ProximaNova-Regular;  line-height: 1.5; }
.blog_detail_person_img				      { height: auto; width: 100%; position: relative;   display: table; right: 0;  }
.blog_detail_imgclass					{ height: auto; margin: 0 auto;  float: right; margin-top: 0%;  border-bottom: 1px solid #E0E0E0;  padding-bottom: 1.5%; }
.blog_detail_img_name					{ margin: 0 auto; position: absolute; color: #333333; font: 20px ProximaNova-Regular; bottom: 25%;     right: 20%;  }
.blog_detail_img_desg					{ margin: 0 auto; position: absolute; color: #666666; font: 16px ProximaNova-Regular;  bottom: 13%; right: 15%; }
.blog_detail_person_info				{ height: auto; margin: 0 auto;  float: right !important; margin-top: -125px; border: 1px solid #E0E0E0; /* display: table; */ padding: 0!important; width: auto !important; }
.blog_detail_section2					{ position: relative; height: 100%; width: 100%; background: #f5f5f5; padding: 50px 155px 50px 155px !important; }
.blog_detail_section2_header			{ text-align: center;  color: #333333; font: 26px ProximaNova-Bold; }
.blog_detail_innersection2				{ width: 100%; height: auto; display: table; position: relative; margin-bottom: 105px;  }
.blog_detail_imagecol_1					{ width: 47%; height: 100%; background: white; margin-right: 3%; float:left; }
.blog_detail_imagecol_2					{ width: 47%; height: 100%; background: white; margin-left: 3%; float:right; }
.blog_detail_section2img				{ width: 100%;  display: block; height: 350px;}
.blog_detail_hr							{  width:170px; margin-top: 23px ; box-shadow: 1px 1px 1px 0px #888888;  border-top: 1px solid #f5f5f5; margin-bottom: 55px; display:-ms-inline-flexbox; }
.blog_detail_section2img				{ width: 100%;  display: block;}
.blog_detail_testbox_1					{ -moz-padding-start: 6%;  position: absolute; width: auto; height: auto; display:block;  float: left; text-align: left; bottom: 0; color: #ffffff;  margin: 28px 28px; font: 34px ProximaNova-Bold; }
.blog_detail_testbox_2					{  -moz-padding-start: 5%;  position: absolute; width: auto; height: auto; display:block; font: 20px ProximaNova-Bold; float: left; text-align: left; margin: 28px 28px; color: #ffffff; top:0;  }
.blog_detail_headertextbox_1			{ -moz-padding-start: 6%; position: absolute; width: 100%; height: auto; display:block; font: 35px ProximaNova-Regular; float: left; text-align: left !important ; bottom: 0; color: white; padding: 10%; line-height: 1.5; }
.blog_detail_social_icons   				{  display: inline-table; position: relative; padding-left: 15%; margin: 0; }
.blog_detail_icons                      			{ margin-bottom: 15%; }
#blog_detail_contact_text				{ margin-top: 32px; font: 16px ProximaNova-Regular; float: left; width: 100%; color: #666666; text-align: center; }
.blog_detail_fbicon                    			{ margin: auto; width: 24px; position: absolute; height: 24px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABJElEQVRIS+1WsXHCQBDcrcB0YHdgkUJgt+AMMjJQFYYqILQjfegSngDhUO4Al+AGWM//8LKYsfUSljI+kGZ+5m7vbu/2njid0WS9JPgA4jHcXfQXrECbm/nK2dN9xpNNAeL+Iod/GAko8mwxpI+cfO7SefAlacU+oi8BoC3H043aRC/hC1ThbcSExE2dfSuAI/i0z+ZvZWNM19Y3Rs1pDiC97kw6q/oadQngCMtNunQAlZZOAAw6yeAMoEHkATRaIkGfEF6OgH03qT1l4Ep1B2JG8PZfGQja5ln663R3wkEdQJMZipaoOpUlyV1ycAW4chAV4hYlwoHAwXskohr0IxU9rMuzhdP7yuxr6UP42JlF4l8VQePdkyW2oWKsOu2CYIOsfAOPa8zvgCzUhwAAAABJRU5ErkJggg==); }
.blog_detail_googleicon               			{ margin: auto; position: absolute; width: 24px; height: 24px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACHUlEQVRIS7VWwY7SUBQ995WJSkycPxBS9oMLE7oaZmnZOPEDxC8Qv8DhB3T+QPkCMXHq0s6KLpk9jcwfMIvRZqI95hZKCqUEGOmCJiXvnHvPefe8J5g9ods4o+BYIM302y5vgr4Qvu0FXV0v+hO2GkNAjnYBLFxDDG1v8Ey0coi8/6/gKRjZlb1UPyMgeSlhy+GaNq8Jjpf/F0gFgqebdL2O4F0CQB4Zg171W+D/dJ/XYym9BtDZBDwxeVUHJN+AMhGDLymQEZ4oycht+CJyPCcgu7YXnBUpkScgb2wvOFw2X/WseUEzbDla/cf7EIxtL6iO3EZbRD5lpbAvBpL7vnUHAMxfVhFFk7j8cAyRJ1MvcG17g8rIdfoCDlWWIh+ycq32APSt2+gU5YNKDMtXEvVFRA5VnnRalcAYXKo3iaRaRuKszMmLdxGp1fdJXtW84HNO+8wwbWfyUt+puaMXzsvsrtrd5BwBvlq/frer/nCyyvi5XBlZshBFHvRMdPeBDw5OCDNNV6JX+z7oF3ZS4HiOgGDPuo06cfnRDwjqC+vmW3Lz9F0kSIdseZgyLLNZWJzmNbmxRDDN8HUyKEHoOuOdw44xTlXr0HXOIXib2S03BDrpLNwr7ACcG/7pIbYmKKGiYPFd/Bgl8woi7U3BZ2m6uWHbAE+TXg+cfR+ZyrSfY5NX9kVQT24VCYleW4DmwmGyrSapLEiuLUng/QMT4kUi9vOG3wAAAABJRU5ErkJggg==); }
.blog_detail_linkdnicon               			{ margin: auto; position: absolute; width: 24px; height: 24px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABQklEQVRIS+2VPU7DQBCFv9kCSjgCNwBOEKfFQYIb5AjQEDrijrjKDTA3QALXdm4QTgI0KT1oN4kTkFeRFpsqK1myx9r35v8J63OXjxHtgUS1LehFS1RK0jix18VhjN7mIKdBeL5Lypw0Phec5zy0Cr4GUxLZ4f0XcBRMrsyEUa6NAKq3pIMp968RaopQEj+BVH0eL0tuimMOFx/tE9giCRlKhHDVPoGNoC6WKVB9xmjmTJUMQU6AElOVqLEODJvq5U/RJF62sGvjXFES0njsvm3apv3PH1F5ahVG4MtXwzyFEdgIDhZPrjYq16QXL46zYabCCLaBtlO3J6i7aJ+i1bRuhMdoCWRUspxko3Zq7WOPz+5++ts0dPn8uvcfBB3IZb0kreB0LpluW3YRhb4zGZxtVrKNBCcuvT/VV5k5nVit9m+1dOP1lz4MeAAAAABJRU5ErkJggg==); }
.blog_detail_twittericon                		{ margin: auto; position: absolute; width: 24px; height: 24px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABHklEQVRIS9WWsVXDQBBE/zpwiqkA6IAOuA4oATvSc0YHuAMgAkWgDkwHVwIdoBIcO9Dy7rB5wpIRKx08vJEC3Yxmb2ZXAuAedMqIk/CcsEqfSSEuVw9cJASuQy0Dgf4SeIT9BwTKC8odIxxwY1XbrWDMsZ/JKprhUZcIlxaSTgKfiWwBXa4LqwobwYedpy0KzoGjNmUmgn2tcU86Yc0rNLOUhCDez548JSHYKHgDJrsqTQRxpAhXjVYJ4Q4a4D8K2t+6KNdr4DZpDqg483Mpd7IQUl2v/jYFCp9Jm/c/CQbZNKJUzPxcnr9rTW+b1kAXjLnfzqU62SCbNr5aCQvqaw2xqcUxvWbRARD0WCIGVUVcJpvfllPDwe5XK8pg7XfPp5Dkvy/UwwAAAABJRU5ErkJggg==); }
.blog_detail_scrollfix					{ position: fixed !important; top : 90px; /* display: inline-table; */ margin-left: 10%; z-index: 9999; margin-top:-10px; right: 10%; }
.blog_detail_scroll						{ position: relative !important; top : 0;  /* display: table; */  margin-left: 140px; z-index: 0; margin-top: -32em; right:0;  }


#blog_detail_contact_text				{ margin-top: 32px; font: 16px ProximaNova-Regular; float: left; width: 100%; color: #666666; text-align: center; }
@media screen and (min-width: 200px) and (max-width: 319px){}
@media screen and (min-width: 320px) and (max-width: 479px){
	.blog_detail_textbox_1				{ font-size: 30px; }
	.blog_detail_textbox_2				{ font-size: 18px; }
	.blog_detail_imagecol_1				{ width: 100%; }
	.blog_detail_imagecol_2				{ width: 100%; }

}
@media screen and (min-width: 480px) and (max-width: 767px){
	.blog_detail_textbox_1				{ font-size: 23px; }
	.blog_detail_textbox_2				{ font-size: 17px; }

}
@media screen and (min-width: 768px) and (max-width: 1024px) {

 .blogdetails_containerfluid 		{ padding: 0 85px 0 85px !important; } 
 .blog_detail_testbox_1 				{ margin-bottom: 53px; }
 .blog_detail_testbox_2 				{ bottom: 23%; }
.blog_detail_scrollfix				{  margin-left: 64px; }	
}
								   
}
@media screen and (min-width: 1025px) and (max-width: 1500px){ }


/* BLOG DETAILS ENDS HERE */

/* ABOUTUS STARTS HERE */

.our_storytext_note i 					{ font-family:Asap-Regular; }
.aboutus_fntdis i 						{ font-family:Asap-Regular; font-weight: bold; }
.aboutus_light i							{ font-family:Asap-Regular; }
.aboutus_text_2 							{ margin-top: 5%;}
.aboutus_bgColor 						{ background-color: white; }
.aboutus_PADDT2PER 						{padding: 2%;}
.aboutus_object 							{ position: fixed; display: block; width: 100%; height: 90%;} 
.aboutus_header_image 					{ width:100%; height:90%; position:fixed; background-image:url("../images/aboutus_header_image.jpg")}
.aboutus_PADD5PER 						{ padding: 5%;}
.aboutus_MAR10PER 						{ margin: 0 10%; }
.aboutus_bgImg 							{ background: -webkit-linear-gradient( transparent,transparent,transparent, white, white, white, white),url(../images/about_us/blue_pattern.png) repeat; /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(transparent,transparent,transparent, white, white, white, white),url("../images/about_us/blue_pattern.png") repeat; /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(transparent,transparent,transparent, white, white, white, white),url("../images/about_us/blue_pattern.png") repeat; /* For Firefox 3.6 to 15 */ background: linear-gradient(transparent,transparent,transparent, white, white, white, white),url("../images/about_us/blue_pattern.png") repeat; /* Standard syntax (must be last) */ padding: 25% 8% 8% 10%; }
.aboutus_container 						{ position: absolute; top: 100%; width: 100%; height: auto; background-color:#f5f5f5;}
.aboutus_article 						{ position: relative; display: inline-block; width: 100%; height: auto; }
.aboutus_article1 						{ position: relative; display: inline-block; width: 100%; height: auto; }
.aboutus_article_div 					{ width: 80%; height: auto;  position: relative; display: block; margin: 0 auto !important; }
.aboutus_article_div2 					{ height: auto;  position: relative; display: block; margin: 0 auto; }
.aboutus_article_div1 					{ width: 100%; height: auto;  position: relative; display: inline-block; }
.aboutus_WDTH33PER						{ width: 33%; float: left; }
.aboutus_WDTH43PER						{ width: 43%;  margin: auto;  background-color: white;}
.aboutus_WDTHH50						{float: left;  width: 50%;  height:100%; }
.aboutus_WDTHH60						{float: left;  width: 60%;  height:100%; }
.aboutus_1WDTHH50						{padding: 0 !important;}
.aboutus_1WDTHH50 img					{ width: 100%; height: 417px;}
.aboutus_WDTH75							{float: left;  width: 75%;  height:100%; }
.aboutus_WDTH25							{float: left;  width: 25%;  height:100%; }
.aboutus_WDTH50							{float: left;  width: 50%;  height:100%; text-align:right; }
.aboutus_1WDTH50						{float: left;  width: 50%;  height:100%;}
.aboutus_PADDL5PER						{ padding-left: 5%; }
.aboutus_PADDR5PER						{ padding-right: 5%; }
.aboutus_PADDB5PER						{ padding-bottom: 5%; }
.aboutus_PADDB2PER						{ padding-bottom: 2%; }
.aboutus_PADD7PER 						{ padding: 7%; }
.aboutus_PADD8PER 						{ padding: 13.5% 10%; }
.aboutus_TOP7PX 							{ top: -7px; }
.aboutus_TOP11PX 						{ top: -25px; }
.aboutus_PADDLNR2PER					{ padding-left: 2%;  padding-right: 2%; }
.aboutus_text_Center					{ text-align: center; color:#fff; }
.abtus_banimg							{ z-index:-100; position:fixed; top: -37%;}
hr#foundersLine							{ width: 90px;    margin: 23px auto;  border-top: 1px solid #fff; }
div#founderSection 						{width: 75%; margin:0 auto;}
.aboutus_fntdis							{color: #fff; text-align: center;  font-style: italic; font: 40px ProximaNova-Bold; line-height: 1.2;}
.aboutus_linepos						{ width: 5%; }
.aboutus_imgWdth 						{ width: 100%; }
.aboutus_brdbtm							{ border-bottom: 2px solid #f5f5f5; }
.aboutus_fnt30px 						{ font-size: 30px; }
.aboutus_fnt25px 						{ font-size: 25px; }
.aboutus_grayColor 						{ color: gray; }
.aboutus_bggrayColor 					{ background-color: #f5f5f5; }
.aboutus_fnt18px 						{ font: 16px ProximaNova-Regular;  line-height: 1.5; color: #333333;}
.aboutus_MARTOP 							{ margin-top: 0.5%; }
.aboutus_PADDR15PX 						{ padding-right: 15px; }
.aboutus_PADDL15PX 						{ padding-left: 15px; }
.aboutus_MARGT25PER 						{margin-top: -25%;  color: #666666 !important; font: 30px ProximaNova-Bold !Important; }
.aboutus_rightImage						{ position: relative; display: inline-table; padding:0 !important;}
.aboutus_leftTextSection 				{ position: relative;  z-index: 1;}
.aboutus_rightTextSection				{ position: relative; display: inline-table;}
.aboutus_PADD11PER						{ margin: 6.5em 10% !important; }
.aboutus_PADDB6PER 						{ padding-bottom: 6%;}
.aboutus_MART3_5PER 						{ margin-top: -3.5%; }
.aboutus_MARB2PER 						{ margin-bottom: -2%; }
.aboutus_MCTR							{ margin: 0 auto;}
.BGWHITE								{ background-color: #fff !important;}
.meet_OTM								{ background-color: #fff;}
.meet_OTM_title							{ font: 35px ProximaNova-Bold; color: #333333;}
.team_members img						{ width: 100%; height:auto; margin: 5px;}
/* .team_members_name 						{ width: 90%;} */
.team_members_name p						{ padding: .5em 0 0; text-align: center; font: 16px ProximaNova-Regular; color:#333333;}
.team_MPOS								{ text-align: center; font: 12px ProximaNova-Regular !important; color:#666666 !important; padding:5px 0em !important; }
.our_storytext_note						{ width: 80%; font: 24px ProximaNova-RegItalic; color: #999999}
.aboutus_image							{ width:100%; display:block; height:auto; }
.aboutus_main 							{ width:100%; height:auto; }	
.aboutus_text_1 .aboutus_text_2
 .aboutus_text_3 .aboutus_text_4
 .aboutus_text_5 						{ background:white; }
.aboutus_client							{ float:left; width:100%; height:auto; position:relative;}
.aboutus_txt							{ padding-left:5%; padding-right:5%; color:#333333; font: 16px ProximaNova-Regular; line-height:1.5; -webkit-padding-before: 20%;}
.aboutus_big							{ font: 22px ProximaNova-Bold; color:#333333; }
.abt_ITALICTXT							{ font: 24px ProximaNova-RegularIt; color: #999999;}
.abt_ITALICTXT_4em						{ padding-bottom: 4em !important;}
.abt_oursty								{ padding: 0 !important;}
.abt_oursty img							{width: 100%;  position: relative; display: inline-block;  height: 429px;}
.aboutus_rightImage  img					{ width: 100%;  position: relative; display: inline-block;  height: 64.5%;}
@media all and (max-width: 1150px) and (min-width: 975px) {
	.aboutus_PADD8PER 					{ padding: 5% !important; }
}
@media all and (max-width: 974px) and (min-width: 900px) {
	.aboutus_PADD8PER 					{ padding: 3% !important; }
	.aboutus_fnt25px 					{ font-size: 20px; }
	.aboutus_fnt18px 					{ font-size: 16px; }
}
@media all and (max-width: 900px) and (min-width: 800px) {
	.aboutus_PADD8PER 					{ padding: 3% !important; }
	.aboutus_fnt25px 					{ font-size: 20px; }
	.aboutus_fnt18px 					{ font-size: 16px; line-height:1.3; }
}
@media all and (max-width: 800px) and (min-width: 710px) {
	.aboutus_PADD8PER 					{ padding: 3% !important; }
	.aboutus_fnt25px 					{ font-size: 18px; }
	.aboutus_fnt18px 					{ font-size: 16px; line-height:1; }
}
@media all and (max-width: 849px) and (min-width: 711px) {
	.aboutus_fnt25px 					{ font-size: 20px; }
	.aboutus_fnt18px 					{ font-size: 16px; }
}
@media all and (max-width: 710px) and (min-width: 320px) {
	.aboutus_WDTH50 						{ width: 100%;}
	.aboutus_WDTHH50 					{ width: 100%; top: 0;}
	.aboutus_fnt25px 					{ font-size: 16px; }
	.aboutus_fnt18px 					{ font-size: 14px; }
	.aboutus_WDTHH60 					{ width:100%; top: 0; border-top: 3px solid #f5f5f5;}
	.aboutus_1WDTHH50 					{ width: 100%; margin: 0; top: 0;}
	.aboutus_article_div 				{ width: 100%;}
}

@media all and (max-width: 500px) and (min-width: 220px) {
	.aboutus_PADDL15PX					{ padding-left: 0px;}
	.aboutus_WDTH40						{ width: 100%; text-align: center; text-align:left;}
	.aboutus_WDTH60						{ width: 100%;}
	.aboutus_fnt25px 					{ font-size: 12px; }
	.aboutus_fnt18px 					{ font-size: 10px; }
	
}

@media screen and (min-width: 1025px) and (max-width: 1500px){ 

	.aboutus_light				{ color: #999999; font-size:24px; }
	.aboutus_light1				{ color: #999999; font-size:15px; }
	.aboutus_image_text_1		{ width:100%; height:auto;position:relative; display:flex; display: -webkit-box; margin-top: 4%; }
	.aboutus_image_1			{ width:50%;  float:left; position:relative; height:auto; padding: 0 !important;}
	.aboutus_text_1				{ width:50%;  float:left; vertical-align:middle; position:relative;  display:flex; align-items: center;}


	.aboutus_image_text_2		{ margin-top: 0 !important; }
	.aboutus_image_2			{ width:50%; height:100%; float:right; position:relative; padding-left: 0px !important;}
	.aboutus_text_2				{ width:50%; height:100%; float:right; position:absolute;  display:flex; align-items: center; display: -webkit-box;  -webkit-box-align: center;}

	.aboutus_clients			{ width:100%; height:150px; float:left; position:relative; display:flex; vertical-align:center;justify-content:center; align-items: middle; background-color: #f6f7f7; }
	.aboutus_happy				{ display: flex; justify-content: center; align-items: center; font-size:25px; }

} 


@media screen and (min-width: 768px) and (max-width: 1024px) { 
	
	.aboutus_txt				{ font-size:13px; }
	.aboutus_big				{ font-size;23px; }
	.aboutus_light				{ color: #939f9f; font-size:18px; }
	.aboutus_light1				{ color: #939f9f; font-size:13px; }
	.aboutus_clients			{ width:100%; height:150px; float:left; position:relative; display:flex; vertical-align:center;justify-content:center; align-items: middle; background-color: #f6f7f7; }
	.aboutus_happy				{ display: flex; justify-content: center; align-items: center; font-size:22px; }

	.aboutus_image_text_1		{ width:100%; height: 100%; position:relative; display:flex;}
	.aboutus_image_1			{ width:50%;  float:left; position:relative; height:auto; padding: 0 !important;}
	.aboutus_text_1				{ width:50%;  float:left; position:relative; vertical-align:middle; display:flex; align-items: center;}

	.aboutus_image_text_2		{ width:100%; height:auto; float:left; position:relative; padding-left: 0px !important;}
	.aboutus_image_2			{ width:50%; height:100%; float:right; position:relative; }
	.aboutus_text_2				{ width:50%; height:100%; float:right; position:absolute; display:flex; align-items: center;}

	
}



@media screen and (min-width: 480px) and (max-width: 767px){

	.aboutus_txt				{ font-size:15px; }
	.aboutus_big				{ font-size;21px; }
	.aboutus_light				{ color: #939f9f;  font-size:17px;}
	.aboutus_light1				{ color: #939f9f; font-size:11px; }
	.aboutus_clients			{ width:100%; height:100px; float:left; position:relative; display:flex; vertical-align:center;justify-content:center; align-items: middle; background-color: #f6f7f7; }
	.aboutus_happy				{   display: flex; justify-content: center; align-items: center; font-size:20px; }
	
	.aboutus_image_text_1		{ width:100%; height: 100%;overflow:hidden; }
	.aboutus_image_1			{ width:100%;  float:left; padding-Right: 0 !important;}
	.aboutus_text_1				{ width:100%;  float:left; position:relative; vertical-align:middle; display:flex; align-items: center;padding-top:4%; padding-bottom:4%;}

	.aboutus_image_text_2		{ width:100%; height:auto; float:right; }
	.aboutus_image_2			{ width:100%; height:100%; float:right; padding-left: 0px !important;}
	.aboutus_text_2				{ width:100%; height:100%; float:right; display:flex; align-items: center; padding-top:4%; padding-bottom:4%;}

	
 } 


@media screen and (min-width: 220px) and (max-width: 479px){ 

	.aboutus_txt				{ font-size:14px; }
	.aboutus_light				{ color: #939f9f; font-size:16px; }
	.aboutus_big				{ font-size;19px; }
	.aboutus_light1				{ color: #939f9f; font-size:8px; }
	.aboutus_clients			{ width:100%; height:80px; float:left; position:relative; display:flex; vertical-align:center;justify-content:center; align-items: middle; background-color: #f6f7f7; }
	.aboutus_happy				{  display: flex; justify-content: center; align-items: center; font-size:18px; }
	
	.aboutus_image_text_1		{ width:100%; height: auto;overflow:hidden; }
	.aboutus_image_1			{ width:100%;  float:left; padding-Right: 0 !important;}
	.aboutus_text_1				{ width:100%;  float:left; position:relative; vertical-align:middle; display:flex; align-items: center;}

	.aboutus_image_text_2		{ width:100%; height:auto; float:left; }
	.aboutus_image_2			{ width:100%; height:100%; float:left;  padding-left: 0px !important;}
	.aboutus_text_2				{ width:100%; height:100%; float:left; display:flex; align-items: center;}

}

/* ABOUTUS ENDS HERE */

/* CAREER STARTS HERE */
/* body { background-color: #e5e5e5; margin: 0; } */
.career_bgColor { background-color: white; }
.career_PADDT2PER {padding: 2%;}
.career_object { position: fixed; display: block; width: 100%; height: 90%;} 
.career_header_image { width:100%; height:90%; position:fixed; background-image:url("../images/career_header_image.jpg");}

.career_mar_bot		{ margin-bottom: 28px; }
.career_PADDT0		{ padding-top:0 !important; }
.career_fnt25px i	{ font-family:Asap-Regular; }
.career_apply_pad	{ padding:8% 6% !important; }
.career_join_font	{ font:40px ProximaNova-Bold; }
.career_fnt24px		{ font-size: 24px; }
.career_fnt24px i 	{ font-family:Asap-Regular; }
.career_PADDR50PX	{ padding-right:50px; }
.career_list_item	{ display:list-item; }
.career_toggle_head	{ font:18px ProximaNova-Bold; color:#000000; padding-top: 30px; }
.career_toggle_txt	{ font:16px ProximaNova-Regular; color:#666666; line-height:1.5; }
.career_jobname		{ font:22px ProximaNova-Regular; color:#333333; }
.career_5yrs		{ font: 14px ProximaNova-Regular; color:#666666; }
.career_apply_job	{ font:16px ProximaNova-Bold; color:#333333; padding-top: 30px; padding-left: 14px; }
.career_apply_bg	{ background-color:#f4f5f6; margin-top: 63px; }
.career_input		{ font: 14px ProximaNova-Regular; color: #999999; width: 90%; margin: 5%; padding: 8px; border: 1px solid #ccc; border-radius: 3px; }
.career_upload		{ font: 16px ProximaNova-Regular; color: #136eab; text-decoration: underline; padding-top: 20px; padding-bottom: 5px; padding-left: 14px;}
.career_submit		{ margin-left: 22%;}
.career_word_doc	{ font: 14px ProximaNova-Regular; color: #999999; padding-left: 14px;}
.toggle_container	{ display:block; }
.reveal				{ position: absolute; right: 5px; top: 10px; border:none; padding:10px; transform:rotate(-90deg); font:18px ProximaNova-Bold; }
.reveal1				{ position: absolute; right: 5px; top: 10px; border:none; padding:10px; transform:rotate(-90deg); font:18px ProximaNova-Bold; }

.career_PADD5PER { padding: 5%;}
.career_MAR10PER { margin: 0 10%; }
.career_MARB0_5PER { margin-bottom: 0.5% !important; } 

.career_container { position: absolute; top: 100%; width: 100%; height: auto; background-color: #f5f5f5;}
.career_article { position: relative; display: table; width: 75%; height: auto; margin:0 auto; top:-80px; padding: 40px 0; }
.career_article_div { width: 80%; height: auto;  position: relative; display: block; margin: 0 auto; }
.career_article_div1 { width: 100%; height: auto;  position: relative; display: inline-block; }
.career_article1 { width: 40%; height: auto; margin: 0 auto; }
.career_article3 { width: 100%; margin: auto; height: 33%; position: absolute; display: block; margin-top: -50%; }
.career_article4 { width: 100%; height: auto; margin: 0 auto; position: relative; display: inline-block; }
.career_article2 { width: 90%; height: auto; margin: 0 auto; position: relative; display: table;}
.career_article5 { position: relative; width: 90%; height: auto; margin: 0 auto; }
.career_WDTH33PER{ width: 33%; float: left; padding: 2px !important; }
.career_WDTH43PER{  padding: 4% 10%;  width: 35%;  margin: auto;  background-color: white; opacity:0.95; }
.career_WDTH60{float: left;  width: 60%;  height:100%; }
.career_WDTH75{float: left;  width: 75%;  height:100%; margin-left: 30px; }
.career_WDTH25{float: left;  width: 25%;  height:100%; }
.career_WDTH40{float: left;  width: 40%;  height:100%; text-align:right; }
.career_PADDL5PER{ padding-left: 5%;  }
.career_PADDR5PER{ padding-right: 5%; }
.career_PADDB5PER{ padding-bottom: 5%; }
.career_PADDB4PER{ padding-bottom: 4%; }
.career_PADDB3PER{ padding-bottom: 3%; }
.career_PADDT1PER {padding-top: 1%;}
.career_PADDB2PER{ padding-bottom: 2%; }
.career_PADTB25PX	{ padding: 25px 0; }
.career_PADDLNR2PER{ padding-left: 2%;  padding-right: 2%; }
.career_text_Center{ text-align: center; }
.career_hr { width: 20%; }
.career_linepos{ width: 5%; }
.career_imgWdth { width: 100%; height: 320px;}
.career_brdbtm{ border-bottom: 2px solid #f5f5f5; }
.career_fnt30px { font-size: 30px; }
.career_fnt25px { font-size: 25px; }
.career_grayColor { color: gray; }
.career_bggrayColor { background-color: #f5f5f5; }
.career_fnt18px{font-size: 18px;  line-height: 1.5;}
.career_MARTOP{ margin-top: 4px; }
.career_PADDR15PX{ padding-right: 15px; }
.career_PADDL15PX{ padding-left: 15px; }
.career_blackColor { color : black; }
.career_blue_button_border {
    border: 1px solid #0E4D9C;
    width: 160px !important;
    height: 61px;
    position: absolute;
    margin: -5px 5px !important;
    left: 0;
	}
.career_blue_button { padding: 16px 30px; background-color: #0E4D9C;  font-size: 18px; color: white !important; border:none;}
.career_button_arrow	{ color: white; -webkit-animation-timing-function: linear;	animation-timing-function: linear;	-webkit-animation: mybutton .5s infinite; animation: mybutton .5s infinite; transform: rotateZ(90deg);	-ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); }
.career_button_arrow:after { -webkit-animation-timing-function: linear;	animation-timing-function: linear;	-webkit-animation: mybutton .5s infinite; margin-left: 20px;}

@media all and (max-width: 919px) and (min-width: 850px) {
	.career_article3 {    margin-top: -27%; }
}
@media all and (max-width: 849px) and (min-width: 711px) {
	.career_article3 {    margin-top: -27%; margin-bottom: 12%; }
	.career_fnt25px { font-size: 20px; }
	.career_fnt18px { font-size: 16px; }
}
@media all and (max-width: 710px) and (min-width: 320px) {
	.career_article3 {    margin-top: -27%; }
	.career_fnt25px { font-size: 16px; }
	.career_fnt18px { font-size: 14px; }
}
@media all and (max-width: 550px) and (min-width: 320px) {
	.career_article3 {    margin-top: -30%; margin-bottom: 12%; }
}
@media all and (max-width: 370px) and (min-width: 320px) {
	.career_article3 {    margin-top: -30%; margin-bottom: 12%; }
}
@media all and (max-width: 500px) and (min-width: 220px) {
	.career_PADDL15PX{ padding-left: 0px;}
	.career_WDTH40{ width: 100%; text-align: center; text-align:left;}
	.career_WDTH60{ width: 100%;}
	.career_fnt25px { font-size: 12px; }
	.career_fnt18px { font-size: 10px; }
	.career_article3 {    margin-top: -30%; margin-bottom: 12%; }
}


/* CAREER ENDS HERE */

/* PROJECT DETAILS STARTS HERE*/
.gm-style .gm-style-iw { padding: 4px 10px 5px !important; text-align: left !important;}
	
.project_image				{ width: 100%; height: 90%; position: fixed; color: black;}
	.project_home_image			{ width: 100%; height: 90%; position: fixed; z-index: -1;}
	.project_home_text			{ width: 50%; height: 100%; position: absolute;display: flex; left:25%; justify-content: center; align-items: center;text-align: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; color: white; font-size: 45px; }
	#logo 						{ /* padding: 2rem 0; */ margin:0 auto; font-size: 1.2rem;  position: fixed;  width: 100%;  height: auto; }
	#logo  div 					{ text-align: center; }
	.project_gradient			{ position:absolute; width:100%;height:100%; background:linear-gradient(#1C5EAF,transparent); }
	.project_main_content		{ width:100%; height:auto;}
	.project_content			{ width:100%; height: auto; position: absolute; top: 100%; background-color: #f5f5f5; color: black;}
	.project_about				{ width: 70%; height: auto; position: relative;top:-80px; text-align: center;  margin: 0 auto; display: table; background: linear-gradient(white,white,white,white,white,white,white,white,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent); }
	.project_clock				{ width: 100%; height: auto; display: flex; justify-content: center; align-items: center; margin: 2% 0;}
	#project_clock_text			{ text-align: center; margin: 2% 0;  font: 20px ProximaNova-Bold  !important; color:#999999 !important;}
	#project_number				{  font: 35px ProximaNova-Bold; color:#333333; }
	.project_time				{ width: 100%; height: auto; float: left; display: flex; justify-content: center; align-items: center; margin: 2% 0; }
	.project_year				{ width: 15%; height: auto; float: left; font: 22px ProximaNova-Regular; color:#333333;  /* padding: 0 6% */; }
	.project_months				{ width: 15%; height: auto; float: left; font: 22px ProximaNova-Regular; color:#333333;  /* padding: 0 6%; */ border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; }
	.project_days				{ width: 15%; height: auto; float: left; font: 22px ProximaNova-Regular; color:#333333; ; /* padding: 0 6%; */ }
	.project_about_text			{ width: 90%; height: auto; margin: 0 auto; display: table; padding: 4% 0 0; margin: 0 auto -10%;}
	#project_about_text			{ font-size: 20px; }
	.project_swim_image			{ width: 100%; height: auto; float: left; text-align: center; position: relative; }
	.project_amenities			{ width: 32%; height: 70%; position: absolute; margin: 0 auto; text-align: left; top: 15%; right: 0; display: flex; justify-content: center; align-items: center; }
	.project_imgclass			{ width: 100%; height: auto; z-index: -1; display: block; }
	.project_specification		{ width: 100%; height: auto; display: table; text-align: center; background:url("../images/project-detail/bg_image.jpg");}
	.project_specification_div1 { width: 85%; height: auto; display: table; margin:0 auto; color: #333333; font: 16px ProximaNova-Regular;/*  padding: 5% 0% 2% 0; */ line-height: 1.5;}
	.project_roads				{ width: 30%; height: auto; float: left; padding: 1%; }
	.project_lighting			{ width: 30%; height: auto; float: left;  padding: 1%; } 
	.project_rains				{ width: 30%; height: auto; float: left; padding: 1%; }
	.project_specification_div2 { width: 85%; height: auto; display: table; margin:0 auto; color: #333333; font: 16px ProximaNova-Regular; /* padding: 2% 0% 5% 0; */ line-height: 1.5;}
	.project_disposal			{ width: 30%; height: auto; float: left; padding: 1%; }
	.project_water				{ width: 30%; height: auto; float: left; padding: 1%; } 
	.project_supply				{ width: 30%; height: auto; float: left; padding: 1%; }
	#project_specification		{ width: 100%; height: 100%; padding:5% 0; }
	#specification				{ width: 100%; height: auto; text-align: center; display: inline; }
	.project_hr							{ width: 6%; }
	.project_updates			{ width: 100%; height: auto; float: left; background-color: white; text-align: center; }
	#project_updates			{ font-size: 16px; }
	.project_initial_image		{ width: 100%; height: auto; display: block; }
	.project_initial_text		{ width: 39%; height: auto; position: absolute; background-color: #fff; opacity: 0.9; right: 30%; font: 16px ProximaNova-Regular; color:#333333; margin: 20% auto; line-height: 1.5; }
	.project_usp				{ width: 100%; height: auto; display: table; float: left; background-color: #fff; padding-bottom: 5%; }
	#usp						{ width: 100%; height: auto; text-align: center; display: inline; font-size: 16px; text-align: center; }
	.project_usp_div1			{ width: 85%; height: auto; display: table; margin:0 auto; }
	.project_dpsschool			{ width: 30%; height: auto; float: left; }
	.project_health				{ width: 30%; height: auto; float: left; }
	.project_city				{ width: 30%; height: auto; float: left; }
	.project_usp_div2			{ width: 85%; height: auto; display: table; margin:0 auto; }
	.project_waterpark			{ width: 30%; height: auto; float: left; }
	.project_airport			{ width: 30%; height: auto; float: left; }
	.project_hotel				{ width: 30%; height: auto; float: left;  }
	.project_alignleft			{ text-align: left; width:50%; float:left; font: 20px ProximaNova-Regular !important; color:#333333;}
	.project_alignright			{ text-align: left; width:40%; float: left; font: 14px ProximaNova-Regular !important; color:#333333; left: 27%; position: relative; }
	.project_city_text			{ width: 100%; font-size: 12px; display: flex; justify-content: center; align-items: center; padding: 10% 0%; border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; }
	.project_dpsschool_text		{ width: 100%; font-size: 12px; display: flex; justify-content: center; align-items: center; padding: 10% 0%; border-left: 1px solid #e5e5e5; }
	.project_health_text		{ width: 100%; font-size: 12px; display: flex; justify-content: center; align-items: center; padding: 10% 0%; border-left: 1px solid #e5e5e5; }
	.project_waterpark_text		{ width: 100%; font-size: 12px; display: flex; justify-content: center; align-items: center; padding: 10% 0%; border-left: 1px solid #e5e5e5; }
	.project_hotel_text			{ width: 100%; font-size: 12px; display: flex; justify-content: center; align-items: center; padding: 10% 0%; border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; }
	.project_airport_text		{ width: 100%; font-size: 12px; display: flex; justify-content: center; align-items: center; padding: 10% 0%; border-left: 1px solid #e5e5e5; }
	#project_dpsschool			{ width: 100%; height: 280px; }
	#project_health				{ width: 100%; height: 280px; }
	#project_city				{ width: 100%; height: 280px; }
	#project_waterpark			{ width: 100%; height: 280px; }
	#project_airport			{ width: 100%; height: 280px; }
	#project_hotel				{ width: 100%; height: 280px; }
	.project_specification_hr	{ width: 70px; margin: 1% auto; }
	.project_projectupdates_hr	{ width: 60px; margin: 1% auto; }
	.project_usp_hr				{ width: 13px; margin: 1% auto; }
	.project_PDR9-1EM			{ padding-right: 9.1em;}
	.project_button				{ position: absolute; right: 0; display: flex; }
	.project_amenities_button	{ position: absolute; width: 20%; height: 37px; display: flex; transform: rotate(90deg); top: 50%;}
	.project_amenities_text		{ width: 100%; float: right; padding: 25px; background-color: white; display: flex; justify-content: center; align-items: center; }
	#project_amenities_text		{ font: 22px ProximaNova-Bold !important; color:#333333; }
	.project_text				{ width: 80%; font: 16px ProximaNova-Regular; color:#333333; line-height: 1.5; }
	.project_distance			{ position: relative; left: 25%; }
	.project_color				{ background-color: #0d4d9c; color: white; /* padding: 5px; */ width: 15px; /* height: 25px; */}
	.project_color1				{ background-color: #0d4d9c; color: white; padding: 3px; width: 15px; height: 25px;}
	.project_heading			{ margin: 3% 0; }
	.project_about_hr			{ width: 100px; margin: 1% auto; }
	#project_details_amenities	{ font: 35px ProximaNova-Bold !important; color:#333333; }
	.project_details_2_map_container	,#map_canvas  { margin: 0; padding: 0; border: 0; outline: 0;  vertical-align: baseline; height: 100%; font-family:sans-serif;}
	.project_details_2_container					        { position: absolute; width: 100%; height: auto;  }
	#googlemap						{ width:100%; }
	.project_details_2_map_container					{ position: relative; float:left; display: table;  width: 100%; height:500px; }
	.project_details_2_maptext						{ padding-left:15px; }
	#contact_info					{ font-size: 10px; }
	#map_canvas 						{ margin: 0; padding: 0; height: 100%; width:100%; height:500px !important; }
	.project_details_2_main							{ width:100%; height:auto; position:relative; text-align: center; }
	.project_details_2_floor_plan					{ background-color:#F5F5F5; position: relative; float:left; width:100%; justify-content:center;}
	.project_details_2_floor_plan .box				{ background-color: #fff;}
	.project_details_2_plan							{ height:130px; position:relative; width:100%; }
	.project_details_2_line							{ width:60%; }
	.project_details_2_plan_img						{ width:100%; height:auto; position:relative;float:left; background-color: #fff; }
	.project_details_2_content						{ width:auto; display:flex; justify-content: center; align-items: center; margin-bottom:3%;} 
	.project_details_2_blue_box						{ width:12px; height:12px; background-color:#1A65A9; margin:1%; }
	.project_details_2_red_box						{ width:12px; height:12px; background-color:#DA888C; margin:0 10px 0; margin-left:8%}
	.project_details_2_checkbox						{ position:absolute; top:2%;right:2%; text-align:right; line-height: 2; }
	.project_details_2_input						{ width: 290px; border:none; background-color:#F7F7F7; padding:1%;   border: 1px solid #ccc; border-radius: 3px; margin:0 2%;  font: 16px ProximaNova-Regular !important;}
	.project_details_2_loan							{ background-color:#FAFAFA; }
	.project_details_2_loan_easy					{ position:relative; float:left; width:100%; }
	.project_details_2_loan_line					{ position:absolute; width:60%; border-bottom:1px solid #ccc; height:100%;left: 20%; z-index: 1;}
	.project_details_2_details						{ background-color:white; width:100%; display:flex; align-items:center; padding-top:12%; padding-bottom:3%; justify-content:center; position:relative;float:left;}
	.project_details_2_number						{ padding:14px 20px; font: 23px ProximaNova-Bold !important; border:1px solid #f5f5f5; background-color:white; border-radius:50%; position:absolute; top:-11%; z-index:2;}
	.project_details_2_button						{ background-color:white; padding:2% 0; position:relative; width:100%; float:left; }
	.project_details_2_num1							{ left:30%; color:#666666;}
	.project_details_2_num2							{ left:48%; color:#b2b2b2;}
	.project_details_2_num3							{ right:30%; color:#b2b2b2;}
	
	.project_details_initial_padding				{ padding: 10%; }
	.box100per p										{ width:100% !important; line-height:1.5 !important; font:22px ; }
	.project_details_approval						{ font:18px ProximaNova-RegItalic; }
	/* .project_details_hover:hover					{ background-color: grey; } */
	
	.project_details_abt_text						{ font: 35px ProximaNova-Bold !important; color:#333333;  }
	.project_details_abt_desc						{ font: 22px ProximaNova-RegItalic; color:#666666; }
	.project_details_bggrayColor 					{ background-color: #f5f5f5; }
	.project_details_bottom_border					{ border-bottom: 1px solid #e5e5e5; }
	.project_details_leftright_border				{ border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5;}
	.project_details_box							{ background-color: transparent !important;}
	.project_details_usp_padding					{ padding-left: 5px !important; padding-right: 0px !important; }
	.project_large									{ font: 22px ProximaNova-Bold !important; }
	.project_details_heading						{ font: 26px ProximaNova-Bold !important; color:#333333;}
	.project_details_2_avail						{ font: 16px ProximaNova-Regular !important; color:#333333; margin: 10px; }
	#project_details_loan							{ font: 40px ProximaNova-Bold !important; color:#33333; margin-bottom: 65px; }
	.title_hr_about									{ margin: 23px auto; width: 200px; border-top: 1px solid #d6d6d6; }
	.title_hr_specification							{ margin: 23px auto; width: 110px; border-top: 1px solid #d6d6d6;}
	.title_hr_project_updates						{ margin: 23px auto; width: 100px; border-top: 1px solid #d6d6d6; }
	.title_hr_usp									{ margin: 23px auto; width: 25px; border-top: 1px solid #d6d6d6;}
	.title_hr_layoutplan							{ margin: 23px auto; width: 100px; border-top: 1px solid #d6d6d6;}
	#project_details_header							{ font-size: 50px; }
	.project_details_2_text							{ position: absolute; top: 50px; font: 12px ProximaNova-Bold !important;}
	.project_details_2_textalign1					{ left: 27%; color: #666666; }
	.project_details_2_textalign2					{ left: 45%; color: #b2b2b2; }
	.project_details_2_textalign3					{ left: 65%; color: #b2b2b2; }
	.project_details_pdmg							{ margin: 0 auto; padding: 30px 12px; width: 75%; }
	.project_details_banks							{ position: relative; float: left; width: 100%; height: auto; background-color: white; padding-bottom: 5%; }
	.project_details_bank_image						{ margin: 0 2%; }
	/* manual sliding  starts*/
	.carousel-control								{  bottom: initial !important; width: auto !important; opacity:1 !important; }
	.carousel-control.left							{ background-image: none !important;  left: 40%;  border: none;  top: 77%;  z-index: 999; padding: 8px 18px 5px 16px;}
	.carousel-control.right							{ background-image: none !important;  border: none; top: 77%; right: 43.5% !important; z-index: 999; padding: 8px 18px 5px 16px;}
	.carousel-slid-left								{top: 7% !important; left: 65% !important;}
	.carousel-slid-right							{ top: 7% !important; left: 73.4% !important;}
	.project_details_stage							{ width:33% !important; opacity: 0.9; margin: 0 auto;font: 16px ProximaNova-Regular; color:#333333 !important; line-height: 1.5; bottom: 37% !important; text-shadow: none !important; left: 13% !important; top: initial !important; }
	.project_imgcaption								{ width: 400px; font-family: ProximaNova-Regular !important; top: 37%;  width: 32%; right: 0; height: auto; display: inline-table; color: #333333 !important;  position: absolute; bottom: 0; z-index: 0; text-align: left;   background-color: white; padding: 50px; line-height: 1.5 !important; }
	.project_details_vertical_left					{ left: 77% !important;top: 35% !important; }
	.project_details_vertical_right					{  left: 87.3% !important; top: 35% !important;}
	
	/* manual sling ends */
@media screen and (min-width: 220px) and (max-width: 319px){
	.project_about_text		{ width: 80%; font-size: 12px; }
	#project_about_text		{ font-size: 18px; }
	.project_specification_div1{ width: 100%; }
	.project_roads			{ width: 100%; font-size: 12px; }
	.project_lighting		{ width: 100%; font-size: 12px; }
	.project_rains			{ width: 100%; font-size: 12px; }
	.project_disposal		{ width: 100%; font-size: 12px; }
	.project_water			{ width: 100%; font-size: 12px; }
	.project_specification_div2 { width: 100%; }
	.project_supply			{ width: 100%; font-size: 12px; }
	.project_usp_div1		{ width: 100%; }
	.project_dpsschool		{ width: 100%; margin: 0%; }
	.project_health			{ width: 100%; margin: 0%; }
	.project_city			{ width: 100%; margin: 0%; }
	.project_usp_div2		{ width: 100%; }
	.project_waterpark		{ width: 100%; margin: 0%; }
	.project_airport		{ width: 100%; margin: 0%; }
	.project_hotel			{ width: 100%; margin: 0%; }
	#project_clock_text		{ font-size: 12px; }
	#project_number			{ font-size: 20px; }
	.project_year			{ width: 15%; font-size: 12px; }
	.project_months			{ width: 15%; font-size: 12px; }
	.project_days			{ width: 15%; font-size: 12px; }
	.project_hr						{ width: 30%; }
	.project_amenities_text	{ font-size: 5px; }
	.project_amenities		{ width: 60%; }
	#specification			{ font-size: 15px; }
	.project_large			{ font-size: 15px; }
	#project_updates		{ font-size: 15px; }
	.project_initial_text	{ width: 50%; right: 27%; font-size: 8px;}
	#usp					{ font-size: 15px; }
	.project_city_text		{ border-left: 0px; border-right: 0px;}
	.project_dpsschool_text	{ border-left: 0px;  }
	.project_health_text	{ border-left: 0px;  }
	.project_waterpark_text	{ border-left: 0px; }
	.project_hotel_text		{ border-left: 0px; border-right: 0px; }
	.project_airport_text	{ border-left: 0px; }
	
	.project_details_2_checkbox {line-height: 1; font-size:12px;}
	.project_details_2_avail	{ font-size:13px; }
 }

@media screen and (min-width: 320px) and (max-width: 479px){
	.project_about_text		{ width: 80%; font-size: 12px; }
	#project_about_text		{ font-size: 18px; }
	.project_specification_div1{ width: 100%; font-size: 14px;  }
	.project_roads			{ width: 100%; font-size: 14px; }
	.project_lighting		{ width: 100%; font-size: 14px; }
	.project_rains			{ width: 100%; font-size: 14px; }
	.project_disposal		{ width: 100%; font-size: 14px; }
	.project_water			{ width: 100%; font-size: 14px; }
	.project_specification_div2 { width: 100%; }
	.project_supply			{ width: 100%; font-size: 14px; }
	.project_usp_div1		{ width: 100%; }
	.project_dpsschool		{ width: 100%; margin: 0%; }
	.project_health			{ width: 100%; margin: 0%; }
	.project_city			{ width: 100%; margin: 0%; }
	.project_usp_div2		{ width: 100%; }
	.project_waterpark		{ width: 100%; margin: 0%; }
	.project_airport		{ width: 100%; margin: 0%; }
	.project_hotel			{ width: 100%; margin: 0%; }
	#project_clock_text		{ font-size: 14px; }
	#project_number			{ font-size: 22px; }
	.project_year			{ width: 15%; font-size: 14px; }
	.project_months			{ width: 15%; font-size: 14px; }
	.project_days			{ width: 15%; font-size: 14px; }
	.project_hr 				{ width: 30%; }
	.project_amenities_text	{ font-size: 5px; }
	.project_amenities		{ width: 50%; }
	#specification			{ font-size: 16px; }
	.project_large			{ font-size: 16px; }
	#project_updates		{ font-size: 16px; }
	.project_initial_text	{ width: 60%; right: 20%; font-size: 10px; }
	#usp					{ font-size: 16px; }
	.project_details_2_num2	{ left:44%; }
	.project_details_2_number { top:-20%; }
	.project_details_2_checkbox {line-height: 1; font-size:12px;}
	.project_details_2_avail	{ font-size:13px;}
	.project_amenities		{ width: 50%; }
 }

@media screen and (min-width: 480px) and (max-width: 767px){ 
	.project_image			{ }
	.project_content		{ }
	.project_amenities		{ width: 50%; }
	.project_about_text		{ width: 80%; }
	#project_about_text		{ font-size: 18px; }
	.project_initial_text	{ font-size: 12px; }
	.project_amenities_text	{ font-size: 9px; }
	.project_year			{ width: 15%; font-size: 14px; }
	.project_months			{ width: 15%; font-size: 14px; }
	.project_days			{ width: 15%; font-size: 14px; }
	.project_roads			{ font-size: 15px; }
	.project_lighting		{ font-size: 15px; }
	.project_rains			{ font-size: 15px; }
	.project_disposal		{ font-size: 15px; }
	.project_water			{ font-size: 15px; }
	.project_supply			{ font-size: 15px; }
	.project_alignleft		{ font-size: 9px; }
	.project_alignright		{ font-size: 9px; }
	.project_details_2_number  { top:-17%; }
	.project_details_2_num2	{ left:46%; }
}

@media screen and (min-width: 768px) and (max-width: 1024px){ 
	.project_amenities_text	{ font-size: 13px; }
	.project_amenities		{ width: 30%; }
}

/* PROJECT DETAILS ENDS HERE */

/* PROJECT MAIN STARTS HERE */

	.silderFix						{ position: absolute !important; }
	.silderFix1						{position: fixed !important; bottom: 1px;}
	/* .project_top					{ top:95%; } */
	
	.project_km_padding				{ padding:5px; }
	
	.slider_posi					{ top: 195%; position: absolute;}
	.slider_posi1					{ top: 165%; position: absolute;}
	.project_header	h1				{ font-size:50px !important; }
	.project_box					{ position: relative; background-color: #f5f5f5; color: black; padding-top: 47px; padding-bottom: 47px;}
	.project_box h1					{ font-size:30px !important; }
	.project_head_txt				{ font:40px ProximaNova-Bold !important; color:#333333; font-weight:bold; padding-top: 20px; padding-bottom: 30px;}
	.project_spec					{ width:80%; background-color:#f5f5f5; margin:0 auto; padding:18px;}
	.project_spec_bold				{ font:20px ProximaNova-Bold !important; color:#666666; }
	.project_spec_sub				{ font-family: ProximaNova-Regular !important; color:#666666; padding-right:5px;}
	.project_grey					{ }
	.project_overflow				{ overflow:hidden; }
	.text_innerspan1				{ width:100%; text-align:center; }
	.project_around					{ font:24px ProximaNova-Bold !important; color:#333333; padding:30px; }
	.project_school					{ width:80%; height: auto;position: relative; display: inline; margin: 0 auto; }
	.project_far					{ float:left; width:33.33%; padding-bottom:30px; }
	.project_border_bottom			{ border-bottom: 1px solid #eaeaea; }
	.project_spec_border			{ border-right:1px solid #e1e1e1; border-left:1px solid #e1e1e1; padding: 6px 3%; }
	.project_km						{ width: 100%; display: flex; justify-content: center; font:14px ProximaNova-Regular !important; color:#333333; padding-bottom: 15px; }
	.project_location				{ font-family: ProximaNova-Bold !important; color:#666666; }
	.project_border					{ border-left: 1px solid #eaeaea; border-right: 1px solid #eaeaea;}
	.project_pad_top				{ padding-top:30px; }
	.project_pad_bottom				{ padding-bottom: 35px; }
	.project_available				{ padding-top: 50px; font: 14px Proximanova-Regular; color: #333333;}
	/* .project_sold_out			{ width:100%; height:100%; background-color:black; opacity: 0.2; position:absolute; z-index:1;} */
	.project_img_avail1				{ background: url("../images/project/Image1.jpg") no-repeat; height: 680px; background-size:cover; background-position-x: -180px; }
	.project_img_avail2				{ background: url("../images/project/Image3.jpg") no-repeat; height: 680px; background-size:cover; background-position-x: -180px; }
	.project_img_avail3				{ background: url("../images/project/Image5.jpg") no-repeat; height: 680px; background-size:cover; background-position-x: -180px; }
	.project_img_index				{ z-index:-3; }
	.project_spec_pad_left			{ padding-left:3%; }
	.project_spec_pad_right			{ padding-right:3%; }
	.project_sold_symbol			{ position:absolute; top:100px; margin:0 auto; z-index:2; right:8%; }
	.project_img_unavail1			{ background: url("../images/project/Image2.jpg") no-repeat; height: 680px; background-size:cover; }
	.project_img_unavail2			{ background: url("../images/project/Image4.jpg") no-repeat; height: 680px; background-size:cover; }
	.project_avail_box				{ width: 10px; height: 10px; background-color: green; position: relative; display: inline-block; margin: 0 10px; border-radius: 50%;}
	.project_not_avail_box			{ width: 10px; height: 10px; background-color: red; position: relative; display: inline-block; margin: 0 10px; border-radius: 50%;}


	.project_main_body 				{ margin:0; padding:0; background-color:white; }
	.project_main_image				{ width:100%; display:block; height:100%; }
	.project_main_main 				{ width:100%; height:auto; position:absolute; top:90%; }
	.project_main_txt				{ font-size: 18px; color:#2f4f4f; padding-right: 5%; }
	.project_main_text_1 .project_main_text_2 .project_main_text_3 .project_main_text_4 .project_main_text_5 { background:white; }
	.project_main_txt1				{ color:#2f4f4f; }
	.videoclass						{ width:100%; height:100%; }
	.project_header_img				{ width:100%; height:90%; position:absolute; background-image:url("../images/project_header_img.jpg"); }
	.project_main_image_text_1 		{ background-color:white; }
	.project_main_image_text_2 		{ background-color:white; }
	.project_main_get_in_touch		{ width:100%; position:relative;float:left; }
	.project_main_footer			{ width:100%;}
	

@media screen and (min-width: 1025px) and (max-width: 1500px){ 

	
	/* object				{ width:100%; height:500px; } */
	.project_main_big				{ font-size: 35px; color:black; }
	.project_main_light				{ color: #939f9f; font-size:24px; margin-left: 0 !important; margin-right: 0 !important;}
	.project_main_light1			{ color: #939f9f; font-size:15px; }
	.project_main_hectares			{ float:left; width:30%; display:block; padding:0!important; margin: 0!important;}
	.project_main_desc				{ font-size:15px; }
	.project_main_txt1				{ font-size:32px;}
	.project_main_view				{ float:left; padding-left:5%; padding-right:5%; background-color:#0E4D9C; font-size:18px; color:white;}
	
	.project_main_image_text_1		{ width:100%; height: ;overflow:hidden; position:relative; display:flex; align-items:center; }
	.project_main_image_1			{ width:50%;  float:left; }
	.project_main_text_1			{ width:40%;  float:left; position:relative; left:5%; }


	.project_main_image_text_2		{ width:100%; height:auto; float:right; position:relative; }
	.project_main_image_2			{ width:50%; height:100%; float:right; }
	.project_main_text_2			{ width:40%; float:left; position:absolute; align-items: center; left:5%; top:18%;}


} 


@media screen and (min-width: 768px) and (max-width: 1024px) { 

	/* object				{ width:100%; height:300px; } */
	.project_main_txt				{ font-size:15px; }
	.project_main_light				{ color: #939f9f; font-size:22px; }
	.project_main_light1			{ color: #939f9f; font-size:13px; }
	.project_main_hectares			{ float:left; width:30%; display:block; }
	.project_main_desc				{ font-size:15px; }
	.project_main_txt1				{ font-size:24px;}
	.project_main_view				{ float:left; padding-left:4%; padding-right:4%; background-color:#0E4D9C; font-size:13px; color:white; }
	.project_main_big				{ font-size: 32px; color:black; }
	.project_main_image_text_1		{ width:100%; height:100%;overflow:hidden; position:relative; display:flex; align-items:center; }
	.project_main_image_1			{ width:50%;  float:left; }
	.project_main_text_1			{ width:45%;  float:left; position:relative; left:5%;}
	.project_main_image_text_2		{ width:100%; height:auto; float:right; position:relative;}
	.project_main_image_2			{ width:50%; height:100%; float:right; }
	.project_main_text_2			{ width:45%; float:left; position:absolute; align-items: center; left:5%; top:13%;}

}



@media screen and (min-width: 480px) and (max-width: 767px){

	/* object				{ width:100%; height:200px; } */
	
	.project_main_light				{ color: #939f9f; font-size:20px; }
	.project_main_light1			{ color: #939f9f; font-size:11px; }
	.project_main_hectares			{ float:left; width:30%; display:block; }
	.project_main_desc				{ font-size:15px; }
	.project_main_txt1				{ font-size:26px;}
	.project_main_view				{ float:left; padding-left:4%;position:relative; padding-right:4%; background-color:#0E4D9C; font-family:sans-serif; font-size:13px; color:white; left:36%;}
	.project_main_txt				{ font-size:15px; }
	
	
	.project_main_big				{ font-size: 28px; color:black; }
	
	.project_main_image_text_1		{ width:100%; height: 100%;overflow:hidden; align-items:center;}
	.project_main_image_1			{ width:100%;  float:left; }
	.project_main_text_1			{ width:100%;  float:left; position:relative; text-align:center; padding-top:5%; padding-bottom:5%;}

	.project_main_image_text_2		{ width:100%; height:auto; float:right; }
	.project_main_image_2			{ width:100%; height:100%; float:right;  }
	.project_main_text_2			{ width:100%; height:100%; float:right; position:relative; text-align:center; padding-top:5%; padding-bottom:5%; }

 } 


@media screen and (min-width: 220px) and (max-width: 479px){ 

	/* object				{ width:100%; height:150px; } */
	
	.project_main_light				{ color: #939f9f; font-size:15px; }
	.project_main_light1				{ color: #939f9f; font-size:8px; }
	
	.project_main_big				{ font-size: 25px; color:black; }
	.project_main_txt1				{ font-size:24px;}
	.project_main_view				{ float:left; padding-left:4%; padding-right:4%;position:relative; left:30%; background-color:#0E4D9C; font-size:13px; color:white;}
	.project_main_txt				{ font-size:15px; }
	.project_main_hectares			{ float:left; width:30%; display:block; }
	.project_main_desc				{ font-size:15px; }
	
	.project_main_image_text_1		{ width:100%; height: 100%;overflow:hidden; align-items:center;}
	.project_main_image_1			{ width:100%;  float:left; }
	.project_main_text_1				{ width:100%;  float:left; position:relative; text-align:center; padding-top:5%; padding-bottom:5%;}

	.project_main_image_text_2		{ width:100%; height:auto; float:right; }
	.project_main_image_2			{ width:100%; height:100%; float:right;  }
	.project_main_text_2				{ width:100%; height:100%; float:right; position:relative; text-align:center; padding-top:5%; padding-bottom:5%; }

}

/* PROJECT MAIN ENDS HERE */
/* BLOG STARTS HERE */

/* html,body				{ width:100%; height:auto; margin: 0; padding: 0; border: 0; outline: 0; } */

.blog_facebook_txt		{ font:18px ProximaNova-Regular; color:#333333; }
.blog_textbox			{ font:16px Asap-Regular; color:#333333; }
.blog_textbox			{ line-height:1.5; }
.blog_font				{ font-size:18px; }


.blog_bgclr				{ background-color: #fff; width: 45%; position: relative;  margin: 0 auto;}
.blog_heading			{ font: 40px ProximaNova-Bold !important; color: #333333;}
.blog_Hdec				{ font-family: ProximaNova-Regular !important; color: #858585; padding: 0 24px 40px; line-height: 1.5 !important; width: 50% !important;}
.blog_Hdate				{ font: 13px ProximaNova-Bold !important; color: #999999; padding: 25px 0 15px;}
.image					{  position: fixed; width: 100%; z-index: -1; height: 90%; }
.blog_header_image		{ position: fixed; width: 100%; z-index: -1; height: 90%; background-color: #B2B2B2; background-image:url("../images/blog_header_img.jpg") }
#blog_header_center		{ width: 25%; margin: 10% auto; background-color: white; color: black; font-size: 13px; padding: 2%; }
#blog_header_textbold	{ font-size: 36px; font-weight: bold; }
.imagetext				{ position: fixed; width: 100%; height: auto; }
.blog_container			{ position: absolute; width: 100%; height: auto; margin: 0px; top:100%; background-color: #f5f5f5; }
.blog_div_text_1		{ margin: 0 auto !important; width: 90%; padding-bottom: 25px;}
.blog_MG0				{ margin: 0 !important;}
.blog_sectn				{ margin: 25px 0;}
.blog_seccontainer td	{ background-color: #fff; width: 30%; border-right: 30px solid #f5f5f5;} 
.blog_seccontainer td  aside{ margin: 25px;}
.blog_imgclass			{ width: 100%; height: 100%;}
.blog_image_text_1		{ width:30%; height:100%; float:left; margin: 3% 1%; background-color: #fff;}
.blog_image_1			{ width:100%; height:50%; float:left; }
.blog_text_1			{ width:100%; height:50%; float:left; text-align:left; color: black; padding: 4px 5px 3px;}
.blog_image_text_2		{ width:30%; height:100%; float:left; margin: 3% 1%; background-color: #fff;}
.blog_image_2			{ width:100%; height:70%; float:left; }
.blog_text_2			{ width:100%; height:30%; float:left; font-size: 20px; text-align:left; color: black; -webkit-justify-content: center; -webkit-align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; }
.blog_only_text			{ width:30%; height: 100%; float: left; margin: 3% 1%; background-color: #fff;}
.blog_text				{ width:100%; height:100%; float:left; margin: 10% auto; text-align:left;  }
.blog_transbox			{ height: 100%; width: 100%;  margin: 0 auto; font-size: 16px; position: fixed; text-align: center;  }
.blog_banimg			{ position: fixed; z-index: -100; zoom: 106%;}

.blog_div_text_2		{ position: relative; width: 80%; height: auto; display: table; margin: 0 auto; }
.blog_imgclass			{ width: 100%; height: 100%;}
.blog_image_text_3		{ width:30%; height:100%; float:left; margin: 3% 1%; background-color: #fff;}
.blog_image_3			{ width:100%; height:70%; float:left; }
.blog_text_3			{ width:100%; height:30%; float:left; font-size: 20px; color: black; text-align:left; -webkit-justify-content: center; -webkit-align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; }
.blog_image_text_4		{ width:30%; height:100%; float:left; margin: 3% 1%; background-color: #fff;}
.blog_image_4			{ width:100%; height:50%; float:left; }
.blog_text_4			{ width:100%; height:50%; float:left; text-align:left; color: black; font-size: 18px;}
.blog_only_text_1		{ width:30%; height: 100%; float: left; margin: 3% auto; padding: 5%; background-color: #fff;}
.blog_text1				{ height:100%; float:left; font-size: 22px;   margin: 0 3%; color: black; display: flex; justify-content: center; display: inline-block; align-items: center; -webkit-justify-content: center; -webkit-align-items: center; display: -webkit-box; -webkit-box-align: center; font-size:17px; }
.blog_textbox			{ text-align: center; color: black; }
.blog_plot				{ font: 22px ProximaNova-Bold; }
.blog_box				{ display: table; padding: 4%;}
.blog_icons				{ text-align: left; margin: 0 3%; color: black; }
#blog_demand			{ font: 22px ProximaNova-Bold; font-weight: bold; }

#logo 					{ margin:0 auto;  /* float: right; */  font-size: 1.2rem;  position: fixed;  width: 100%;  height: auto; }
#logo  div 				{ text-align: center; }
#blog_follow			{ font: 20px ProximaNova-Bold; }
.blog_followus			{ border-bottom: 1px solid #EBEBEB; padding:4%;}
.blog_align				{ width: 100%; height:100%; }
#blog_date				{ color: #9A9A9A; font-size: 14px; }
#blog_date_may			{ text-align: center; color: #9A9A9A; font-size: 14px; }
#blog_date_margin		{ color: #9A9A9A; font-size: 14px; margin: 10px 3%; }
.blog_facebook			{ width: 16px; height: 16px; position: relative; display: inline-block; margin: 0 -1%; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAZklEQVQ4jWNgwAGmTp3KM2/evMnz5s27P2/evP8wjEs9Bpg3b95EZI3kGPAYSePnefPmHZ43b95+UgyA2zpz5kwRojViM4BUjfuhGNnvMDHCXsAWcEj4AaUGHCPFK+SFwagBQ9EAAJwZyqRNrVj0AAAAAElFTkSuQmCC); }
.blog_facebook:hover	{ cursor: pointer; width: 16px; height: 16px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaklEQVQ4jWNgwAEcQqfyWEfMnGwdOeO+deSM/zCMSz0GsIqYPhFZI8kG2ETOeIyk8bN15IzD1pEz9hNtALKtDpEzRYjWiM0AUjXuh2Jkv8PECHsBW8Ah8PQHFBow4xgpXiEvDEYNGIoGAAB/NpkxgjqjLQAAAABJRU5ErkJggg==);}
.blog_twitter			{ width: 16px; height: 16px; position: relative; display: inline-block; margin: 0 -1%;  background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABEUlEQVQ4jb2ToU4DURBFV6xAVFSA309YWVGBRFYgKvoBlQg+4CUIPoCs2OzMuQYHCQJZHLICgURUIPgEREMWszSP7nbTJoRJxsx79955M/clyX+EpKGZTcxsKimL6kdJCCF193kPeAR8AHWTn8ANsJSU/1yo3T2EENJtAmAVgeNcAueJpCwqvpjZWaSe7QDXQBWrPG8dvgN3TaudBGY2jVUegXWPWivdfRx38HoIGFhLGm4Iqqo6Bd4OIFj8mnQIIQWumhXtQzBr7dvdL/YBS7otimLQaRp3H0t66CFYxU7cRFEUA0m5pOueZyzKsjxugYGZpHt3/9qxridJc+Cks+3IdbmZTZpZXDYfZ9Rl7z+NbzOloHVvMFRRAAAAAElFTkSuQmCC); }
.blog_twitter:hover		{ cursor: pointer; width: 16px; height: 16px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHElEQVQ4jb1SoU4DQRB94iQCUYGoqKisQCAQCCQCUYFA8gF18AeICgSiEt8mu7NUIBAn7gMQ/YAKBILkdmcuqUFULIKjveN2D0gIk4zZmfdm9r0B/iWmqw7IDaHtOWZFb/Ou8h0g8wlIbpD5JAgmewDiFxD7Mt9AMoHhR6h8DzB8WBZSTFedJoEsK+BqplDuApgVvcrjM7Q93WxTr9XT8F1lCqdfGl5hWINkEiUgN/wUYh8kDyBex5uDG3S3Shq2vwITF3WhtD1uESs0XdcJMp/A8PWHRd8SrKHyftNvzZc/28CN4xen5Agk8xaCJ8yL3SYw8wnuZQCScfQbhm/D16ryfmljZKostp63heEuFJ+A3AjaXkHxWVisP453M/R3hGuQ08kAAAAASUVORK5CYII=);}
.blog_linkedin			{ width: 16px; height: 16px; position: relative; display: inline-block; margin: 0 -1%; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABAElEQVQ4ja2UrU4DURCFr0AiKiGpqKisQPQBVvIICEQ9BrlyXZ9gxWbmnLNvgKhAIBAIJIIH6ANUIJArimAvmZBN2i1MMubM3C/zk7nJ3edmVrj7Ip1iJD9J7kl2ki5OAeyzS5qNBgAo9W3rqqrORgP+bJIeSW5JvtZ1fd5XdR81SVckNyQ/+pm9uPt1Sml4BiSfgyaSXczL7u43BwG9vwMoAZQkd0F/OwawlTTJLQNYhdjumBbWcWbuPo9vBgGSHrLWtu1dBDRNc3kQECsAsPq1tdmoCgYAk38H/OzYzKZ9C08h6TYCzGwaYl1y94WZFQCWMcnMCjMrhu4DwDJ/AV+OZYmDyFwdIQAAAABJRU5ErkJggg==); }
.blog_linkedin:hover	{ cursor: pointer; width: 16px; height: 16px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABBklEQVQ4ja2Ur47CQBDGP4E8gYQEgUAiEDxAJY9w4gQec4psdlas4zF4hIrtzDY5UYE4eeIegAdAIJAVRVDaLmlC6d0kY76d/WXm2z+ASmcwLoJO5ugVJBeQFCDJYXnUB1BUqfy0B4AVyO9BfgebDV4H/DnIe5AcQfINm73dNPkMNM0LkDiQnEvPDjC8KgEtHpBkte73IMmDuntq/94BIAVIfm9esQLJqaH/dAEcYeNhNbLmdWPt1GWEXeCZSmfBnlaAkbjSTLoJADodPwc0O9C8Djvw09c6eATYePjvgPqMtzIpL9dXDUg+AsBWJg1ADuhkDuMiEC+DIuMiGBe1vg/i5f0LuAKd5SUQGNW9AAAAAABJRU5ErkJggg==);}
.blog_instagram			{ width: 16px; height: 16px; position: relative; display: inline-block; margin: 0 -1%; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABFUlEQVQ4jZWTIW4DQQxFDQIX9QLNEQoDCnKAgsCFAT1AjjCssMho7O8D9BCBhWElAQuiasGCqAoo3BK72q52pI4lSzPS+Nn/r5dyzlsAHYCxMk8isiMAp4qimzcb/N5TTVcz2xARMXMTEAJwrQCsySMmr5oAwLOZrc1s43KKgKuq7pm5YeZGRNqJ7j8ZgG8Ax5CjqnuahUPCyKPX/HrQua53M/sSkfsFwB2ATwAfSx4E4AxgZOZmDkgprbzr2d92S4BckgDgyd++FQFm9uAabyLSppRWk+IewJhz3hYBRESq+hifyEeO86iqh8lEy4CYxMxe3KiLmb3GFpYAw5JxpZivcvyJg5//k7FUFxKRXRhUmb2ItD/kjCxf1le9rwAAAABJRU5ErkJggg==); }
.blog_instagram:hover	{ cursor: pointer; width: 16px; height: 16px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABKElEQVQ4jZWToW7DQAyGDQqD9gLrIwwWDOQBBuyTIgUW7AHGB2w2uAcYqJS4JH2IwMGykYKAagoIqKaCwgzMnrIsJzWWLN1J5+/8/+cDlDIl1oZY+5m5RykRiHU/o+hsl3W2b2HOrUF0BQCQSZU4BIj1dC0AZbMEC+98ZgflI8pmGURXJicKOKEU60yqJJMqISnyge4/6YALsdYuB6VYwygM4kbWVvPrQWO63on1Kzxvb8eATKobYv0k0Y8pDxoAgMB6INY+kyoZA1KpF8R6CawHAzT/AMTbt7gEfbCzuygAZXtnGs8kRZ5KvRgUtz/wMo0CzKx7fyIzytc9ij4N5mAaMOjkxYw6BtZXn8IYoJsyLhbjUfaf2Nn6mvShOgJKiW7QzGxJivwbHhrbURdtwLAAAAAASUVORK5CYII=);}
.blog_twitter_color		{ width: 16px; height: 16px; position: relative; display: inline-block; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABN0lEQVQ4jb1SLU8DQRA9UYGoqADfn1BZUYFEViAqKpDNded6CfyASxD8gEosDhIEsiSTvsVVIJCIChKuu7NJJaIhVwG9O7i7UhLCJM/s7PvYnfG8/6iQlw0F0x1CeiHHzc35Cc/3vIiTmoIZVJGJF22CxARJPvFGcGPSMvPZtjYXEjU1UcRJrSAAN8+RM2iZEeyxF3Lc3BwGWh4DbY+y6FmvBJeZixb9rflCcNcEN64SGEJ6qUsAuSPIaotbASO2nVwC9/QbMkFWIS8bqYBiOSTI8+4CbvLlpyNOaqTd+ceIfhZQMP3ivCHhjgmufLb10qUZse0Q3O2W6PP8Jqbls637bFuBdhfVz3CTU37dL5AVTD+AuyHIe4XzffAgA0J8UBo7l6KlYLoECdXUnA0hPeJFu2y9/7TWg33KUCZPv2IAAAAASUVORK5CYII=); }

@media screen and (min-width: 220px) and (max-width: 319px){ 
	.blog_image_text_1	{ width:100%;  margin: 0px;height: auto; }
	.blog_image_text_2	{ width:100%; margin: 0px; height: auto; }
	.blog_only_text		{ width:100%; margin: 0px; height: auto; }
	#blog_header_center	{ width: 50%; margin: 20% auto; }
	.blog_div_text_1	{ width:100%; }
	.blog_div_text_2	{ width:100%; }
	.blog_image_text_3	{ width:100%; margin: 0px; height: auto; }
	.blog_image_text_4	{ width:100%; margin: 0px; height: auto; }
	.blog_only_text_1	{ width:100%; margin: 0px; height: auto; }
	.blog_image_1		{ width:100%; height:auto; }
	.blog_text_1		{ width:100%; height:auto; } 
	.blog_image_2		{ width:100%; height:auto; }
	.blog_text_2		{ width:100%; height:auto; }
	.blog_image_3		{ width:100%; height:auto; }
	.blog_text_3		{ width:100%; height:auto; } 
	.blog_image_4		{ width:100%; height:auto; }
	.blog_text_4		{ width:100%; height:auto;}
	#blog_header_textbold	{ font-size: 18px; }	
}

@media screen and (min-width: 320px) and (max-width: 479px){ 
	.blog_image_text_1	{ width:100%; margin: 0px; height: auto; }
	.blog_image_text_2	{ width:100%; margin: 0px; height: auto; }
	.blog_only_text		{ width:100%; margin: 0px; height: auto; }
	#blog_header_center	{ width: 50%; margin: 20% auto; }
	.blog_div_text_1	{ width:100%; }
	.blog_div_text_2	{ width:100%; }
	.blog_image_text_4	{ width:100%; margin: 0px; height: auto; }
	.blog_image_text_3	{ width:100%; margin: 0px; height: auto; }
	.blog_only_text_1	{ width:100%; margin: 0px; height: auto; }
	.blog_image_1		{ width:100%; height:auto; }
	.blog_text_1		{ width:100%; height:auto; } 
	.blog_image_2		{ width:100%; height:auto; }
	.blog_text_2		{ width:100%; height:auto; }
	.blog_image_3		{ width:100%; height:auto; }
	.blog_text_3		{ width:100%; height:auto; } 
	.blog_image_4		{ width:100%; height:auto; }
	.blog_text_4		{ width:100%; height:auto; }
	#blog_header_textbold	{ font-size: 20px; }
}

@media screen and (min-width: 480px) and (max-width: 767px){ 
	#blog_header_center	{ width: 50%; margin: 20% auto; }
	.blog_div_text_1	{ width: 90%; }
	.blog_div_text_2	{ width: 90%; }
	.blog_image_text_1	{ height: 100%; }
	.blog_image_text_2	{ height: 100%; }
	.blog_only_text		{ height: 100%; }
	.blog_image_text_3	{ height: 100%; }
	.blog_image_text_4	{ height: 100%; }
	.blog_only_text_1	{ height: 100%; }
	.blog_plot			{ font-size: 16px; }
	#blog_demand		{ font-size: 16px; }
	.blog_font			{ font-size: 13px; }
	#blog_header_textbold	{ font-size: 25px; }

	
}

@media screen and (min-width: 768px) and (max-width: 1024px){ }

/* BLOG ENDS HERE */
@media screen and (min-width: 1500px){ 
	.aboutus_article1 		{width:1200px; margin: 0 auto;}
}
@media screen and (min-width: 1700px){ 
	.hole_container			{ width: 1700px; margin: 0 auto; background-color:#f5f5f5; overflow: hidden;    position: relative;    display: block;}
	.aboutus_text_1 			{ margin-top: 5%;}
	.aboutus_text_2 			{ margin-top: 5%;}
	
} 
/* slider properties Strats */
.carousel-indicators .active			{ background-color: #fff !important;} 
.carousel-inner.vertical 			{ height: 100%; }
.carousel-inner.vertical > .item 	{ -webkit-transition: 1s ease-in-out top; -o-transition: 1s ease-in-out top; transition: 1s ease-in-out top; }
@media all and (transform-3d),
(-webkit-transform-3d) 				{
  .carousel-inner.vertical > .item 	{ -webkit-transition: -webkit-transform .6s ease-in-out; -o-transition: -o-transform .6s ease-in-out; transition: transform .6s ease-in-out; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; perspective: 1000;   }
  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right { top: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0);   }
  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left 	{ top: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active { top: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
.carousel-inner.vertical > .active  { top: 0; }
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev	    {  top: 0;  height: 100%;  width: auto; }
.carousel-inner.vertical > .next     {  left: 0;  top: 100%; }
.carousel-inner.vertical > .prev	    {  left: 0;  top: -100% }
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {  top: 0; }
.carousel-inner.vertical > .active.left {  left: 0;  top: -100%; }
.carousel-inner.vertical > .active.right {  left: 0;  top: 100%; }
.carousel-indicators li 				{	display: block!important ;	margin-bottom: 10px !important; border: 1px solid #999999 !important; background-color: #999 !important;}
.carousel-indicators 				{	left: initial!important ;    top: 63% !important;    right: 0 !important;	width: 4% !important; }
 .carousel-inner 					{	display: inline-flex;	display: -ms-grid; } 
.carousel-caption				       {   z-index: 0 !important; right: 10% !important;    top: 50%;    background-color: white;    width: auto;    height: auto;  /*   color: black !important;	left: initial!important ; */ font-family: bold; }
.indexslide_imgdescrption			{ font: 20px ProximaNova-Regular !important;     text-align: left; background-color: white; padding: 12px 0; }
.indexslide_imgcaption				{ font: 40px ProximaNova-Bold !important;
right: 9% !important;
top: 43%;
color: black !important;
left: initial!important;
position: absolute;
padding-top: 20px;
background-color: white;
padding: 40px; 
width: 482px;
}

/* slider ends */
.fnt16PX							{ font-size: 16px !important; }