

	.clients_txt				{ font-family: sans-serif; font-size: 18px; color:#2f4f4f; padding-left:3%;padding-right:3%; }
	.clients_text_1 .clients_text_2 .clients_text_3 .clients_text_4 .clients_text_5 { background-color:white; }
	.clients_image				{ width:100%; display:block; height:100%; }
	.clients_main1				{ width:100%;  height:560px; display:block; position:relative; background-color:white; z-index:1; }
	.clients_text_3				{ background-color:white; }
	.clients_light1				{ font-size:14pt; margin-bottom:41pt;}

@media screen and (min-width: 1025px) and (max-width: 1500px){ 

	.clients_light				{ color: #939f9f; font-size:25px; }
	.clients_light1				{ color: #939f9f;  }
	
	.clients_clients			{ width:100%; height:150px; float:left; position:relative; display:flex; vertical-align:center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; justify-content:center; align-items: middle; background-color: #f6f7f7; }
	.clients_happy				{ display: flex; justify-content: center; align-items: center; font-size: 35px; border-bottom: 2px solid; border-bottom-color: #e5e5e5; }


	.clients_more_images		{ width:100%; float:left;height:475px; background-color: #f6f7f7; position:relative;}
	.clients_image_text_3		{ width:49.5%; height:100%; float:left; position:absolute; }
	.clients_image_3			{ width:50%; height:100%; float:left; }
	.clients_text_3				{ width:50%; height:100%; float:left; background-color:white; text-align:center; display:flex; align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}

	.clients_image_text_4_5		{ width:50%; height:475px; float:right;  background-color: #f6f7f7; }
	.clients_image_text_4		{ width:100%; height:50%; float:right; position:relative; }
	.clients_image_4			{ width:49%; height:100%; float:right; }
	.clients_text_4				{ width:50%; height:100%; float:left;  background-color:white; position:absolute; text-align:center; display:flex; align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}

	.clients_image_text_5		{ width:100%; height:50%; float:left; position:relative;}
	.clients_image_5			{ width:50%; height:100%; float:left; position:absolute;}
	.clients_text_5				{ width:49%; height:100%; float:right;  background-color:white; text-align:center; display:flex; align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}
	.clients_text_3				{ background-color:white; }
} 


@media screen and (min-width: 768px) and (max-width: 1024px) { 
	
	.clients_txt				{ font-family: sans-serif; font-size: 16px; color:#2f4f4f; }
	.clients_light				{ color: #939f9f; font-size:22px; }
	.clients_light1				{ color: #939f9f; }
	.clients_clients			{ width:100%; height:150px; float:left; position:relative; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; display:flex; vertical-align:center;justify-content:center; align-items: middle; background-color: #f6f7f7; }
	.clients_happy				{ display: flex; justify-content: center; align-items:center; font-size: 33px; border-bottom: 2px solid; border-bottom-color: #e5e5e5; }
	.clients_more_images		{ width:100%; float:left; height:475px;background-color:#f6f7f7; position:relative;}
	.clients_image_text_3		{ width:49.5%; height:100%; float:left;  position:absolute;}
	.clients_image_3			{ width:50%; height:100%; float:left; background-image: }
	.clients_text_3				{ width:50%; height:100%; float:left; background-color:white; text-align:center; display:flex; align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}

	.clients_image_text_4_5		{ width:50%; height:100%;height:475px;	float:right; background-color: #f6f7f7 }
	.clients_image_text_4		{ width:100%; height:50%; float:right;position:relative;}
	.clients_image_4			{ width:49%; height:100%; float:right;  }
	.clients_text_4				{ width:50%; height:100%; float:left; background-color:white; position:absolute; text-align:center; display:flex; align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}

	.clients_image_text_5		{ width:100%; height:50%; float:left; position:relative;}
	.clients_image_5			{ width:50%; height:100%; float:left; position:absolute;}
	.clients_text_5				{ width:49%; height:100%; float:right; background-color: white; text-align:center; display:flex; align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}
	.clients_text_3				{ background-color:white; }
}



@media screen and (min-width: 480px) and (max-width: 767px){

	.clients_light1				{ color: #939f9f; font-size:11px; }
	.clients_txt				{ font-family: sans-serif; font-size: 16px; color:#2f4f4f; }
	.clients_clients			{ width:100%; height:100px; float:left; position:relative; display:flex; vertical-align:center;justify-content:center; align-items: middle; background-color: #f6f7f7; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}
	.clients_happy				{ display: flex; justify-content: center; align-items:middle; font-size: 28px; border-bottom: 2px solid; border-bottom-color: #e5e5e5; }
	.clients_more_images		{ width:100%; height:auto; float:left;}
	.clients_image_text_3		{ width:100%; height:100%; float:left; position:relative;}
	.clients_image_3			{ width:50%; height:100%; float:left;  }
	.clients_text_3				{ width:50%; height:100%; float:left; text-align:center; display:flex; align-items: center; position:absolute; right:0; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}

	.clients_image_text_4_5		{ width:100%; height:100%;	float:left; background-color: #f6f7f7;position:relative; }
	.clients_image_text_4		{ width:100%; height:50%; float:right; background-color: white; position:relative;}
	.clients_image_4			{ width:50%; height:100%; float:right; }
	.clients_text_4				{ width:50%; height:100%; float:right; text-align:center;background-color:white; display:flex; align-items: center; position: absolute; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}

	.clients_image_text_5		{ width:100%; height:50%; float:left; position:relative;}
	.clients_image_5			{ width:50%; height:100%; float:left; position:relative;}
	.clients_text_5				{ width:50%; height:100%; float:left; background-color: white; text-align:center; display:flex; align-items: center; position:absolute; right:0; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}
	.clients_text_3				{ background-color:white; }
 } 


@media screen and (min-width: 220px) and (max-width: 479px){ 

	
	.clients_light1				{ color: #939f9f; font-size:8px; }
	.clients_clients			{ width:100%; height:80px; float:left; position:relative; display:flex; vertical-align:center;justify-content:center; align-items: middle; background-color: #f6f7f7; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}
	.clients_happy				{ display: flex; justify-content: center; align-items:middle; font-size: 22px; border-bottom: 2px solid; border-bottom-color: #e5e5e5; }
	.clients_big				{ font-size: 25px; color:black; }
	.clients_txt				{ padding:5%; }
	
	.clients_more_images		{ width:100%; height:auto; float:left;}
	.clients_image_text_3		{ width:100%; height:100%; float:left;}
	.clients_image_3			{ width:100%; height:100%; float:left;  }
	.clients_text_3				{ width:100%; height:100%; float:left; text-align:center; display:flex; align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}

	.clients_image_text_4_5		{ width:100%; height:100%;	float:left;}
	.clients_image_text_4		{ width:100%; height:50%; float:left;}
	.clients_image_4			{ width:100%; height:100%; float:left; }
	.clients_text_4				{ width:100%; height:100%; float:left; text-align:center;background-color:white; display:flex; align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}
	.clients_text_3				{ background-color:white; }
	.clients_image_text_5		{ width:100%; height:50%; float:left; }
	.clients_image_5			{ width:100%; height:100%; float:right;  }
	.clients_text_5				{ width:100%; height:100%; float:right; text-align:center; display:flex; background-color:white;align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;}

}
