
.header_menu	{ float: right;  position: relative;  z-index: 999;	margin: 3% 4%; cursor:pointer;}
/* .menu							{ float: right;
  margin-right: 5%;
  position: relative;
  display: block;
  visibility: visible;
  z-index: 99999999;} */
#toggle-menu-item					{ display: none;}
.menu-icons						{float: right; position: relative;}
.navbar-toggle    				{ display: block; background-color: #fff; border: 0px solid #999; border-radius: 9px; top: 2px; padding: 8px 6px;  width: 25px; right: 0;  margin: 0 auto;}
.icon-bar						{ display: block;  width: 25px;  height: 2px;  background-color: white;  border-radius: 1px;  margin-top: 5px;  margin-bottom: 2px; }
.menu-li						{ top: 1.5em;  position: relative;   display: table; right: .9em;}
.menu-li li		 				{ margin-bottom: 1px; padding: 20px;text-align: left; background-color: white; width: 100%; height: 0; line-height: 0; overflow: hidden; -webkit-transition: height 0.25s; -moz-transition: height 0.25s; -o-transition: height 0.25s; transition: height 0.25s; }
.menu-li li:hover				{ background-color: #eee; }
.toggle-menu li a 						{ color: white; text-shadow: none; text-decoration: none; background: rgba(0,0,0,0.7); opacity: 1;  display: inline-block; padding: 1em; border-bottom: 1px solid #999; width: 75%; }
.toggle-menu li a:hover				{ color: #aaa; background-color: #333333; }
/* body:not(:target) #toggle-menu  		{ margin: 0; padding-top: 0px; padding-right: 1.6em;  top: 30px; right: 0; z-index: 1000; font: 17px League, Arial Narrow, 'Arial', sans-serif; text-transform: uppercase; text-align: center; }
body:not(:target) #toggle-menu li 		{  width: 100%; height: 0; line-height: 1; overflow: hidden; -webkit-transition: height 0.25s; -moz-transition: height 0.25s; -o-transition: height 0.25s; transition: height 0.25s; }
body:not(:target) #toggle-menu:target 	{ z-index: 1001; }
body:not(:target) #toggle-menu:target li { height: auto; line-height: auto; overflow: visible; -webkit-transition: height 0.25s; -moz-transition: height 0.25s; -o-transition: height 0.25s; transition: height 0.25s; } */
header							{ display: table; width: 100%; height: 48px; background-color: #fff; z-index: 9999; position: relative; padding-right: 9px; position: fixed; border-bottom: 1px solid #bfbfbf; }
ul, li							{ margin: 0; padding: 0; list-style: none; }
#projet_header_center			{ padding:10%; }

.stopfade { 
   opacity: .5;
}
#logo { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
 /*  background: -webkit-linear-gradient(#346fb1, #7293b2); 
  background: -o-linear-gradient(#346fb1, #7293b2);
  background: -moz-linear-gradient(#346fb1, #7293b2); 
  background: linear-gradient(#346fb1, #7293b2); */ 
  color: white;
  padding: 2rem 0;
  margin:0 auto;
  /* float: right; */
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  height: 100%;
  /* opacity: .5; */
}
#logo  div {
	text-align: center;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: .3rem;
}
/* #logo button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
} */

.play_center		{text-align: center; padding-top: 3%;}
.header_text{margin: 10% auto 0;}
#logo a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  /* background:rgba(0,0,0,0.5); */
  padding: .5rem;
  transition: .6s background; 
}
