@font-face {
	font-family:Montserrat-Regular;
    src: url(font/montserrat/Montserrat-Regular.ttf),
    url(font/montserrat/Montserrat-Regular.woff),
    url(font/montserrat/Montserrat-Regular.eot),
    url(font/montserrat/Montserrat-Regular.otf);
}
@font-face {
	font-family:Asap-Regular;
    src: url(font/asap/Asap-Regular.ttf),
    url(font/asap/Asap-Regular.woff),
    url(font/asap/Asap-Regular.eot),
    url(font/asap/Asap-Regular.otf);
}
body {
  margin: 0;
  background: #000; 
  font-family: Asap-Regular;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	background: url('//demosthenes.info/assets/images/logo.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
	-webkit-transition: 1s opacity;
}
 .header_menu	{ float: right;  position: relative;  z-index: 999;	margin: .5% 70px; cursor:pointer;}  
/* #toggle-menu-item					{ display: none;} */
/* .menu-icons						{float: right; position: relative;}
.navbar-toggle    				{ display: block; background-color: #fff; border: 0px solid #999; border-radius: 9px; top: 2px; padding: 8px 6px;  width: 25px; right: 0;  margin: 0 auto;}
.icon-bar						{ display: block;  width: 30px;  height: 2px;  background-color: white;  border-radius: 1px;  }
.icon-bar-center				{ margin: 8px 0;} */
.menu-li						{ top: 3em;  position: absolute;  right: 8em;  color: #fff;  z-index: 999;}
.menu-li li		 				{   position: relative;  display: inline-block; padding-bottom:5px; margin: 20px 10px;  text-align: left;  background-color: transparent; cursor: pointer;}

.toggle-menu li a 						{ color: white; text-shadow: none; text-decoration: none; background: rgba(0,0,0,0.7); opacity: 1;  display: inline-block; padding: 1em; border-bottom: 1px solid #999; width: 75%; }
.toggle-menu li a:hover				{ color: #aaa; background-color: #333333; }
header							{ display: table; width: 100%; height: 48px; background-color: #fff; z-index: 9999; position: relative; padding-right: 9px; position: fixed; border-bottom: 1px solid #bfbfbf; }
ul, li							{ margin: 0; padding: 0; list-style: none; }

.menu-li li:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  background-color: #fff;
  content: "";
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-li li:hover {
  color: #fff;
}
.menu-li li:hover:after {
  width: 100%;
}
/* menu items starts*/
.spinner-master2 * {transition:all 0.3s;-webkit-transition:all 0.3s;box-sizing:border-box;}

.spinner-master2 {position:relative;margin:50px auto;height:40px;width:40px;}

.spinner-master2 input[type=checkbox] {display:none;}
.spinner-master2 label {cursor:pointer;position:absolute;z-index:99;height:100%;width:100%;top:10px;left:0;}

.spinner-master2 .spinner2 {position:absolute;height:4px;width:100%;background-color:#fff;}

.spinner-master2 .diagonal.part-1 {position:relative;float:left;}
.spinner-master2 .horizontal {position:relative;float:left;margin-top:7px;}
.spinner-master2 .diagonal.part-2 {position:relative;float:left;margin-top:6px;}

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .horizontal {opacity: 0;}
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-1 {transform:rotate(135deg);-webkit-transform:rotate(135deg);margin-top:10px;}
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-2 {transform:rotate(-135deg);-webkit-transform:rotate(-135deg);margin-top:-16px;}

/* menu item ends */

.logo_size						{ width:90px; height: 120px; position: relative; margin: 35px auto 0;}

.stopfade { 
   opacity: .5;
}
.header_background_with_blue{
  background: -webkit-linear-gradient(#346fb1, #7293b2); 
  background: -o-linear-gradient(#346fb1, #7293b2);
  background: -moz-linear-gradient(#346fb1, #7293b2); 
  background: linear-gradient(#346fb1, #7293b2);  
  opacity: .8;
}
.header_background_with_bluetransparent{
	background: -webkit-linear-gradient(#346fb1, #7293b2); 
  background: -o-linear-gradient(#346fb1, #7293b2);
  background: -moz-linear-gradient(#346fb1, #7293b2); 
  background: linear-gradient(#346fb1, #7293b2);
  opacity: .5;
}
#logo { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  color: white;
  margin:0 auto;
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  height: 100%;
}
#logo  div {
	text-align: center;
}
.header_text h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: .3rem;
}
/* #logo button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
} */

.play_center		{text-align: center; padding-top: 3%;}
.header_text{margin: 10% auto 0;}
#logo a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  /* background:rgba(0,0,0,0.5); */
  padding: .5rem;
  transition: .6s background; 
}
.play_video{margin: 3px 0 auto auto;}

figure {
  background: none;
height: 20%;
width: 100%;
margin: auto;
text-align: center;
}
.pause_button{
	height: 100%;
	bottom: 0;
	top: 170%;
	position: fixed;
}
figure button[name="play"] {
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid white;
  border-radius: 100%;
  margin: 5px auto auto 10px;
  cursor: pointer;
}
figure button[name="play"]:focus {
  outline: 0;
  border: 1px solid hsl(210, 58%, 69%);
  box-shadow: 0 0 0 3px hsla(210, 76%, 57%, 0.5);
}

figure button[name="play"]::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 0;
  left: 1px;
  border-style: solid;
  border-width: 5px 0 5px 7px;
  border-color: transparent transparent transparent #346fb1;
  -ms-transform: translateX(-2px);
}
figure button[name="pause"] {
  width: 50px;
  height: 50px;
  background: beige;
  border: 1px solid #eee;
  border-radius: 100%;
  margin: auto;
  cursor: pointer;
  display:none;
  background:url(Pause.png) no-repeat;
}
/* figure button[name="pause"]:hover {
  display: block !important;
} */
figure button[name="pause"]:focus {
  outline: 0;
  border: 1px solid hsl(210, 58%, 69%);
  box-shadow: 0 0 0 3px hsla(210, 76%, 57%, 0.5);
}

figure button[name="pause"]::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 1px;
  left: 3px;
  /* border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent white; */
  /* background:url(Pause.png) no-repeat; */
}
.down-arrow-circle{
  position: relative;
  margin: 8% auto;
  border: 3px solid;
  width: 25px;
  height:45px;
  border-radius: 22px;
  display:inline-block;
  -webkit-animation: 3s ease 0s infinite mymove2;
  top:-30px;
  left:48.5%;
}

.header_line{
	box-sizing: border-box;
	transform: scaleY(1.5)
	-webkit-animation: 2s ease 2s normal none infinite running scroll_animation;
	background: #fff;
	border-radius: 4px;
	height: 4px;
	animation: mymove 1s infinite;
	-webkit-animation: 3s ease 0s infinite mymove1;
	left: 10px;
	position: absolute;
	top: 10%;
	width: 5px;
	z-index: 900;
}

@-webkit-keyframes mymove {
    50% { top: 90%; }
	100%{top: 3%;}
}
@keyframes mymove1 {
    25% { height:83%;}
    50% { }
	75%{ height:4px;}
	100% { }
}
@keyframes mymove2 {
    24.99% {transform: rotateZ(0deg); }
    25% {transform: rotateZ(180deg); }
	75%{  }
	76% { }
	99.99%{transform: rotateZ(180deg);}
	
}
@keyframes mymove {
    50% {top: 90%;}
    100% {top: 3%;}

}

/* .down-arrow-circle:hover{
background:none;
} */
.triangle-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid rgba(255,255,255,0.23);
	margin: 0 auto;
	top: 30px;
	position: relative;
}
.triangle-down2 {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid rgba(255,255,255,0.23);
	margin: 0 auto;
	top: -15px;
	position: relative;
}
/* button {
	position: relative;
	margin: auto;
	border: 1px solid;
	width: 50px;
	border-radius: 15px;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation: mybutton .5s infinite;
    animation: mybutton .5s infinite;
	transform: rotateZ(90deg);
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
}
button:after{
	content: '&#8594;';
}
@-webkit-keyframes mybutton {
    from {top: 0px;}
    to {top: 5px;}
}

@keyframes mybutton {
    from {top: 0px;}
    to {top: 5px;}
} */
/* @media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/logo.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
} */