@import "compass/css3";
@font-face {
	font-family:Montserrat-Regular;
    src: url(font/montserrat/Montserrat-Regular.ttf),
    url(font/montserrat/Montserrat-Regular.woff),
    url(font/montserrat/Montserrat-Regular.eot),
    url(font/montserrat/Montserrat-Regular.otf);
}
@font-face {
	font-family:Asap-Regular;
    src: url(font/asap/Asap-Regular.ttf),
    url(font/asap/Asap-Regular.woff),
    url(font/asap/Asap-Regular.eot),
    url(font/asap/Asap-Regular.otf);
}

/* *					{ margin: 0; padding: 0; }  */
body				{ background: none repeat scroll 0 0 #e5e5e4;color: #fff;font-family: Asap-Regular; margin: 0; padding: 0;}

/* INDEX STARTS HERE */
 .main_container		{ top: 100%; position: absolute;}
 .box				{ position: relative;  background-color: #eee;  color: black;  padding-top:42px; padding-bottom:45px;}
 .box h1				{ height: auto;  text-align: center;  margin: auto;  width: 100%; font-size:26pt; }
 .box p				{ margin: 30px  auto; width: 50%; text-align: center; }
 .imagetext_container{ width: 100%; height: 46%; background-color: white; position: relative; display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;}
  
  
  
  
  
  
  
  #found_p1			{ margin: 0px  auto; width: 50%; text-align: center; line-height:1.5; font-size:15pt; }
  #our_found		{ font-size:30pt; }
  .title_hr_found	{ width:245px; margin: 23px auto;}
  .title_hr_proj	{ width:265px; margin: 23px auto;}
  .MRNT-15px {margin-top: -15px; height:675px; }
  .box1				{ position: relative;  background-color: #eee;  color: black;  padding-top:47px; padding-bottom:21px; }
  .box1 h1				{ height: auto;  text-align: center;  margin: auto;  width: 100%; font-size:26pt; }
  .white			{ font-size:40pt; margin-top:150px; margin-bottom:42px;}
  .white_text		{ font-size:20pt; margin-bottom:60px; line-height:1.5;}
  .index_main_txt1	{ font-family: sans-serif; color:#2f4f4f; font-size:30pt; margin-bottom:13px;}
  .index_main_desc	{ float:left; width:30%; display:block; font-size:18pt; margin-bottom:45px; }
  .index_button		{ font-size:16pt; }
  .title_hr_client	{ width:190px; margin: 23px auto; }
  .index_clients_txt{ font-size:18pt;   padding-left: 45px; text-align: left; padding-right: 30px;}
  
  
  
  
  
  
  
/* .imagetext_container div { width: 50%;  float: left;  position: absolute; height: 85%;}	
.imagetext_container div img{ width: 100%;}
.imagetext_container div span { border: 1px solid black;  width: 90%;  position: absolute;  margin: 35px;  height: 100%;  left: 100%;}
.imagetext_container div span  p{ text-align: center;} */
 .img_container	{ width: 50%;  float: left; position: relative; display: inline-table; }
 .img_container img	{ width: 100%; height: 400px; position: relative;}
 .text_container		{ width: 50%;  float: left;  position: relative; display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around; /* text-align: center; */}
 .text_innerspan { margin: auto;  width: 80%; color: black; display: inline-block;}
 .text_container span ul{ /* display: flex; */ position: relative; list-style: none; /* display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;  */}
/* .text_container span ul li{ padding: 50px;} */
 .text_container span li{ display: inline-block; padding: 10%;}
 .text_container span ul li:nth-child(1){padding-left:0px;}
 .text_container span ul li:nth-child(3){padding-right:0px;}
 .text_container span ul li p:nth-child(1){ font-size: 25px;}
 .text_container_button { position : relative; display: inline-block; margin-bottom:150px;} 
 .blue_button 		{ float: left; padding: 16px 30px; -moz-padding-start: 23px; background-color: #0E4D9C; font-size: 18px; color: white !important; border:none; cursor: pointer;}
 .blue_button span	{ color: white; position: relative;}
 .blue_button_border { border: 1px solid #0E4D9C; width: 204px !important; height: 65px; position: absolute; margin: -5px 5px !important; left: 0; /* border-radius: 15px; */}
 .button_arrow		{ color: white; -webkit-animation-timing-function: linear; -moz-animation-timing-function: linear; /*  transform: rotateZ(90deg);	-ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); */ }
 .h-8margintop		{ margin-top: -8px;}
 .button_arrow:after  { content: '\2192'; margin-left: 20px; animation-timing-function: linear; -moz-animation-timing-function: linear; -webkit-animation-timing-function: linear; -ms-animation-timing-function: linear;	-ms-animation: mybutton .7s infinite; -moz-animation: mybutton .7s infinite; -ms-animation: mybutton .7s infinite; -webkit-animation: mybutton .7s infinite; animation: mybutton .7s infinite;}
 .text_container_button:hover 
	 .blue_button_border{ display: none;}
 .text_container_button:hover 
	 .button_arrow  { -ms-animation-timing-function: linear; -webkit-animation-timing-function: linear; -moz-animation-timing-function: linear;	animation-timing-function: linear;	-ms-animation: mybutton .7s infinite; -webkit-animation: mybutton .7s infinite; -moz-animation: mybutton .7s infinite; }
.title_hr					{ width: 215px;  margin: 23px auto; }
@-webkit-keyframes mybutton {
    from {left: 0px;}
    to {left: 5px;}
}

@keyframes mybutton {
    from {left: 0px;}
    to {left: 5px;}
}
 #slideshow-wrap {
	background-image:url("../images/home_slide1.jpg");
    display: block;
	background-size: cover;
	width: 100%;
	height:100%;
    margin: auto;
}
.slideshow1 {
	background-image:url("../images/home_slide1.jpg");
}

.slideshow2 {
	background-image:url("../images/home_slide2.jpg");
}

.slideshow3 {
	background-image:url("../images/home_slide3.jpg");
}

.slideshow4 {
	background-image:url("../images/home_slide4.jpg");
}

 #slideshow-inner {
    width: 100%;
    height: 100%;
    /* background-color: rgb(0,0,0); */
    overflow: hidden;
    position: relative;
	/* margin: 0 2%; */
}

 #slideshow-inner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
	margin: 0;
	padding: 0;
}

 #slideshow-inner>ul>li {
    width: 20%;
    height: 675px; 
    float: left;
    position: relative;
}

 #slideshow-inner>ul>li>img {
    margin: auto;
    width: 100%;
	height: 100%;
}

 #slideshow-wrap input[type=radio] {
    position: relative;
   float: right;
    bottom: -10%;
    z-index: 100;
    /* visibility: hidden; */
	display: list-item;
}
#slideshow-wrap input:nth-child(1) { display: list-item; transform: translateY(155px) translateX(-22px);}
#slideshow-wrap input:nth-child(3) { display: list-item; transform: translateY(185px) translateX(0px);}
#slideshow-wrap input:nth-child(5) { display: list-item; transform: translateY(215px) translateX(21px);}
#slideshow-wrap input:nth-child(7) { display: list-item; transform: translateY(245px) translateX(42.5px); }
#slideshow-wrap input:nth-child(9) { display: list-item; transform: translateY(275px) translateX(65px);}

 #slideshow-wrap label:not(.arrows):not(.show-description-label) {
    /* position: absolute; */
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color: rgba(200,200,200,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

/* #slideshow-wrap label:not(.arrows):active { bottom: -46px }

#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] { background-color: rgba(100,100,100,1) }

#slideshow-wrap label[for=button-1] { margin-bottom: 36px }

#slideshow-wrap label[for=button-2] { margin-bottom: 18px }

#slideshow-wrap label[for=button-4] { margin-bottom: -18px }

#slideshow-wrap label[for=button-5] { margin-bottom: -36px }

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }

#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }

#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul { left: -400% }



input[type=radio]#button-1:checked~.arrows#arrow-2, input[type=radio]#button-2:checked~.arrows#arrow-3, input[type=radio]#button-3:checked~.arrows#arrow-4, input[type=radio]#button-4:checked~.arrows#arrow-5 {
    right: -55px;
    display: block;
}

input[type=radio]#button-2:checked~.arrows#arrow-1, input[type=radio]#button-3:checked~.arrows#arrow-2, input[type=radio]#button-4:checked~.arrows#arrow-3, input[type=radio]#button-5:checked~.arrows#arrow-4 {
    left: -55px;
    display: block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type=radio]#button-2:checked~.arrows#arrow-1 { left: -19px }

input[type=radio]#button-3:checked~.arrows#arrow-2 { left: -37px }

input[type=radio]#button-5:checked~.arrows#arrow-4 { left: -73px } */

 .description {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 260px;
    z-index: 1000;
	transform: translateX(170%) translateY(135%);
}

 .description input { visibility: hidden }

 .description label {
    background-color: rgba(255,255,240,1);
    position: relative;
    left: -17px;
    top: 00px;
    width: 40px;
    height: 27px;
    display: inline-block;
    text-align: center;
    padding-top: 7px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    z-index: 5;
    color: rgb(20,20,20);
}

 #slideshow-inner>ul>li:hover .description label { opacity: 1 }

 .description input[type=checkbox]:checked~label { opacity: 1 }

 .description .description-text {
    background-color: white/* rgba(255,255,230,.5) */;
    padding-left: 45px;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: absolute;
    /* top: -35px; */
    z-index: 4;
    /* opacity: 0; */
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: rgb(20,20,20);
}

 .description input[type=checkbox]:checked~.description-text { opacity: 1 }
 .index header object					{ position: fixed; display: block; width: 100%; height: 100%;}
  footer 							{ background-color: #eee;  overflow: hidden;}
  footer object						{ position: static;  display: -webkit-box;  width: 100%;  overflow: hidden;  height: 115px;}
 figure							{ height: 25% !important;}
 .header_text					{ margin:auto !important;}

@media screen and (min-width: 200px) and (max-width: 319px){ 
		 .imagetext_container		{ display: inline-block;}
		 .img_container				{ width: 100%; clear: none; }
		 .text_container				{ width: 100%; clear: none; /* margin: 10% auto; */}
		  footer object					{ position: static;  display: -webkit-box;  width: 100%;  overflow: hidden;  height: 200px;}
}
@media screen and (min-width: 320px) and (max-width: 479px){ 
		 .imagetext_container		{ display: inline-block;}
		 .img_container				{ width: 100%; clear: none; }
		 .text_container				{ width: 100%; clear: none; /* margin: 10% auto; */}
		  footer object					{ position: static;  display: -webkit-box;  width: 100%;  overflow: hidden;  height: 200px;}
} 
@media screen and (min-width: 480px) and (max-width: 767px){
	 .imagetext_container		{ display: inline-block;}
	 .img_container				{ width: 100%; clear: none; }
	 .text_container				{ width: 100%; clear: none; /* margin: 10% auto; */}
	 footer object					{ position: static;  display: -webkit-box;  width: 100%;  overflow: hidden;  height: 200px;}

}
@media screen and (min-width: 220px;) and (max-width: 520px){

}
 
 /* INDEX ENDS HERE */
 
 /* CONTACT US STARTS HERE */
 
.contact_us						{ background-color: white ; }
.map_container	,#map_canvas   	{ margin: 0; padding: 0; border: 0; outline: 0;  vertical-align: baseline; height: 100%; }
.contact_us_container			{ position: absolute; width: 100%; height: auto; top: 86%;  }
.contact_us_aside1				{ float: left; height: auto; font-size: 25px; position: relative; padding-top: 25px; display: table;  }
#contact						{ background: white; margin-top: 0px;  width: 25%; height: 95%; display: table-cell; overflow: visible; color: black; left: 75%; position: absolute;}
#googlemap						{ width: 75%; }
.map_container					{ position: relative;  display: table;  width: 100%;}
.contact_us_vedioclass                    { width: 100%; position: fixed !important ; height: 90%;   }
.contact_us_col-2				{ width: 100%; height: auto;  background: gray; }
.contact_us_col-2				{ width: 100%; height: auto;  background: gray; }
#contact_info					{ font-size: 10px; }
#contact_header					{ font-size: 13px;}
#map_canvas 						{ margin: 0; padding: 0; height: 100%; width:100%; height:368px !important;  }

.contact_us header object			{ position: fixed; display: block; width: 100%; height: 70%;} 

/* .contact_us header object			{ position: fixed; display: block; width: 100%; height: 70%;} 
 .contact_us footer 				{ position: inherit;  width: 100%;  height: 30%;  display: block;  overflow: hidden;} 
.contact_us footer object			{ position: static;  display: -webkit-box;  width: 100%;  overflow: hidden;  height: 115px;}  
 *//* figure							{ height: 25% !important;} */

.contact_us_col-2 object			{ width: 100%; height: 100%; }
#contact_us_center				{ padding:10%; }
.contact_us_header_img			{ width:100%; height:100%; position:absolute; background-image:url("../images/contact_us_headerimg.jpg")}
.contact_us_textbox				{ padding-left:60px; height: 100%; }
.contact_us_headder_section          { width: 100%; position: fixed !important ; height: 90%; }


@media screen and (min-width: 200px) and (max-width: 319px){ 
	
	#googlemap					{ width: 100%; position:relative; }
	.contact_us_aside1 			{ float: none; }
	#contact					{     background: white;  margin-top: 0px; width: 100%;  height: auto;  /* display: table-cell; */  overflow: visible;  color: black;  left: 0;  position: relative;  }
	
}
@media screen and (min-width: 320px) and (max-width: 479px){ 

	#contact					{  background: white;  margin-top: 0px; width: 100%;  height: auto;  /* display: table-cell; */  overflow: visible;  color: black;  left: 0;  position: relative;  }
	#googlemap					{ width: 100%; }
	.contact_us_aside1 			{ float: none; position:relative;}
	.contact_us_col-2			{ position: relative;}

	

} 
@media screen and (min-width: 480px) and (max-width: 767px){

	.contact_us_aside1			{ font-size: 15px; }
	.contact_us_textbox 			{ padding-left: 25px; } 
	
 }
@media screen and (min-width: 768px) and (max-width: 1024px) { }
@media screen and (min-width: 1025px) and (max-width: 1500px){ }
/* CONTACT US ENDS HERE */

/* BLOG DETAILS STARTS HERE */
.blog2_body						{ margin: 0; padding: 0; border: 0; outline: 0;  vertical-align: baseline; }
.blog2_headerimag				{ width: 100%; position: fixed !important ; height: 90%;    background: rgba(0,0,0,0.6); }
.blog2_container				{ width: 100%; height: auto; position: absolute; top: 90%; background: white; flex-wrap:wrap-reverse; flex-wrap: wrap; }
.blog2_innersection				{ width: 80%; height: auto; margin: 0 auto; display: table; }
.blog2_section1					{ width: 100%; height: auto; position: relative; float: left; display: table; }
.aside2							{ float: left; height: auto; position: relative; background: #999; }
.blog2_col-1					{ width: 70%; height: 100%; background: white; float:left; color: black; }
.blog2_col-2					{ width: 30%; height: auto; background: white; margin-top: 0px; display: table; float:right;  }
.blog2_text_container			{ margin: 10%; }
.blog2_header_container			{ width: 100%; height: 100%; margin-bottom: 4%; display: -ms-flexbox; display: inline-table; }
#blog2_headertext_right			{ font-size: 12px; float: left; text-align: left; color: gray; width: 50%; }
#blog2_headertext_left			{ font-size: 12px; float: right; text-align: right; color: gray; width: 50%;}
.blog2_imgclass 					{ height: auto; width: 100%;  margin: 0 auto;  float: right; margin-top: 0%;  border-bottom: 1px solid #E0E0E0; }
.blog2_section2					{ height: auto; width: 100%; float: left; background: #eee;}
.blog2_imagecol_1				{ width: 47%; height: 100%; background: white; margin-right: 3%; float:left; }
.blog2_imagecol_2				{ width: 47%; height: 100%; background: white; margin-left: 3%; float:right; }
.blog2_section2_header			{ text-align: center;  color: black; font-size: 20px; }
.blog2_hr						{ width: 9%;  height: auto; color: #999; background-color: #999; }
.blog2_section2img				{ width: 100%;  display: block;}
.blog2_innersection2			{ width: 100%; height: auto; display: table; position: inherit; margin: 7% 0; }
.blog2_innersection1			{ width: 80%; height: 100%; margin: 0 auto; display: table; margin-top: 2%; margin-bottom: 2%; }
p#blog2_contact_text			{ width: 100%; font-size: 15px; float: left; text-align: center; color: gray; margin-bottom: 0;  }
.blog2_fbicon					{ margin: auto; width: 24px; position: absolute; height: 24px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABJElEQVRIS+1WsXHCQBDcrcB0YHdgkUJgt+AMMjJQFYYqILQjfegSngDhUO4Al+AGWM//8LKYsfUSljI+kGZ+5m7vbu/2njid0WS9JPgA4jHcXfQXrECbm/nK2dN9xpNNAeL+Iod/GAko8mwxpI+cfO7SefAlacU+oi8BoC3H043aRC/hC1ThbcSExE2dfSuAI/i0z+ZvZWNM19Y3Rs1pDiC97kw6q/oadQngCMtNunQAlZZOAAw6yeAMoEHkATRaIkGfEF6OgH03qT1l4Ep1B2JG8PZfGQja5ln663R3wkEdQJMZipaoOpUlyV1ycAW4chAV4hYlwoHAwXskohr0IxU9rMuzhdP7yuxr6UP42JlF4l8VQePdkyW2oWKsOu2CYIOsfAOPa8zvgCzUhwAAAABJRU5ErkJggg==); }
.blog2_googleicon				{ margin: auto; position: absolute; width: 24px; height: 24px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACHUlEQVRIS7VWwY7SUBQ995WJSkycPxBS9oMLE7oaZmnZOPEDxC8Qv8DhB3T+QPkCMXHq0s6KLpk9jcwfMIvRZqI95hZKCqUEGOmCJiXvnHvPefe8J5g9ods4o+BYIM302y5vgr4Qvu0FXV0v+hO2GkNAjnYBLFxDDG1v8Ey0coi8/6/gKRjZlb1UPyMgeSlhy+GaNq8Jjpf/F0gFgqebdL2O4F0CQB4Zg171W+D/dJ/XYym9BtDZBDwxeVUHJN+AMhGDLymQEZ4oycht+CJyPCcgu7YXnBUpkScgb2wvOFw2X/WseUEzbDla/cf7EIxtL6iO3EZbRD5lpbAvBpL7vnUHAMxfVhFFk7j8cAyRJ1MvcG17g8rIdfoCDlWWIh+ycq32APSt2+gU5YNKDMtXEvVFRA5VnnRalcAYXKo3iaRaRuKszMmLdxGp1fdJXtW84HNO+8wwbWfyUt+puaMXzsvsrtrd5BwBvlq/frer/nCyyvi5XBlZshBFHvRMdPeBDw5OCDNNV6JX+z7oF3ZS4HiOgGDPuo06cfnRDwjqC+vmW3Lz9F0kSIdseZgyLLNZWJzmNbmxRDDN8HUyKEHoOuOdw44xTlXr0HXOIXib2S03BDrpLNwr7ACcG/7pIbYmKKGiYPFd/Bgl8woi7U3BZ2m6uWHbAE+TXg+cfR+ZyrSfY5NX9kVQT24VCYleW4DmwmGyrSapLEiuLUng/QMT4kUi9vOG3wAAAABJRU5ErkJggg==); }
.blog2_linkdnicon				{ margin: auto; position: absolute; width: 24px; height: 24px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABQklEQVRIS+2VPU7DQBCFv9kCSjgCNwBOEKfFQYIb5AjQEDrijrjKDTA3QALXdm4QTgI0KT1oN4kTkFeRFpsqK1myx9r35v8J63OXjxHtgUS1LehFS1RK0jix18VhjN7mIKdBeL5Lypw0Phec5zy0Cr4GUxLZ4f0XcBRMrsyEUa6NAKq3pIMp968RaopQEj+BVH0eL0tuimMOFx/tE9giCRlKhHDVPoGNoC6WKVB9xmjmTJUMQU6AElOVqLEODJvq5U/RJF62sGvjXFES0njsvm3apv3PH1F5ahVG4MtXwzyFEdgIDhZPrjYq16QXL46zYabCCLaBtlO3J6i7aJ+i1bRuhMdoCWRUspxko3Zq7WOPz+5++ts0dPn8uvcfBB3IZb0kreB0LpluW3YRhb4zGZxtVrKNBCcuvT/VV5k5nVit9m+1dOP1lz4MeAAAAABJRU5ErkJggg==); }
.blog2_twittericon				{ margin: auto; position: absolute; width: 24px; height: 24px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABHklEQVRIS9WWsVXDQBBE/zpwiqkA6IAOuA4oATvSc0YHuAMgAkWgDkwHVwIdoBIcO9Dy7rB5wpIRKx08vJEC3Yxmb2ZXAuAedMqIk/CcsEqfSSEuVw9cJASuQy0Dgf4SeIT9BwTKC8odIxxwY1XbrWDMsZ/JKprhUZcIlxaSTgKfiWwBXa4LqwobwYedpy0KzoGjNmUmgn2tcU86Yc0rNLOUhCDez548JSHYKHgDJrsqTQRxpAhXjVYJ4Q4a4D8K2t+6KNdr4DZpDqg483Mpd7IQUl2v/jYFCp9Jm/c/CQbZNKJUzPxcnr9rTW+b1kAXjLnfzqU62SCbNr5aCQvqaw2xqcUxvWbRARD0WCIGVUVcJpvfllPDwe5XK8pg7XfPp5Dkvy/UwwAAAABJRU5ErkJggg==); }
.blog2_icons					{ margin-bottom: 15%; }
.blog2_textbox_1				{ -moz-padding-start: 6%; position: absolute; width: 100%; height: auto; display:block; font-size: 40px; float: left; text-align: left; bottom: 0; color: white; padding: 6%;}
.blog2_row_1					{ height: auto; width: 75%; margin: 0 auto;  float: right; margin-top: -39%; border: 1px solid #E0E0E0; display: table; }
#blog2_textsection_2			{ font-size: 20px; }
.blog2_img_desg					{ margin-bottom: 15%; position: absolute; color: #999; font-size: 15px; text-align: center;  height: auto; width: 100%; bottom: 0; }
.blog2_img_name					{ margin-bottom: 24%; position: absolute; color: black; font-size: 24px; text-align: center;  height: auto; width: 100%; bottom: 0; }
.blog2_textbox_2				{ top: -3%; -moz-padding-start: 5%;  position: absolute; width: auto; height: auto; display:block; font-size: 25px; float: left; text-align: left; bottom: 0; color: white; padding: 6%; }
.blog2_person_info				{ height: auto; width: 100%; position: relative;   display: table; }
.blog2_social_icons            		{  display: inline-table; position: relative; padding-left: 17%; margin: 0; }
.blog2_headertextbox_1			{ -moz-padding-start: 6%; position: absolute; width: 100%; height: auto; display:block; font-size: 40px; float: left; text-align: left !important ; bottom: 0; color: white; padding: 17%; padding-left: 7%; }
#blog2_center					{ padding:10%; }
.blog2_header_img				{ width:100%; height:100%; position:absolute; background-image:url("../images/blog_details_headerimage.jpg");}
.blog2_headder_section               	 { width: 100%; position: fixed !important ; height: 90%; }




@media screen and (min-width: 200px) and (max-width: 319px){
 
	#blog2_textsection_2			{ font-size: 15px; }
	.blog2_imagecol_1				{ width: 100%; }
	.blog2_imagecol_2				{ width: 100%; }
	.blog2_col-1					{ width: 100%;  order: 2;}
	.blog2_col-2					{ width: 100%;  order: 1; margin-left: 10%; }
	.blog2_textbox_1				{ font-size: 19px; }
	.blog2_textbox_2				{ font-size: 11px; }
	.blog2_row_1					{ float: left;  margin-left: 10%; }
	#blog2_headertext_right			{ font-size: 9px; }
	#blog2_headertext_left			{ font-size: 9px; }
	.blog2_img_name					{ font-size: 18px;}
	.blog2_img_desg					{ font-size: 13px; }
	p#blog2_contact_text		 	{ font-size: 15px; }
	.blog2_headertextbox_1			{ font-size: 23px; padding-left: 0;   padding: 8%; bottom: 31%; }
	.blog2_hr 						{ width: 31%; }
	.blog2_icons 					{ margin-bottom: 30% !important; }
	
}
@media screen and (min-width: 320px) and (max-width: 479px){ 
	
	.blog2_textbox_1				{ font-size: 30px; }
	.blog2_textbox_2				{ font-size: 18px; }
	#blog2_textsection_2			{ font-size: 15px; }
	.blog2_imagecol_1				{ width: 100%; }
	.blog2_imagecol_2				{ width: 100%; }
	.blog2_col-1					{ width: 100%;  order: 2;}
	.blog2_col-2					{ width: 100%;  order: 1; margin-left: 10%;}
	.blog2_row_1					{ float: left;  margin-left: 10%; }
	.blog2_headertextbox_1			{ font-size: 25px; padding-left: 4%;   padding: 4%;   bottom: 39%;}
	.blog2_hr 						{ width: 31%; }
	.blog2_icons 					{ margin-bottom: 30% !important; }

} 
@media screen and (min-width: 480px) and (max-width: 767px){
	.blog2_img_name					{ font-size: 15px; }
	.blog2_img_desg					{ font-size: 10px; } 
	.blog2_textbox_2				{ font-size: 17px; }
	p#blog2_contact_text 			{ font-size: 12px; }
	.blog2_textbox_1				{ font-size: 23px; }
    .blog2_row_1					{ width: 100%; float: left; } 
	.blog2_col-2					{ display: -moz-box;}
	.blog2_textsection_1			{ font-size: 15px; }
	#blog2_textsection_2 			{ font-size: 17px; }
	.blog2_headertextbox_1			{ font-size: 28px; padding-left: 4%;   padding: 8%;   bottom: 25%;}
	.blog2_icons 					{ margin-bottom: 30% !important; }
 } 
 
@media screen and (min-width: 768px) and (max-width: 1024px) { 
	.blog2_textbox_1				{ font-size: 29px; }
	.blog2_img_desg 					{ font-size: 13px; } 
	.blog2_img_name					{ font-size: 20px; }
	.blog2_icons 					{ margin-bottom: 30% !important; }

}
@media screen and (min-width: 1025px) and (max-width: 1500px){ }
/* BLOG DETAILS ENDS HERE */

/* ABOUTUS STARTS HERE */
.aboutus_bgColor { background-color: white; }
.aboutus_PADDT2PER {padding: 2%;}
.aboutus_object { position: fixed; display: block; width: 100%; height: 90%;} 
.aboutus_header_image { width:100%; height:90%; position:fixed; background-image:url("../images/aboutus_header_image.jpg")}
.aboutus_PADD5PER { padding: 5%;}
.aboutus_MAR10PER { margin: 0 10%; }

.aboutus_bgImg {
    background: -webkit-linear-gradient(transparent, white),url("../images/aboutus_gradient_image.jpg") no-repeat; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, white),url("../images/aboutus_gradient_image.jpg") no-repeat; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, white),url("../images/aboutus_gradient_image.jpg") no-repeat; /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, white),url("../images/aboutus_gradient_image.jpg") no-repeat; /* Standard syntax (must be last) */
	padding: 25% 8% 8% 10%;
	background-size: 100%;
}

.aboutus_container { position: absolute; top: 90%; width: 100%; height: auto; }
.aboutus_article { position: relative; display: inline-block; width: 100%; height: auto; }
.aboutus_article_div { width: 80%; height: auto;  position: relative; display: block; margin: 0 auto; }
.aboutus_article_div2 { height: auto;  position: relative; display: block; margin: 0 auto; }
.aboutus_article_div1 { width: 100%; height: auto;  position: relative; display: inline-block; }
.aboutus_WDTH33PER{ width: 33%; float: left; }
.aboutus_WDTH43PER{    width: 43%;  margin: auto;  background-color: white;}
.aboutus_WDTHH50{float: left;  width: 50%;  height:100%; }
.aboutus_WDTHH60{float: left;  width: 60%;  height:100%; }
.aboutus_1WDTHH50{float: left;  width: 50%;  height:100%; }
.aboutus_WDTH75{float: left;  width: 75%;  height:100%; }
.aboutus_WDTH25{float: left;  width: 25%;  height:100%; }
.aboutus_WDTH50{float: left;  width: 50%;  height:100%; text-align:right; }
.aboutus_1WDTH50{float: left;  width: 50%;  height:100%;}
.aboutus_PADDL5PER{ padding-left: 5%; }
.aboutus_PADDR5PER{ padding-right: 5%; }
.aboutus_PADDB5PER{ padding-bottom: 5%; }
.aboutus_PADDB2PER{ padding-bottom: 2%; }
.aboutus_PADD7PER { padding: 7%; }
.aboutus_PADD8PER { padding: 10%; }
.aboutus_TOP7PX { top: -7px; }
.aboutus_TOP11PX { top: -25px; }
.aboutus_PADDLNR2PER{ padding-left: 2%;  padding-right: 2%; }
.aboutus_text_Center{ text-align: center; }
/* hr { width: 20%; } */
hr#foundersLine{ width: 5%; }
div#founderSection {width: 50%; margin:0 auto;}
.aboutus_fnt22px{color: white; text-align: center;  font-style: italic; font-size: 22px; line-height: 1.5;}
.aboutus_linepos{ width: 5%; }
.aboutus_imgWdth { width: 100%; }
.aboutus_brdbtm{ border-bottom: 2px solid #eee; }
.aboutus_fnt30px { font-size: 30px; }
.aboutus_fnt25px { font-size: 25px; }
.aboutus_grayColor { color: gray; }
.aboutus_bggrayColor { background-color: #eee; }
.aboutus_fnt18px {font-size: 18px;  line-height: 1.5; color: black;}
.aboutus_MARTOP { margin-top: 0.5%; }
.aboutus_PADDR15PX { padding-right: 15px; }
.aboutus_PADDL15PX { padding-left: 15px; }
.aboutus_MARGT25PER {margin-top: -25%;  color: white;}
.aboutus_rightImage{ position: relative; display: inline-table;  margin-left: -10%;  top: -64px; }
.aboutus_leftTextSection { position: relative;  z-index: 1; top: -16px }
.aboutus_rightTextSection{ position: relative; display: inline-table;  top: -50px; }
.aboutus_PADD11PER{ padding: 11%; }
.aboutus_PADDB6PER { padding-bottom: 6%;}
.aboutus_MART3_5PER { margin-top: -3.5%; }
.aboutus_MARB2PER { margin-bottom: -2%; }

@media all and (max-width: 1150px) and (min-width: 975px) {
	.aboutus_PADD8PER { padding: 5% !important; }
}
@media all and (max-width: 974px) and (min-width: 900px) {
	.aboutus_PADD8PER { padding: 3% !important; }
	.aboutus_fnt25px { font-size: 20px; }
	.aboutus_fnt18px { font-size: 16px; }
}
@media all and (max-width: 900px) and (min-width: 800px) {
	.aboutus_PADD8PER { padding: 3% !important; }
	.aboutus_fnt25px { font-size: 20px; }
	.aboutus_fnt18px { font-size: 16px; line-height:1.3; }
}
@media all and (max-width: 800px) and (min-width: 710px) {
	.aboutus_PADD8PER { padding: 3% !important; }
	.aboutus_fnt25px { font-size: 18px; }
	.aboutus_fnt18px { font-size: 16px; line-height:1; }
}
@media all and (max-width: 849px) and (min-width: 711px) {
	
	.aboutus_fnt25px { font-size: 20px; }
	.aboutus_fnt18px { font-size: 16px; }
}
@media all and (max-width: 710px) and (min-width: 320px) {
	.aboutus_WDTH50 { width: 100%;}
	.aboutus_WDTHH50 { width: 100%; top: 0;}
	.aboutus_fnt25px { font-size: 16px; }
	.aboutus_fnt18px { font-size: 14px; }
	.aboutus_WDTHH60 { width:100%; top: 0; border-top: 3px solid #eee;}
	.aboutus_1WDTHH50 { width: 100%; margin: 0; top: 0;}
	.aboutus_article_div { width: 100%;}
}

@media all and (max-width: 500px) and (min-width: 220px) {
	.aboutus_PADDL15PX{ padding-left: 0px;}
	.aboutus_WDTH40{ width: 100%; text-align: center; text-align:left;}
	.aboutus_WDTH60{ width: 100%;}
	.aboutus_fnt25px { font-size: 12px; }
	.aboutus_fnt18px { font-size: 10px; }
	
}
.aboutus_image				{ width:100%; display:block; height:100%; }
	.aboutus_main 				{ width:100%; height:auto; }
	
	.aboutus_text_1 .aboutus_text_2 .aboutus_text_3 .aboutus_text_4 .aboutus_text_5 { background:white; }
	.aboutus_client			{ float:left; width:100%; height:auto; position:relative;}
	.aboutus_txt			{ padding-left:5%; padding-right:5%; font-family: sans-serif; color:#2f4f4f; font-size: 16px; line-height:1.3 }
	
	.aboutus_big			{ font-size: 25px; color:black; }

@media screen and (min-width: 1025px) and (max-width: 1500px){ 

	
	object				{ width:100%; display:block; }
	
	.aboutus_light				{ color: #939f9f; font-size:24px; }
	.aboutus_light1				{ color: #939f9f; font-size:15px; }

	.aboutus_image_text_1		{ width:100%; height:auto;position:relative; display:flex; display: -webkit-box; -webkit-box-align: center; }
	.aboutus_image_1			{ width:50%;  float:left; position:relative; height:auto; }
	.aboutus_text_1				{ width:50%;  float:left; vertical-align:middle; position:relative;  display:flex; align-items: center;}


	.aboutus_image_text_2		{ width:100%; height:auto; float:left; position:relative; }
	.aboutus_image_2			{ width:50%; height:100%; float:right; position:relative;}
	.aboutus_text_2				{ width:50%; height:100%; float:right; position:absolute;  display:flex; align-items: center; display: -webkit-box;  -webkit-box-align: center;}

	.aboutus_clients			{ width:100%; height:150px; float:left; position:relative; display:flex; vertical-align:center;justify-content:center; align-items: middle; background-color: #f6f7f7; }
	.aboutus_happy				{ display: flex; justify-content: center; align-items: center; font-size:25px; }
	

	
} 


@media screen and (min-width: 768px) and (max-width: 1024px) { 

	object				{ width:100%; display:block; }
	
	.aboutus_txt				{ font-size:13px; }
	.aboutus_big				{ font-size;23px; }
	.aboutus_light				{ color: #939f9f; font-size:18px; }
	.aboutus_light1				{ color: #939f9f; font-size:13px; }
	.aboutus_clients			{ width:100%; height:150px; float:left; position:relative; display:flex; vertical-align:center;justify-content:center; align-items: middle; background-color: #f6f7f7; }
	.aboutus_happy				{ display: flex; justify-content: center; align-items: center; font-size:22px; }

	.aboutus_image_text_1		{ width:100%; height: 100%; position:relative; display:flex;}
	.aboutus_image_1			{ width:50%;  float:left; position:relative; height:auto;}
	.aboutus_text_1				{ width:50%;  float:left; position:relative; vertical-align:middle; display:flex; align-items: center;}

	.aboutus_image_text_2		{ width:100%; height:auto; float:left; position:relative; }
	.aboutus_image_2			{ width:50%; height:100%; float:right; position:relative; }
	.aboutus_text_2				{ width:50%; height:100%; float:right; position:absolute; display:flex; align-items: center;}

	
}



@media screen and (min-width: 480px) and (max-width: 767px){

	object				{ width:100%; display:block; }
	
	.aboutus_txt				{ font-size:15px; }
	.aboutus_big				{ font-size;21px; }
	.aboutus_light				{ color: #939f9f;  font-size:17px;}
	.aboutus_light1				{ color: #939f9f; font-size:11px; }
	.aboutus_clients			{ width:100%; height:100px; float:left; position:relative; display:flex; vertical-align:center;justify-content:center; align-items: middle; background-color: #f6f7f7; }
	.aboutus_happy				{   display: flex; justify-content: center; align-items: center; font-size:20px; }
	
	.aboutus_image_text_1		{ width:100%; height: 100%;overflow:hidden; }
	.aboutus_image_1			{ width:100%;  float:left; }
	.aboutus_text_1				{ width:100%;  float:left; position:relative; vertical-align:middle; display:flex; align-items: center;padding-top:4%; padding-bottom:4%;}

	.aboutus_image_text_2		{ width:100%; height:auto; float:right; }
	.aboutus_image_2			{ width:100%; height:100%; float:right; }
	.aboutus_text_2				{ width:100%; height:100%; float:right; display:flex; align-items: center; padding-top:4%; padding-bottom:4%;}

	
 } 


@media screen and (min-width: 220px) and (max-width: 479px){ 

	object				{ width:100%; display:block; }
	.aboutus_txt				{ font-size:14px; }
	.aboutus_light				{ color: #939f9f; font-size:16px; }
	.aboutus_big				{ font-size;19px; }
	.aboutus_light1				{ color: #939f9f; font-size:8px; }
	.aboutus_clients			{ width:100%; height:80px; float:left; position:relative; display:flex; vertical-align:center;justify-content:center; align-items: middle; background-color: #f6f7f7; }
	.aboutus_happy				{  display: flex; justify-content: center; align-items: center; font-size:18px; }
	
	.aboutus_image_text_1		{ width:100%; height: auto;overflow:hidden; }
	.aboutus_image_1			{ width:100%;  float:left; }
	.aboutus_text_1				{ width:100%;  float:left; position:relative; vertical-align:middle; display:flex; align-items: center;}

	.aboutus_image_text_2		{ width:100%; height:auto; float:left; }
	.aboutus_image_2			{ width:100%; height:100%; float:left;  }
	.aboutus_text_2				{ width:100%; height:100%; float:left; display:flex; align-items: center;}

}

/* ABOUTUS ENDS HERE */

/* CAREER STARTS HERE */
/* body { background-color: #e5e5e5; margin: 0; } */
.career_bgColor { background-color: white; }
.career_PADDT2PER {padding: 2%;}
.career_object { position: fixed; display: block; width: 100%; height: 90%;} 
.career_header_image { width:100%; height:90%; position:fixed; background-image:url("../images/career_header_image.jpg");}

.career_PADD5PER { padding: 5%;}
.career_MAR10PER { margin: 0 10%; }
.career_MARB0_5PER { margin-bottom: 0.5% !important; } 

.career_container { position: absolute; top: 90%; width: 100%; height: auto; }
.career_article { position: relative; display: inline-block; width: 100%; height: auto; }
.career_article_div { width: 80%; height: auto;  position: relative; display: block; margin: 0 auto; }
.career_article_div1 { width: 100%; height: auto;  position: relative; display: inline-block; }
.career_article1 { width: 40%; height: auto; margin: 0 auto; }
.career_article3 { width: 100%; margin: auto; height: 33%; position: relative; display: block; margin-top: -25%; margin-bottom: 11%; }
.career_article4 { width: 100%; height: auto; margin: 0 auto; position: relative; display: inline-block; }
.career_article2 { width: 90%; height: auto; margin: 0 auto; position: relative; display: table;}
.career_article5 { position: relative; width: 90%; height: auto; margin: 0 auto; }
.career_WDTH33PER{ width: 33%; float: left; }
.career_WDTH43PER{    width: 35%;  margin: auto;  background-color: white;}
.career_WDTH60{float: left;  width: 60%;  height:100%; }
.career_WDTH75{float: left;  width: 75%;  height:100%; }
.career_WDTH25{float: left;  width: 25%;  height:100%; }
.career_WDTH40{float: left;  width: 40%;  height:100%; text-align:right; }
.career_PADDL5PER{ padding-left: 5%;  }
.career_PADDR5PER{ padding-right: 5%; }
.career_PADDB5PER{ padding-bottom: 5%; }
.career_PADDB4PER{ padding-bottom: 4%; }
.career_PADDB3PER{ padding-bottom: 3%; }
.career_PADDT1PER {padding-top: 1%;}
.career_PADDB2PER{ padding-bottom: 2%; }
.career_PADDLNR2PER{ padding-left: 2%;  padding-right: 2%; }
.career_text_Center{ text-align: center; }
.career_hr { width: 20%; }
.career_linepos{ width: 5%; }
.career_imgWdth { width: 100%; }
.career_brdbtm{ border-bottom: 2px solid #eee; }
.career_fnt30px { font-size: 30px; }
.career_fnt25px { font-size: 25px; }
.career_grayColor { color: gray; }
.career_bggrayColor { background-color: #eee; }
.career_fnt18px{font-size: 18px;  line-height: 1.5;}
.career_MARTOP{ margin-top: 0.5%; }
.career_PADDR15PX{ padding-right: 15px; }
.career_PADDL15PX{ padding-left: 15px; }
.career_blackColor { color : black; }
.career_blue_button_border {
    border: 1px solid #0E4D9C;
    width: 160px !important;
    height: 61px;
    position: absolute;
    margin: -5px 5px !important;
    left: 0;
	}
.career_blue_button { padding: 16px 30px; background-color: #0E4D9C; font-family: sans-serif; font-size: 18px; color: white !important; border:none;}
.career_button_arrow	{ color: white; -webkit-animation-timing-function: linear;	animation-timing-function: linear;	-webkit-animation: mybutton .5s infinite; animation: mybutton .5s infinite; transform: rotateZ(90deg);	-ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); }
.career_button_arrow:after { content: '\2192';	-webkit-animation-timing-function: linear;	animation-timing-function: linear;	-webkit-animation: mybutton .5s infinite; margin-left: 20px;}

@media all and (max-width: 919px) and (min-width: 850px) {
	.career_article3 {    margin-top: -27%; }
}
@media all and (max-width: 849px) and (min-width: 711px) {
	.career_article3 {    margin-top: -27%; margin-bottom: 12%; }
	.career_fnt25px { font-size: 20px; }
	.career_fnt18px { font-size: 16px; }
}
@media all and (max-width: 710px) and (min-width: 320px) {
	.career_article3 {    margin-top: -27%; }
	.career_fnt25px { font-size: 16px; }
	.career_fnt18px { font-size: 14px; }
}
@media all and (max-width: 550px) and (min-width: 320px) {
	.career_article3 {    margin-top: -30%; margin-bottom: 12%; }
}
@media all and (max-width: 370px) and (min-width: 320px) {
	.career_article3 {    margin-top: -30%; margin-bottom: 12%; }
}
@media all and (max-width: 500px) and (min-width: 220px) {
	.career_PADDL15PX{ padding-left: 0px;}
	.career_WDTH40{ width: 100%; text-align: center; text-align:left;}
	.career_WDTH60{ width: 100%;}
	.career_fnt25px { font-size: 12px; }
	.career_fnt18px { font-size: 10px; }
	.career_article3 {    margin-top: -30%; margin-bottom: 12%; }
}


/* CAREER ENDS HERE */

/* PROJECT DETAILS STARTS HERE*/

	/* html,body					{ width:100%; height:auto; margin: 0; padding: 0; border: 0; outline: 0; font-family: sans-serif; } */
	.project_image				{ width: 100%; height: 90%; position: fixed; color: black;}
	.project_home_image			{ width: 100%; height: 90%; position: fixed; z-index: -1;}
	.project_home_text			{ width: 50%; height: 100%; position: absolute;display: flex; left:25%; justify-content: center; align-items: center;text-align: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; color: white; font-size: 45px; }
	#logo 						{ padding: 2rem 0; margin:0 auto; font-size: 1.2rem;  position: fixed;  width: 100%;  height: auto; }
	#logo  div 					{ text-align: center; }
	.project_gradient			{ position:absolute; width:100%;height:100%; background:linear-gradient(#1C5EAF,transparent); }
	.project_main_content		{ width:100%; height:auto;}
	.project_content			{ width:100%; height: auto; position: absolute; top: 90%; text-align: center;  background-color: #eee; color: black;}
	.project_about				{ width: 80%; height: auto; position: relative;top:-80px; margin: 0 auto; display: table; background: linear-gradient(white,white,white,white,white,white,white,white,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent); }
	.project_clock				{ width: 100%; height: auto; display: flex; justify-content: center; align-items: center; margin: 2% 0;}
	#project_clock_text			{ text-align: center; margin: 2% 0; font-size: 16px; }
	#project_number				{ font-size: 25px; }
	.project_time				{ width: 100%; height: auto; float: left; display: flex; justify-content: center; align-items: center; margin: 2% 0; }
	.project_year				{ width: 15%; height: auto; float: left; font-size: 16px; padding: 0 6%; }
	.project_months				{ width: 15%; height: auto; float: left; font-size: 16px; padding: 0 6%; border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; }
	.project_days				{ width: 15%; height: auto; float: left; font-size: 16px; padding: 0 6%; }
	.project_about_text			{ width: 80%; height: auto; margin: 0 auto; display: table; padding: 4%; font-size: 16px; }
	#project_about_text			{ font-size: 20px; }
	.project_swim_image			{ width: 100%; height: auto; float: left; position: relative; }
	.project_amenities			{ width: 25%; height: 100%; position: absolute; margin: 0 auto; text-align: left; right: 0; display: flex; justify-content: center; align-items: center; }
	.project_imgclass			{ width: 100%; height: auto; z-index: -1; display: block; }
	.project_specification		{ width: 100%; height: auto; display: table; background:url("../images/project_details_img1.jpg");}
	.project_specification_div1 { width: 80%; height: auto; display: table; margin:0 auto;   padding: 5% 0% 2% 0; }
	.project_roads				{ width: 30%; height: auto; float: left; font-size: 16px; padding: 1%; }
	.project_lighting			{ width: 30%; height: auto; float: left; font-size: 16px; padding: 1%; } 
	.project_rains				{ width: 30%; height: auto; float: left; font-size: 16px; padding: 1%; }
	.project_specification_div2 { width: 80%; height: auto; display: table; margin:0 auto;   padding: 2% 0% 5% 0;}
	.project_disposal			{ width: 30%; height: auto; float: left; font-size: 16px; padding: 1%; }
	.project_water				{ width: 30%; height: auto; float: left; font-size: 16px; padding: 1%; } 
	.project_supply				{ width: 30%; height: auto; float: left; font-size: 16px; padding: 1%; }
	#project_specification		{ width: 100%; height: 100%; background-color: #eee; opacity:0.8; padding:5% 0;}
	#specification				{ width: 100%; height: auto; text-align: center; display: inline; }
	.project_hr							{ width: 6%; }
	.project_updates			{ width: 100%; height: auto; float: left; background-color: white; }
	#project_updates			{ font-size: 16px; }
	.project_initial_image		{ width: 100%; height: auto; display: block; }
	.project_initial_text		{ width: 25%; height: auto; position: absolute; background-color: #eee; opacity: 0.8; right: 38%; font-size: 16px; margin: 13% auto; }
	.project_usp				{ width: 100%; height: auto; display: table; float: left; background-color: #eee; }
	#usp						{ width: 100%; height: auto; text-align: center; display: inline; font-size: 16px; }
	.project_usp_div1			{ width: 75%; height: auto; display: table; margin:0 auto; }
	.project_dpsschool			{ width: 30%; height: auto; float: left; margin: 0.1em; }
	.project_health				{ width: 30%; height: auto; float: left; margin: 0.1em; }
	.project_city				{ width: 30%; height: auto; float: left; margin: 0.1em; }
	.project_usp_div2			{ width: 75%; height: auto; display: table; margin:0 auto; }
	.project_waterpark			{ width: 30%; height: auto; float: left; margin: 0.1em; }
	.project_airport			{ width: 30%; height: auto; float: left; margin: 0.1em; }
	.project_hotel				{ width: 30%; height: auto; float: left; margin: 0.1em; }
	.project_alignleft			{ text-align: left; width:40%; float:left; }
	.project_alignright			{ text-align: right; width:40%; float: left; }
	.project_city_text			{ width: 100%; font-size: 12px; display: flex; justify-content: center; align-items: center; padding: 4% 0%; border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; }
	.project_dpsschool_text		{ width: 100%; font-size: 12px; display: flex; justify-content: center; align-items: center; padding: 4% 0%; border-left: 1px solid #e5e5e5; }
	.project_health_text		{ width: 100%; font-size: 12px; display: flex; justify-content: center; align-items: center; padding: 4% 0%; border-left: 1px solid #e5e5e5; }
	.project_waterpark_text		{ width: 100%; font-size: 12px; display: flex; justify-content: center; align-items: center; padding: 4% 0%; border-left: 1px solid #e5e5e5; }
	.project_hotel_text			{ width: 100%; font-size: 12px; display: flex; justify-content: center; align-items: center; padding: 4% 0%; border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; }
	.project_airport_text		{ width: 100%; font-size: 12px; display: flex; justify-content: center; align-items: center; padding: 4% 0%; border-left: 1px solid #e5e5e5; }
	#project_dpsschool			{ width: 100%; height: auto; }
	#project_health				{ width: 100%; height: auto; }
	#project_city				{ width: 100%; height: auto; }
	#project_waterpark			{ width: 100%; height: auto; }
	#project_airport			{ width: 100%; height: auto; }
	#project_hotel				{ width: 100%; height: auto; }
	.project_specification_hr	{ width: 70px; margin: 1% auto; }
	.project_projectupdates_hr	{ width: 60px; margin: 1% auto; }
	.project_usp_hr				{ width: 13px; margin: 1% auto; }
	.project_button				{ position: absolute; right: 0; display: flex; }
	.project_amenities_button	{ position: absolute; width: 20%; right: -6%; display: flex; transform: rotate(90deg); top: 50%;}
	.project_amenities_text		{ width: 100%; float: right; font-size: 16px; background-color: white; height: 50%; display: flex; justify-content: center; align-items: center; }
	#project_amenities_text		{ font-size: 15px;}
	.project_text				{ width: 80%; }
	.project_distance			{ }
	.project_color				{ background-color: blue; color: white; }
	.project_heading			{ margin: 3% 0; }
	.project_about_hr			{ width: 100px; margin: 1% auto; }

	.project_details_2_map_container	,#map_canvas  { margin: 0; padding: 0; border: 0; outline: 0;  vertical-align: baseline; height: 100%; font-family:sans-serif;}
	.project_details_2_container					        { position: absolute; width: 100%; height: auto;  }
	#googlemap						{ width:100%; }
	.project_details_2_map_container					{ position: relative; float:left; display: table;  width: 100%; height:500px; }
	.project_details_2_maptext						{ padding-left:15px; }
	#contact_info					{ font-size: 10px; }
	#map_canvas 						{ margin: 0; padding: 0; height: 100%; width:100%; height:500px !important; }
	.project_details_2_main							{ width:100%; height:auto; position:relative; }
	.project_details_2_floor_plan					{ background-color:#F5F5F5; position: relative; float:left; width:100%; justify-content:center;}
	.project_details_2_plan							{ height:130px; position:relative; float:left;background-color:#FAFAFA;  display:flex; align-items:center; justify-content:center;width:100%; }
	.project_details_2_line							{ width:60%; }
	.project_details_2_plan_img						{ width:100%; height:auto; position:relative;float:left; }
	.project_details_2_content						{ width:auto; display:flex; justify-content: center; align-items: center; margin-bottom:3%;} 
	.project_details_2_blue_box						{ width:10px; height:10px; background-color:#1A65A9; margin:1%; }
	.project_details_2_red_box						{ width:10px; height:10px; background-color:#DA888C; margin:1%; margin-left:8%}
	.project_details_2_checkbox						{ position:absolute; top:2%;right:2%; text-align:right; line-height: 2; }
	.project_details_2_input						{ border:none; background-color:#F7F7F7; padding:1%;   border: 1px solid #ccc; border-radius: 3px; margin:0 2%; font-size:18px; }
	.project_details_2_loan							{ background-color:#FAFAFA; }
	.project_details_2_loan_easy					{ position:relative; float:left; width:100%; }
	.project_details_2_loan_line					{ position:absolute; width:60%; border-bottom:1px solid #ccc; height:100%;left: 20%; z-index: 1;}
	.project_details_2_details						{ background-color:white; width:100%; display:flex; align-items:center; padding-top:12%; padding-bottom:3%; justify-content:center; position:relative;float:left;}
	.project_details_2_number						{ padding:14px 20px; border:1px solid #eee; background-color:white; border-radius:50%; position:absolute; top:-11%; z-index:2;}
	.project_details_2_button						{ background-color:white; padding:2% 0; position:relative; width:100%; float:left; }
	.project_details_2_num1							{ left:30%; }
	.project_details_2_num2							{ left:48%; }
	.project_details_2_num3							{ right:30%; }


@media screen and (min-width: 220px) and (max-width: 319px){
	.project_about_text		{ width: 80%; font-size: 12px; }
	#project_about_text		{ font-size: 18px; }
	.project_specification_div1{ width: 100%; }
	.project_roads			{ width: 100%; font-size: 12px; }
	.project_lighting		{ width: 100%; font-size: 12px; }
	.project_rains			{ width: 100%; font-size: 12px; }
	.project_disposal		{ width: 100%; font-size: 12px; }
	.project_water			{ width: 100%; font-size: 12px; }
	.project_specification_div2 { width: 100%; }
	.project_supply			{ width: 100%; font-size: 12px; }
	.project_usp_div1		{ width: 100%; }
	.project_dpsschool		{ width: 100%; margin: 0%; }
	.project_health			{ width: 100%; margin: 0%; }
	.project_city			{ width: 100%; margin: 0%; }
	.project_usp_div2		{ width: 100%; }
	.project_waterpark		{ width: 100%; margin: 0%; }
	.project_airport		{ width: 100%; margin: 0%; }
	.project_hotel			{ width: 100%; margin: 0%; }
	#project_clock_text		{ font-size: 12px; }
	#project_number			{ font-size: 20px; }
	.project_year			{ width: 15%; font-size: 12px; }
	.project_months			{ width: 15%; font-size: 12px; }
	.project_days			{ width: 15%; font-size: 12px; }
	.project_hr						{ width: 30%; }
	.project_amenities_text	{ font-size: 5px; }
	.project_amenities		{ width: 60%; }
	#specification			{ font-size: 15px; }
	.project_large			{ font-size: 15px; }
	#project_updates		{ font-size: 15px; }
	.project_initial_text	{ width: 50%; right: 27%; font-size: 8px;}
	#usp					{ font-size: 15px; }
	.project_city_text		{ border-left: 0px; border-right: 0px;}
	.project_dpsschool_text	{ border-left: 0px;  }
	.project_health_text	{ border-left: 0px;  }
	.project_waterpark_text	{ border-left: 0px; }
	.project_hotel_text		{ border-left: 0px; border-right: 0px; }
	.project_airport_text	{ border-left: 0px; }
	
	.project_details_2_checkbox {line-height: 1; font-size:12px;}
	.project_details_2_avail	{ font-size:13px; }
 }

@media screen and (min-width: 320px) and (max-width: 479px){
	.project_about_text		{ width: 80%; font-size: 12px; }
	#project_about_text		{ font-size: 18px; }
	.project_specification_div1{ width: 100%; font-size: 14px;  }
	.project_roads			{ width: 100%; font-size: 14px; }
	.project_lighting		{ width: 100%; font-size: 14px; }
	.project_rains			{ width: 100%; font-size: 14px; }
	.project_disposal		{ width: 100%; font-size: 14px; }
	.project_water			{ width: 100%; font-size: 14px; }
	.project_specification_div2 { width: 100%; }
	.project_supply			{ width: 100%; font-size: 14px; }
	.project_usp_div1		{ width: 100%; }
	.project_dpsschool		{ width: 100%; margin: 0%; }
	.project_health			{ width: 100%; margin: 0%; }
	.project_city			{ width: 100%; margin: 0%; }
	.project_usp_div2		{ width: 100%; }
	.project_waterpark		{ width: 100%; margin: 0%; }
	.project_airport		{ width: 100%; margin: 0%; }
	.project_hotel			{ width: 100%; margin: 0%; }
	#project_clock_text		{ font-size: 14px; }
	#project_number			{ font-size: 22px; }
	.project_year			{ width: 15%; font-size: 14px; }
	.project_months			{ width: 15%; font-size: 14px; }
	.project_days			{ width: 15%; font-size: 14px; }
	.project_hr 				{ width: 30%; }
	.project_amenities_text	{ font-size: 5px; }
	.project_amenities		{ width: 50%; }
	#specification			{ font-size: 16px; }
	.project_large			{ font-size: 16px; }
	#project_updates		{ font-size: 16px; }
	.project_initial_text	{ width: 60%; right: 20%; font-size: 10px; }
	#usp					{ font-size: 16px; }
	.project_details_2_num2	{ left:44%; }
	.project_details_2_number { top:-20%; }
	.project_details_2_checkbox {line-height: 1; font-size:12px;}
	.project_details_2_avail	{ font-size:13px; }
	.project_amenities		{ width: 50%; }
 }

@media screen and (min-width: 480px) and (max-width: 767px){ 
	.project_image			{ }
	.project_content		{ }
	.project_amenities		{ width: 50%; }
	.project_about_text		{ width: 80%; }
	#project_about_text		{ font-size: 18px; }
	.project_initial_text	{ font-size: 12px; }
	.project_amenities_text	{ font-size: 9px; }
	.project_year			{ width: 15%; font-size: 14px; }
	.project_months			{ width: 15%; font-size: 14px; }
	.project_days			{ width: 15%; font-size: 14px; }
	.project_roads			{ font-size: 15px; }
	.project_lighting		{ font-size: 15px; }
	.project_rains			{ font-size: 15px; }
	.project_disposal		{ font-size: 15px; }
	.project_water			{ font-size: 15px; }
	.project_supply			{ font-size: 15px; }
	.project_alignleft		{ font-size: 9px; }
	.project_alignright		{ font-size: 9px; }
	.project_details_2_number  { top:-17%; }
	.project_details_2_num2	{ left:46%; }
}

@media screen and (min-width: 768px) and (max-width: 1024px){ 
	.project_amenities_text	{ font-size: 13px; }
	.project_amenities		{ width: 30%; }
}


/* PROJECT DETAILS ENDS HERE */

/* PROJECT MAIN STARTS HERE */
	.project_main_body 				{ margin:0; padding:0; background-color:white; }
	.project_main_image				{ width:100%; display:block; height:100%; }
	.project_main_main 				{ width:100%; height:auto; position:absolute; top:90%; }
	.project_main_txt				{ font-family: sans-serif; font-size: 18px; color:#2f4f4f; padding-right: 5%; }
	.project_main_text_1 .project_main_text_2 .project_main_text_3 .project_main_text_4 .project_main_text_5 { background:white; }
	.project_main_txt1				{ font-family: sans-serif; color:#2f4f4f; }
	.videoclass						{ width:100%; height:100%; }
	.project_header_img				{ width:100%; height:90%; position:absolute; background-image:url("../images/project_header_img.jpg"); }
	.project_main_image_text_1 		{ background-color:white; }
	.project_main_image_text_2 		{ background-color:white; }
	.project_main_get_in_touch		{ width:100%; position:relative;float:left; }
	.project_main_footer			{ width:100%;}
	

@media screen and (min-width: 1025px) and (max-width: 1500px){ 

	
	/* object				{ width:100%; height:500px; } */
	.project_main_big				{ font-size: 35px; color:black; }
	.project_main_light				{ color: #939f9f; font-size:24px; }
	.project_main_light1			{ color: #939f9f; font-size:15px; }
	.project_main_hectares			{ float:left; width:30%; display:block; }
	.project_main_desc				{ font-size:15px; }
	.project_main_txt1				{ font-size:32px;}
	.project_main_view				{ float:left; padding-left:5%; padding-right:5%; background-color:#0E4D9C; font-family:sans-serif; font-size:18px; color:white;}
	
	.project_main_image_text_1		{ width:100%; height: ;overflow:hidden; position:relative; display:flex; align-items:center; }
	.project_main_image_1			{ width:50%;  float:left; }
	.project_main_text_1			{ width:40%;  float:left; position:relative; left:5%; }


	.project_main_image_text_2		{ width:100%; height:auto; float:right; position:relative; }
	.project_main_image_2			{ width:50%; height:100%; float:right; }
	.project_main_text_2			{ width:40%; float:left; position:absolute; align-items: center; left:5%; top:18%;}


} 


@media screen and (min-width: 768px) and (max-width: 1024px) { 

	/* object				{ width:100%; height:300px; } */
	.project_main_txt				{ font-size:15px; }
	.project_main_light				{ color: #939f9f; font-size:22px; }
	.project_main_light1			{ color: #939f9f; font-size:13px; }
	.project_main_hectares			{ float:left; width:30%; display:block; }
	.project_main_desc				{ font-size:15px; }
	.project_main_txt1				{ font-size:24px;}
	.project_main_view				{ float:left; padding-left:4%; padding-right:4%; background-color:#0E4D9C; font-family:sans-serif; font-size:13px; color:white; }
	.project_main_big				{ font-size: 32px; color:black; }
	.project_main_image_text_1		{ width:100%; height:100%;overflow:hidden; position:relative; display:flex; align-items:center; }
	.project_main_image_1			{ width:50%;  float:left; }
	.project_main_text_1			{ width:45%;  float:left; position:relative; left:5%;}
	.project_main_image_text_2		{ width:100%; height:auto; float:right; position:relative;}
	.project_main_image_2			{ width:50%; height:100%; float:right; }
	.project_main_text_2			{ width:45%; float:left; position:absolute; align-items: center; left:5%; top:13%;}

}



@media screen and (min-width: 480px) and (max-width: 767px){

	/* object				{ width:100%; height:200px; } */
	
	.project_main_light				{ color: #939f9f; font-size:20px; }
	.project_main_light1			{ color: #939f9f; font-size:11px; }
	.project_main_hectares			{ float:left; width:30%; display:block; }
	.project_main_desc				{ font-size:15px; }
	.project_main_txt1				{ font-size:26px;}
	.project_main_view				{ float:left; padding-left:4%;position:relative; padding-right:4%; background-color:#0E4D9C; font-family:sans-serif; font-size:13px; color:white; left:36%;}
	.project_main_txt				{ font-size:15px; }
	
	
	.project_main_big				{ font-size: 28px; color:black; }
	
	.project_main_image_text_1		{ width:100%; height: 100%;overflow:hidden; align-items:center;}
	.project_main_image_1			{ width:100%;  float:left; }
	.project_main_text_1			{ width:100%;  float:left; position:relative; text-align:center; padding-top:5%; padding-bottom:5%;}

	.project_main_image_text_2		{ width:100%; height:auto; float:right; }
	.project_main_image_2			{ width:100%; height:100%; float:right;  }
	.project_main_text_2			{ width:100%; height:100%; float:right; position:relative; text-align:center; padding-top:5%; padding-bottom:5%; }

 } 


@media screen and (min-width: 220px) and (max-width: 479px){ 

	/* object				{ width:100%; height:150px; } */
	
	.project_main_light				{ color: #939f9f; font-size:15px; }
	.project_main_light1				{ color: #939f9f; font-size:8px; }
	
	.project_main_big				{ font-size: 25px; color:black; }
	.project_main_txt1				{ font-size:24px;}
	.project_main_view				{ float:left; padding-left:4%; padding-right:4%;position:relative; left:30%; background-color:#0E4D9C; font-family:sans-serif; font-size:13px; color:white;}
	.project_main_txt				{ font-size:15px; }
	.project_main_hectares			{ float:left; width:30%; display:block; }
	.project_main_desc				{ font-size:15px; }
	
	.project_main_image_text_1		{ width:100%; height: 100%;overflow:hidden; align-items:center;}
	.project_main_image_1			{ width:100%;  float:left; }
	.project_main_text_1				{ width:100%;  float:left; position:relative; text-align:center; padding-top:5%; padding-bottom:5%;}

	.project_main_image_text_2		{ width:100%; height:auto; float:right; }
	.project_main_image_2			{ width:100%; height:100%; float:right;  }
	.project_main_text_2				{ width:100%; height:100%; float:right; position:relative; text-align:center; padding-top:5%; padding-bottom:5%; }

}

/* PROJECT MAIN ENDS HERE */
/* BLOG STARTS HERE */

/* html,body				{ width:100%; height:auto; margin: 0; padding: 0; border: 0; outline: 0; } */
.image					{  position: fixed; width: 100%; z-index: -1; height: 90%; }
.blog_header_image		{ position: fixed; width: 100%; z-index: -1; height: 90%; background-color: #B2B2B2; background-image:url("../images/blog_header_img.jpg") }
#blog_header_center		{ width: 25%; margin: 10% auto; background-color: white; color: black; font-size: 13px; padding: 2%; }
#blog_header_textbold	{ font-size: 36px; font-weight: bold; }
.imagetext				{ position: fixed; width: 100%; height: auto; }
.blog_container			{ position: absolute; width: 100%; height: auto; margin: 0px; top:90%; background-color: #eee; }
.blog_div_text_1		{ position: relative; width: 80%; height: auto; display: table; margin: 0 auto;}
.blog_imgclass			{ width: 100%; height: 100%;}
.blog_image_text_1		{ width:30%; height:100%; float:left; margin: 3% 1%; }
.blog_image_1			{ width:100%; height:50%; float:left; }
.blog_text_1			{ width:100%; height:50%; float:left; text-align:left; color: black; }
.blog_image_text_2		{ width:30%; height:100%; float:left; margin: 3% 1%; }
.blog_image_2			{ width:100%; height:70%; float:left; }
.blog_text_2			{ width:100%; height:30%; float:left; font-size: 20px; text-align:left; color: black; -webkit-justify-content: center; -webkit-align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; }
.blog_only_text			{ width:30%; height: 100%; float: left; margin: 3% 1%; }
.blog_text				{ width:100%; height:100%; float:left; margin: 10% auto; text-align:left;  }
.blog_transbox			{ height: 100%; width: 100%;  margin: 0 auto; font-size: 16px; position: fixed; text-align: center;  }

.blog_div_text_2		{ position: relative; width: 80%; height: auto; display: table; margin: 0 auto; }
.blog_imgclass			{ width: 100%; height: 100%;}
.blog_image_text_3		{ width:30%; height:100%; float:left; margin: 3% 1%; }
.blog_image_3			{ width:100%; height:70%; float:left; }
.blog_text_3			{ width:100%; height:30%; float:left; font-size: 20px; color: black; text-align:left; -webkit-justify-content: center; -webkit-align-items: center; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; }
.blog_image_text_4		{ width:30%; height:100%; float:left; margin: 3% 1%; }
.blog_image_4			{ width:100%; height:50%; float:left; }
.blog_text_4			{ width:100%; height:50%; float:left; text-align:left; color: black; }
.blog_only_text_1		{ width:30%; height: 100%; float: left; margin: 5% auto; }
.blog_text1				{ height:100%; float:left; font-size: 22px;   margin: 0 3%; color: black; display: flex; justify-content: center; display: inline-block; align-items: center; -webkit-justify-content: center; -webkit-align-items: center; display: -webkit-box; -webkit-box-align: center; font-size:17px; }
.blog_textbox			{ text-align: center; color: black; }
.blog_plot				{ font-size: 22px; }
.blog_box				{ display: table; padding: 4%;}
.blog_icons				{ text-align: left; margin: 0 3%; color: black; }
#blog_demand			{ font-size: 22px; font-weight: bold; }

#logo 					{ margin:0 auto;  /* float: right; */  font-size: 1.2rem;  position: fixed;  width: 100%;  height: auto; }
#logo  div 				{ text-align: center; }
#blog_follow			{ font-size: 20px; }
.blog_followus			{ border-bottom: 1px solid #EBEBEB; padding:4%;}
.blog_align				{ width: 100%; height:100%; }
#blog_date				{ color: #9A9A9A; font-size: 14px; }
#blog_date_may			{ text-align: center; color: #9A9A9A; font-size: 14px; }
#blog_date_margin		{ color: #9A9A9A; font-size: 14px; margin: 0 3%; }
.blog_facebook			{ width: 16px; height: 16px; position: relative; display: inline-block; margin: 0 -1%; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAZklEQVQ4jWNgwAGmTp3KM2/evMnz5s27P2/evP8wjEs9Bpg3b95EZI3kGPAYSePnefPmHZ43b95+UgyA2zpz5kwRojViM4BUjfuhGNnvMDHCXsAWcEj4AaUGHCPFK+SFwagBQ9EAAJwZyqRNrVj0AAAAAElFTkSuQmCC); }
.blog_twitter			{ width: 16px; height: 16px; position: relative; display: inline-block; margin: 0 -1%;  background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABEUlEQVQ4jb2ToU4DURBFV6xAVFSA309YWVGBRFYgKvoBlQg+4CUIPoCs2OzMuQYHCQJZHLICgURUIPgEREMWszSP7nbTJoRJxsx79955M/clyX+EpKGZTcxsKimL6kdJCCF193kPeAR8AHWTn8ANsJSU/1yo3T2EENJtAmAVgeNcAueJpCwqvpjZWaSe7QDXQBWrPG8dvgN3TaudBGY2jVUegXWPWivdfRx38HoIGFhLGm4Iqqo6Bd4OIFj8mnQIIQWumhXtQzBr7dvdL/YBS7otimLQaRp3H0t66CFYxU7cRFEUA0m5pOueZyzKsjxugYGZpHt3/9qxridJc+Cks+3IdbmZTZpZXDYfZ9Rl7z+NbzOloHVvMFRRAAAAAElFTkSuQmCC); }
.blog_linkedin			{ width: 16px; height: 16px; position: relative; display: inline-block; margin: 0 -1%; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABAElEQVQ4ja2UrU4DURCFr0AiKiGpqKisQPQBVvIICEQ9BrlyXZ9gxWbmnLNvgKhAIBAIJIIH6ANUIJArimAvmZBN2i1MMubM3C/zk7nJ3edmVrj7Ip1iJD9J7kl2ki5OAeyzS5qNBgAo9W3rqqrORgP+bJIeSW5JvtZ1fd5XdR81SVckNyQ/+pm9uPt1Sml4BiSfgyaSXczL7u43BwG9vwMoAZQkd0F/OwawlTTJLQNYhdjumBbWcWbuPo9vBgGSHrLWtu1dBDRNc3kQECsAsPq1tdmoCgYAk38H/OzYzKZ9C08h6TYCzGwaYl1y94WZFQCWMcnMCjMrhu4DwDJ/AV+OZYmDyFwdIQAAAABJRU5ErkJggg==); }
.blog_instagram			{ width: 16px; height: 16px; position: relative; display: inline-block; margin: 0 -1%; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABFUlEQVQ4jZWTIW4DQQxFDQIX9QLNEQoDCnKAgsCFAT1AjjCssMho7O8D9BCBhWElAQuiasGCqAoo3BK72q52pI4lSzPS+Nn/r5dyzlsAHYCxMk8isiMAp4qimzcb/N5TTVcz2xARMXMTEAJwrQCsySMmr5oAwLOZrc1s43KKgKuq7pm5YeZGRNqJ7j8ZgG8Ax5CjqnuahUPCyKPX/HrQua53M/sSkfsFwB2ATwAfSx4E4AxgZOZmDkgprbzr2d92S4BckgDgyd++FQFm9uAabyLSppRWk+IewJhz3hYBRESq+hifyEeO86iqh8lEy4CYxMxe3KiLmb3GFpYAw5JxpZivcvyJg5//k7FUFxKRXRhUmb2ItD/kjCxf1le9rwAAAABJRU5ErkJggg==); }
.blog_twitter_color		{ width: 16px; height: 16px; position: relative; display: inline-block; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABN0lEQVQ4jb1SLU8DQRA9UYGoqADfn1BZUYFEViAqKpDNded6CfyASxD8gEosDhIEsiSTvsVVIJCIChKuu7NJJaIhVwG9O7i7UhLCJM/s7PvYnfG8/6iQlw0F0x1CeiHHzc35Cc/3vIiTmoIZVJGJF22CxARJPvFGcGPSMvPZtjYXEjU1UcRJrSAAN8+RM2iZEeyxF3Lc3BwGWh4DbY+y6FmvBJeZixb9rflCcNcEN64SGEJ6qUsAuSPIaotbASO2nVwC9/QbMkFWIS8bqYBiOSTI8+4CbvLlpyNOaqTd+ceIfhZQMP3ivCHhjgmufLb10qUZse0Q3O2W6PP8Jqbls637bFuBdhfVz3CTU37dL5AVTD+AuyHIe4XzffAgA0J8UBo7l6KlYLoECdXUnA0hPeJFu2y9/7TWg33KUCZPv2IAAAAASUVORK5CYII=); }

@media screen and (min-width: 220px) and (max-width: 319px){ 
	.blog_image_text_1	{ width:100%;  margin: 0px;height: auto; }
	.blog_image_text_2	{ width:100%; margin: 0px; height: auto; }
	.blog_only_text		{ width:100%; margin: 0px; height: auto; }
	#blog_header_center	{ width: 50%; margin: 20% auto; }
	.blog_div_text_1	{ width:100%; }
	.blog_div_text_2	{ width:100%; }
	.blog_image_text_3	{ width:100%; margin: 0px; height: auto; }
	.blog_image_text_4	{ width:100%; margin: 0px; height: auto; }
	.blog_only_text_1	{ width:100%; margin: 0px; height: auto; }
	.blog_image_1		{ width:100%; height:auto; }
	.blog_text_1		{ width:100%; height:auto; } 
	.blog_image_2		{ width:100%; height:auto; }
	.blog_text_2		{ width:100%; height:auto; }
	.blog_image_3		{ width:100%; height:auto; }
	.blog_text_3		{ width:100%; height:auto; } 
	.blog_image_4		{ width:100%; height:auto; }
	.blog_text_4		{ width:100%; height:auto; }
	#blog_header_textbold	{ font-size: 18px; }	
}

@media screen and (min-width: 320px) and (max-width: 479px){ 
	.blog_image_text_1	{ width:100%; margin: 0px; height: auto; }
	.blog_image_text_2	{ width:100%; margin: 0px; height: auto; }
	.blog_only_text		{ width:100%; margin: 0px; height: auto; }
	#blog_header_center	{ width: 50%; margin: 20% auto; }
	.blog_div_text_1	{ width:100%; }
	.blog_div_text_2	{ width:100%; }
	.blog_image_text_4	{ width:100%; margin: 0px; height: auto; }
	.blog_image_text_3	{ width:100%; margin: 0px; height: auto; }
	.blog_only_text_1	{ width:100%; margin: 0px; height: auto; }
	.blog_image_1		{ width:100%; height:auto; }
	.blog_text_1		{ width:100%; height:auto; } 
	.blog_image_2		{ width:100%; height:auto; }
	.blog_text_2		{ width:100%; height:auto; }
	.blog_image_3		{ width:100%; height:auto; }
	.blog_text_3		{ width:100%; height:auto; } 
	.blog_image_4		{ width:100%; height:auto; }
	.blog_text_4		{ width:100%; height:auto; }
	#blog_header_textbold	{ font-size: 20px; }
}

@media screen and (min-width: 480px) and (max-width: 767px){ 
	#blog_header_center	{ width: 50%; margin: 20% auto; }
	.blog_div_text_1	{ width: 90%; }
	.blog_div_text_2	{ width: 90%; }
	.blog_image_text_1	{ height: 100%; }
	.blog_image_text_2	{ height: 100%; }
	.blog_only_text		{ height: 100%; }
	.blog_image_text_3	{ height: 100%; }
	.blog_image_text_4	{ height: 100%; }
	.blog_only_text_1	{ height: 100%; }
	.blog_plot			{ font-size: 16px; }
	#blog_demand		{ font-size: 16px; }
	.blog_font			{ font-size: 13px; }
	#blog_header_textbold	{ font-size: 25px; }

	
}

@media screen and (min-width: 768px) and (max-width: 1024px){ }

/* BLOG ENDS HERE */
